#header__holder {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  .header {
    &__top {
      position: relative;
      height: 56px;
      background: #FD9348;
      .logo {
        position: absolute;
        &__ed {
          top: 18px;
          left: 32px;
        }
        &__ad {
          top: 19px;
          left: 119px;
        }
      }
      .header__icons {
        position: absolute;
        cursor: pointer;
        .icon:before {
          font-size: 22px;
          color: #fff;
        }
      }
      .header__user {
        position: absolute;
        top: 12px;
        right: 32px;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        .ava {
          max-width: 100%;
          max-height: 100%;
        }
        .menu__user {
          position: absolute;
          // display: none;
          top: 44px;
          right: 0;
          width: 320px;
          background: #fff;
          border-radius: 2px;
          box-shadow: 0  0    2px 0  rgba(0,0,0,.12),
                      0  2px  6px 0  rgba(0,0,0,.24);
          cursor: default;
          &:before {
            position: absolute;
            display: block;
            top: -13px;
            right: 10px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-bottom: 8px solid #fff;
            content: '';
          }
          .top {
            overflow: hidden;
            padding: 24px;
            border-bottom: 1px solid rgba(0,0,0,.12);
            .avatar {
              float: left;
              width: 48px;
              height: 48px;
              margin: 0 24px 0 0;
            }
            .text {
              float: left;
              .name {
                font: 400 13px/20px 'Roboto';
                color: rgba(0,0,0,.87);
                margin: 0 0 6px 0;
              }
              .login {
                font: 400 13px/20px 'Roboto';
                color: rgba(0,0,0,.54);
              }
            }
          }
          .menu {
            padding: 8px 0;
            border-bottom: 1px solid rgba(0,0,0,.12);
            &__item {
              &-link {
                position: relative;
                display: block;
                height: 48px;
                line-height: 48px;
                font: 400 13px/48px 'Roboto';
                color: #767676;
                padding: 0 24px 0 80px;
                &:hover {
                  background: rgba(0,0,0,.03);
                }
                &:before {
                  position: absolute;
                  left: 24px;
                  top: 14px;
                  font: 20px/1 'Icons';
                  color: #767676;
                }
                &.menu__item-schedule:before {
                  content: '\e640';
                }
                &.menu__item-profile:before {
                  content: '\e8d9';
                }
                &.menu__item-company:before {
                  content: '\e8ca';
                }
                &.menu__item-groups:before {
                  content: '\e8d6';
                }
                &.menu__item-courses:before {
                  content: '\e6b2';
                }
              }
            }
          }
          .account {
            overflow: hidden;
            padding: 24px;
            border-bottom: 1px solid rgba(0,0,0,.12);
            .avatar {
              float: left;
              width: 48px;
              height: 48px;
              margin: 0 24px 0 0;
            }
            .text {
              float: left;
              .name {
                font: 400 13px/20px 'Roboto';
                color: rgba(0,0,0,.87);
                margin: 0 0 6px 0;
              }
              .login {
                font: 400 13px/20px 'Roboto';
                color: rgba(0,0,0,.54);
              }
            }
          }
          .bottom {
            overflow: hidden;
            padding: 12px 35px 12px 16px;
            .add__acc {
              float: left;
            }
            .exit {
              float: right;
              line-height: 36px;
            }
          }
        }
      }

      .header__apps {
        top: 17px;
        right: 81px;
        .icon:before {
          content: '\e892';
        }
        .menu__apps {
          position: absolute;
          display: none;
          top: 39px;
          right: -4px;
          padding: 24px 24px 16px 24px;
          width: 282px;
          border-radius: 2px;
          box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
          background: #fff;
          cursor: default;
          &.lower {
            top: 76px;
          }
          &.active {
            display: block;
          }
          &:before {
            position: absolute;
            display: block;
            top: -13px;
            right: 10px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-bottom: 8px solid #fff;
            content: '';
          }
          &-item {
            float: left;
            width: 54px;
            text-align: center;
            margin: 0 36px 24px 0;
            &:nth-child(3n) {
              margin: 0 0 24px 0;
            }
            &.last__row {
              margin: 0 36px 0 0;
              &:nth-child(3n) {
                margin: 0;
              }
            }
            &-img {
              max-width: 100%;
              max-height: 100%;
              &-holder {
                margin: 0 0 12px 0;
                border-radius: 8px;
              }
            }
            &-text {
              font: 400 8px/12px 'Roboto';
              color: rgba(0,0,0,.54);
            }
          }
        }
      }

      .header__notifications {
        position: absolute;
        top: 17px;
        right: 120px;
        .icon:before {
          position: relative;
          z-index: 1;
          content: '\e8cf';
        }
        .number {
          position: absolute;
          z-index: 2;
          bottom: 2px;
          right: 0;
          width: 14px;
          height: 14px;
          background: #00BCD4;
          border-radius: 100%;
          font: 400 8px/16px 'Roboto';
          color: #fff;
          text-align: center;
        }
        .menu__notifications {
          position: absolute;
          display: none;
          top: 39px;
          right: -81px;
          width: 356px;
          height: 356px;
          border-radius: 2px;
          box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
          background: #fff;
          cursor: default;
          &:before {
            position: absolute;
            display: block;
            top: -13px;
            right: 86px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-bottom: 8px solid #fff;
            content: '';
          }
          .notifications__title {
            font: 400 13px/52px 'Roboto';
            color: rgba(0,0,0,.54);
            text-align: center;
          }
          &-top {
            overflow: auto;
            width: 100%;
            height: 304px;
            background: #F5F5F5;
            .notifications__title {
              display: none;
            }
            .list {
              &__item {
                position: relative;
                padding: 24px 60px 12px 24px;
                .name {
                  font: 400 13px/20px 'Roboto';
                  color: rgba(0,0,0,.54);
                  margin: 0 0 12px 0;
                  .title {
                    color: #000;
                  }
                }
                .time {
                  font: 400 11px/16px 'Roboto';
                  color: rgba(0,0,0,.26);
                }
                .eye:after {
                  position: absolute;
                  right: 24px;
                  top: 24px;
                  font: 22px/1 'Icons';
                  color: rgba(0,0,0,.12);
                  content: '\e69a';
                  cursor: pointer;
                }
              }
            }
          }
          &-bottom {
            width: 100%;
            height: 52px;
            .notifications__title {
              cursor: pointer;
            }
          }
        }
      }

      .header__courses {
        top: 17px;
        right: 161px;
        .icon:before {
          content: '\e8de';
        }
      }

    }
    &__bottom {
      overflow: hidden;
      height: 64px;
      line-height: 64px;
      padding: 0 37px 0 32px;
      background: #fff;
      box-shadow: 0  0    2px 0  rgba(0,0,0,.12),
                  0  2px  6px 0  rgba(0,0,0,.24);
      .arrow {
        float: left;
        margin: 0 24px 0 0;
        &:before {
          font-size: 30px;
          color: #757575;
          content: '\e893';
        }
      }
      .title {
        float: left;
        font: 400 24px/64px 'Roboto';
        color: rgba(0,0,0,.54);
      }
      .tabs {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 0 0 0 46px;
        &__item {
          float: left;
          height: 64px;
          padding: 0 18px;
          &-link {
            font: 400 13px/64px 'Roboto';
            color: rgba(0,0,0,.54);
            text-transform: uppercase;
          }
        }
        .line {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          background: #FD9348;
        }
      }
      .plus {
        float: right;
        height: 64px;
        margin: 0 24px 0 0;
        .icon {
          height: 16px;
          cursor: pointer;
          &:before {
            display: block;
            margin-top: -5px;
            font-size: 30px;
            color: #757575;
            content: '+';
          }
        }
      }
      .settings {
        float: right;
        height: 64px;
        .icon {
          height: 22px;
          cursor: pointer;
          &:before {
            font-size: 22px;
            color: #757575;
            content: '\e855';
          }
        }
      }
    }
  }
}
