#header__holder {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  .header {
    &__top {
      position: relative;
      height: 56px;
      background: #FD9348;
      .logo {
        position: absolute;
        &__ed {
          top: 18px;
          left: 32px;
        }
        &__ad {
          top: 19px;
          left: 119px;
        }
      }
      .header__icons {
        position: absolute;
        cursor: pointer;
        .icon:before {
          font: 22px/1 'Icons';
          color: #fff;
        }
      }
      .header__user {
        overflow: hidden;
        top: 12px;
        right: 32px;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        .ava {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .header__apps {
        top: 17px;
        right: 81px;
        .icon:before {
          content: '\e892';
        }
      }

      .header__notifications {
        top: 17px;
        right: 120px;
        .icon:before {
          content: '\e8cf';
        }
      }

      .header__courses {
        top: 17px;
        right: 161px;
        .icon:before {
          content: '\e8de';
        }
      }

    }
    &__bottom {
      height: 64px;
      background: #fff;
      box-shadow: 0  0    2px 0  rgba(0,0,0,.12),
                  0  2px  6px 0  rgba(0,0,0,.24);
    }
  }
}
