.header__activity-team-menu {
  right      : 42px;
  top: 28px;
    z-index: 210;
}

.header__activity-user-menu {
  right      : 36px;
  top: 27px;
    z-index: 100;
}

.header__activity-team-menu, .header__activity-user-menu {
  position   : absolute;
  width      : 0;
  height     : 0;
  z-index    : 100;
  background : #FFF;
  box-shadow : 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
  transition : all 0.2s ease;
  overflow: hidden;
  &.active {
    width  : 385px;
    height : 500px;
    overflow-y: scroll;
    transition : all 0.3s ease;
  }
  .header__notification-list {
    margin          : 0;
    padding         : 0;
    list-style      : none;
    &-item {
      width: 385px;
      position: relative;
      padding: 24px 0 0 24px;
      overflow: hidden;
      &:first-child {
        border-radius: 2px 2px 0 0;
      }
      &:last-child {
        border-radius: 0 0 2px 2px;
        .header__notification-list-item-right {
          border: 0;
        }
      }
      &.unreaded {
        .header__notification-list-item-ripple {
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          margin-top: -500px;
          margin-left: -500px;
          width: 1000px;
          height: 1000px;
          opacity: 1;
          background-color : #E0F7FA;
          border-radius: 100%;
          transition: all 1s ease;
        }
      }
      &.readed {
        .header__notification-list-item-ripple {
          width: 0;
          height: 0;
          opacity: 0;
        }
      }
      &-left {
        position: relative;
        z-index: 2;
        float: left;
        width: 32px;
        padding: 30px 0 0 0;
        margin: 0 24px 0 0;
        &-img {
          vertical-align: top;
          overflow: hidden;
          border-radius: 100%;
          max-width: 100%;
        }
      }
      &-right {
        position: relative;
        z-index: 2;
        float: left;
        width: 290px;
        padding: 0 24px 24px 0;
        border-bottom: 1px solid rgba(0,0,0,0.12);
        &-date {
          font: 12px/14px 'Roboto';
          color: rgba(0,0,0,0.54);
          margin: 0 0 12px 0;
        }
        &-name {
          font: 15px/20px 'Roboto';
          color: rgba(0,0,0,0.87);
          margin: 0 0 8px 0;
        }
        &-text {
          font: 13px/20px 'Roboto';
          color: rgba(0,0,0,0.54);
          margin: 0;
        }
        &-link {
          float: right;
          text-transform: uppercase;
          font: 14px/20px 'Roboto';
          color: #00BCD5;
          margin: 20px 0 0 0;
        }
      }
    }
  }
}
