.header__tabs {
  position: relative;
  &-left {
    position: absolute;
    display: none;
    left: -36px;
    top: 0;
    width: 2px;
    height: 8px;
    background: rgba(255,255,255,.6);
    transform: rotate(45deg);
    cursor: pointer;
    &:after {
      position: absolute;
      content: '';
      left: 4px;
      top: 4px;
      width: 2px;
      height: 8px;
      background: rgba(255,255,255,.6);
      transform: rotate(90deg);
    }
    &:hover {
      background: #fff;
      &:after {
        background: #fff;
      }
    }
  }
  &-right {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    width: 2px;
    height: 8px;
    background: rgba(255,255,255,.6);
    transform: rotate(-45deg);
    cursor: pointer;
    &:after {
      position: absolute;
      content: '';
      left: -3px;
      top: 4px;
      width: 2px;
      height: 8px;
      background: rgba(255,255,255,.6);
      transform: rotate(90deg);
    }
    &:hover {
      background: #fff;
      &:after {
        background: #fff;
      }
    }
  }
  &-menu {
    &-holder {
      position: relative;
      width: 100%;
      padding: 19px 0 0 0;
      height: 32px;
      margin: 0 0 0 37px;
    }
    &-item {
      position: relative;
      float: left;
      margin: 0 23px 0 23px;
      font: 400 13px/13px 'Roboto';
      color: #fff;
      opacity: .6;
      text-transform: uppercase;
      transition: opacity .3s ease;
      .header__tabs-line {
        position: absolute;
        width: calc(100% + 46px);
        bottom: -14px;
        left: -23px;
        height: 2px;
        background: rgba(255,255,255,.6);
      }
      &.active {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &-line {
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 10px;
    height: 2px;
    background: #fff;
  }
}
