.auth {
  // position: absolute;
  overflow        : auto;
  width           : 100%;
  height          : 100%;
  padding         : 0 0 60px 0;
  background      : url('auth_bg.jpg') no-repeat 50% 50%;
  background-size : cover;
  user-select     : none;
  transform       : translateZ(0);
  align-items     : center;
  justify-content : center;
  input:-webkit-autofill {
    -webkit-box-shadow : 0 0 0px 1000px white inset;
  }
  &.is__course-description {
    position: absolute;
    overflow: visible;
    top             : 0;
    left            : 0;
    z-index: 9999;
    background: $black_54;
    height: auto;
  }

  &__box {
    @include middle-block(384px);
    @include white__block(1, 0);
    margin-top    : 140px;
    position      : relative;
    .logo {
      position   : absolute;
      top        : -90px;
      left       : 0;
      width      : 100%;
      text-align : center;
    }
    .auth__title-top {
      position       : absolute;
      top            : -64px;
      left           : 0;
      width          : 100%;
      text-align     : center;
    }
  }
  .auth__top {
    position : relative;
    padding  : 32px 24px 90px 24px;
    .auth_agree {
      padding-top: 13px;
      .checkbox {
        input[type=checkbox]:checked + .checkbox-material .check:before {
          color: #00bcd8 ;
          animation: checkbox-on $checkbox-animation-check forwards;
        }
      }
      label {
        .checkbox-material {
          color: #00bcd8 ;

        }
        em {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        font: 400 13px/20px 'Roboto';
        color: rgba(0,0,0,0.54);
        padding-left: 28px;
        min-height: 16px;
        }
      }
    }
    .auth__title {
      position      : relative;
      margin-bottom : 36px;
      font-size     : 18px;
      color         : #4A4A4A;
      line-height   : 24px;
      text-align    : center;
    }
    .create__acc, .have__acc {
      position : absolute;
      bottom   : 12px;
      left     : 24px;
      &-link {
        font            : 400 12px/12px 'Roboto';
        color           : rgba(0, 0, 0, .54);
        text-decoration : none;
      }
    }
    .auth__what {
      float      : left;
      opacity    : .8;
      font       : 400 12px/12px 'Roboto';
      color      : #00BCD8;
      transition : all .3s ease;
      cursor     : pointer;
      &:hover {
        opacity : 1;
      }
    }
    &-text {
      font : 300 13px/20px 'Roboto';
    }
    .btn-holder {
      .auth__submit {
        float      : right;
        background : #00BCD4;
        color      : #FFF;
      }
      .btn.btn-flat,
      .btn.btn-raised {
        float : right;
      }
      .btn.btn-flat {
        &:hover {
        }
      }
      .btn {
        float : right;
      }
    }
  }
  .auth__bottom {
    padding       : 16px 24px 12px;
    border-top    : 1px solid rgba(0, 0, 0, .12);
    background    : #FFF;
    border-radius : 0 0 2px 2px;
    .title {
      font   : 400 13px/20px 'Roboto';
      color  : rgba(0, 0, 0, .54);
      margin : 0 0 12px 0;
    }
    .social__links {
      overflow : hidden;
      &-item {
        float         : left;
        width         : calc(50% - 3px);
        height        : 30px;
        margin        : 0 6px 6px 0;
        font          : 400 13px/30px 'Roboto';
        color         : #FFF;
        border-radius : 2px;
        text-align    : center;
        cursor        : pointer;
        &:nth-child(2n) {
          margin : 0 0 6px 0;
        }
        &-fb {
          background : #507CC0;
        }
        &-vk {
          background : #375A91;
        }
        &-od {
          background : #EF8117;
        }
      }
    }
  }
  .auth__problem {
    position : relative;
    padding  : 32px 24px 96px;
    .auth__title {
      font       : 400 18px/24px 'Roboto';
      text-align : left;
    }
    .btn-holdr {
      position : absolute;
      bottom   : 8px;
      right    : 24px;
      @include clearfix;
      .auth__button {
        float     : right;
        font-size : 14px;
      }
      .auth__button-cancel {
        margin-right     : 8px !important;
        background-color : #FFF !important;
        color            : #000 !important;
        opacity          : .26;
        transition       : opacity .3s ease;
        &:hover {
          opacity : .54;
        }
      }
    }
    .input-wrp {
      margin : 0 0 12px 0;
      textarea {
        border : 0;
      }
    }
  }
  label.error {
    display : none !important;
  }
  .auth__error {
    position      : absolute;
    z-index       : 1000;
    bottom        : 20px;
    left          : 50%;
    display       : none;
    width         : 300px;
    margin-left   : -150px;
    padding       : 24px;
    border-radius : 2px;
    background    : rgba(0, 0, 0, .8);
    font          : 400 13px/20px 'Roboto';
    color         : #FFF;
    text-align    : center;
  }
  .input-wrp {
    width : 100%;
    height: 37px;
    margin-bottom: 25px;
    &:before {
      position : absolute;
      z-index  : 12;
      font     : 14px/14px 'Icons';
      color    : rgba(0, 0, 0, .54);
    }
    &.email {
      input {
        padding : 0 0 0 32px;
      }
      &:before {
        top     : 9px;
        left    : 4px;
        content : '\e8d9';
      }
    }
    &.password {
      input {
        padding : 0 0 0 32px;
      }
      &:before {
        top     : 9px;
        left    : 5px;
        content : '\e637';
      }
    }
    input, textarea {
      height: 37px;
      position : relative;
      color    : rgba(0, 0, 0, .87);
      line-height: 22px;
      &:before {
        position : absolute;
      }
    }
    input.error + hr {
      border-bottom : 2px solid #F50057;
    }
    hr {
      border-bottom : 2px solid #00BCD8;
    }
  }
  input.error {
    border-color : #F8538D;
  }

  &__reg {
    &-title {
      position : relative;
      padding  : 0 0 0 30px;
      font     : 400 13px/20px 'Roboto';
      color    : rgba(0, 0, 0, .54);
      margin   : 0 0 16px 0;
      &:before {
        position : absolute;
        left     : 4px;
        top      : 2px;
        font     : 400 18px/12px 'Icons';
        color    : rgba(0, 0, 0, .54);
      }
      &.auth__reg-data:before {
        content : '\e8d9';
      }
      &.auth__reg-secutity:before {
        content : '\e637';
      }
      &.auth__reg-type:before {
        font    : 400 14px/12px 'Icons';
        content : '\e600';
      }
    }
    &-block {
      margin : 0 0 36px 0;
    }
    &-select {
      padding-top: 6px;
      position : relative;
      margin   : 0 0 24px 0;
      &ed {
        position : relative;
        width    : 180px;
        font     : 400 13px/20px 'Roboto';
        color    : rgba(0, 0, 0, .87);
        cursor   : pointer;
        &:after {
          position   : absolute;
          display    : block;
          content    : '';
          top        : 7px;
          right      : 0;
          width      : 0;
          height     : 0;
          border     : 5px solid transparent;
          border-top : 5px solid #717171;
        }
      }
      &-list {
        position   : absolute;
        display    : none;
        z-index    : 15;
        top        : -14px;
        left       : -16px;
        width      : 224px;
        background : #FFF;
        padding    : 8px 0;
        box-shadow : 0 0 2px 0 rgba(0, 0, 0, .12),
        0 2px 6px 0 rgba(0, 0, 0, .24);
        &.active {
          display : block;
        }
        &-item {
          padding : 6px 6px 6px 16px;
          font    : 400 13px/20px 'Roboto';
          color   : rgba(0, 0, 0, .54);
          cursor  : default;
          &:hover {
            color      : #000;
            background : rgba(0, 0, 0, .12);
          }
        }
      }
    }
  }
  .corporate_acc {
    display : none;
    &.active {
      display : block;
    }
  }
  .checkbox__holder .label {
    font  : 400 13px/20px 'Roboto';
    color : rgba(0, 0, 0, .54);
  }
  &_agree {
    &-link {
      color : #00BCD8;
    }
  }
}

.oferta_holder {
  padding : 104px 0 40px 0;
  .header_simple {
    position   : fixed;
    z-index    : 1000;
    overflow   : hidden;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 64px;
    padding    : 0 0 0 24px;
    box-shadow : 0 0 2px 0 rgba(0, 0, 0, .12),
    0 2px 6px 0 rgba(0, 0, 0, .24);
    background : #FFF;
    .back__holder {
      float  : left;
      width  : 32px;
      margin : 0 24px 0 0;
      a:after {
        font    : 400 20px/64px 'Icons';
        color   : rgba(0, 0, 0, .54);
        content : '\e893';
        cursor  : pointer;
      }
    }
    .title {
      float   : left;
      width   : calc(100% - 80px);
      padding : 0 24px 0 0;
      font    : 400 20px/64px 'Roboto';
      color   : rgba(0, 0, 0, .54);
    }
  }

  .auth_oferta {
    position      : relative;
    width         : 960px;
    margin        : 0 auto;
    padding       : 40px 24px 80px 24px;
    box-shadow    : 0 0 2px 0 rgba(0, 0, 0, .12),
    0 2px 6px 0 rgba(0, 0, 0, .24);
    background    : #FFF;
    border-radius : 2px;
    .oferta_block {
      margin : 0 0 20px 0;
      .title {
        font  : 700 15px/20px 'Roboto';
        color : #797979;
        margin-bottom: 16px;
      }
      .text {
        font  : 400 13px/20px 'Roboto';
        color : #666;
        margin-bottom: 8px;
      }
      a {
        color : #666;
      }
    }
    .btn_holder {
      background-color : white;
      position         : absolute;
      overflow         : hidden;
      width            : 100%;
      right            : 0;
      bottom           : 0;
      padding          : 16px 15px 14px;
      border-top       : 1px solid rgba(0, 0, 0, .12);
      #submit {
        float : right;
      }
    }
  }

}

.what__wrp {
  &-link {
    font  : 400 13px/20px 'Roboto';
    color : rgba(0, 0, 0, .54);
  }
}
