.h__BC-blue {
  background-color : rgba(85, 184, 255, 0.72) !important;
}

@mixin btnRemove {
  .remove {
    display         : inline-block;
    position        : absolute;
    top             : 8px;
    right           : 12px;
    text-shadow     : 0 1px 0 #FFF;
    text-decoration : none;
    color           : #777;
    font            : 20px/100% arial, sans-serif;
    cursor          : pointer;
    &:after {
      content : '×';
    }
  }
}

@mixin blockHelpError {
  .helpError {
    cursor : default;
    i.icon.help {
      display   : none;
      position  : absolute;
      left      : -35px;
      top       : 2px;
      font-size : 18px;
      color     : red;
    }
  }
  &.error {
    .helpError {
      .com-top-tooltip {
        bottom     : auto;
        left       : -10px;
        text-align : left;
      }
      i.icon.help {
        display : block;
      }
    }
  }
}

#js-course-leading, .leadingRightSideBar {
  width       : 400px !important;
  z-index     : 999;
  padding-top : 0;
  .leading__list {
    .item {
      width         : 100%;
      height        : 80px !important;
      border-bottom : 1px solid #E2E2E2;
      color         : #757575;
      position      : inherit !important;
      padding       : 0 !important;
      &:hover {
        background-color : #F7F7F7;
        cursor           : pointer;
      }
      &.active {
        background-color : #E0F7F9;
        color            : #00BCD4;
      }
      .ava {
        float  : left;
        width  : 48px;
        margin : 16px 24px 16px 12px;
        img {
          display       : block;
          width         : 100%;
          border-radius : 100%;
        }
      }
      .info {
        float      : left;
        margin-top : 30px;
      }
    }
  }
}

#js-course-tags, #js-course-categories {
  width       : 400px !important;
  z-index     : 999;
  padding-top : 0;
  .all__Tags {
    .tag, .category {
      display       : inline-block;
      margin-right  : 10px;
      padding       : 2px 10px 2px 10px;
      border        : 1px solid #D8D8D8;
      color         : #757575;
      border-radius : 2px;
      margin-bottom : 10px;
      cursor        : pointer;
      &:hover {
        color  : #00BCD4;
        border : 1px solid #00BCD4;
      }
      &.active {
        color  : #00BCD4;
        border : 1px solid #00BCD4;
      }
    }
  }
}

.contenter {
  .presentation__block {
    .addedActionBlock {
      position : absolute;
      top      : 108px;
      left     : calc(50% - 144px);
      .addedTeaser {
        cursor           : pointer;
        padding          : 32px 5px 5px 5px;
        text-align       : center;
        width            : 124px;
        height           : 120px;
        border-radius    : 4px;
        background-color : rgba(0, 0, 0, 0.3);
        display          : inline-block;
        margin-right     : 16px;
        color            : white;
        &.hide {
          display : none;
        }
        &.show {
          display : inline-block;
        }
        #inputFile_teaserImg, #inputFile_teaserVideo {
          width   : 1px;
          opacity : 0;
          height  : 1px;
        }
        .icon {
          font-size : 36px;
        }
        .contentText {
          margin-top : 8px;
          font-size  : 13px;
          float      : left;
          text-align : center;
          width      : 112px;
        }
        &:hover {
          background-color : rgba(0, 0, 0, 0.5);
          display          : inline-block;
        }
      }
    }
    .noEmptyAddedAction {
      position     : absolute;
      top          : 108px;
      right        : 0;
      margin-right : 24px;
      .addedTeaser {
        display          : none;
        position         : relative;
        @include btnRemove;
        cursor           : pointer;
        background-color : rgba(0, 0, 0, 0.3);
        margin-bottom    : 16px;
        border-radius    : 4px;
        padding          : 5px 34px 5px 14px;
        color            : white;
        &.show {
          display : block;
        }
      }
    }
  }
  .cabinet__block {
    .actual-courses {
      .carusel-wrp {
        .course-prev-list {
          .corses-prev {
            margin-right  : 10px;
            margin-bottom : 10px;
            &:nth-child(3) {
              margin-right : 10px;
            }
            &:nth-child(4) {
              margin-right : 0px;
            }
          }
        }
      }
    }
    .infoCourses {
      width            : 936px;
      margin           : 0 auto;
      padding          : 12px 54px 12px 150px;
      margin-bottom    : 56px;
      @include white__block(1, 0);
      background-color : #E2E2E2;
      .infoItem {
        display      : inline-block;
        margin-right : 72px;
        .title {
          margin-bottom : 10px;
          font-weight   : 300;
        }
        .count {
          text-align : center;
        }
      }
    }
  }
  .oh__nihuyase-block {
    .helpError {
      i.icon.help {
        top : 14px;
      }
    }
    .form_group {
      position : relative;
      @include blockHelpError;
      .helpError {
        position : absolute;
        i.icon.help {
          top : 14px;
        }
      }
    }
    .course__title {
      width            : 100%;
      background-color : rgba(255, 255, 255, 0);
      border           : 0;
      border-bottom    : 1px solid #949494;
      color            : white;
      outline          : none;
    }
    .detail__info {
      .description {
        textarea {
          width   : 100%;
          height  : 150px;
          border  : 0;
          color   : #757575;
          outline : none;
          resize  : none;
        }
      }
    }
    .itemDetailInfo {
      position   : relative;
      @include blockHelpError;
      .helpError {
        i.icon.help {
          top : 28px;
        }
      }
      padding    : 24px 0px 24px 0px;
      border-top : 1px solid #E8E8E8;
      .title__Item {
        color          : #757575;
        font-size      : 24px;
        padding-bottom : 30px;
      }
      .description__Item {
        @include btnRemove;
        .allTagDescriptionCourse, .allCategoriesDescriptionCourse {
          display : inline-block;
          .tag, .category {
            position      : relative;
            display       : inline-block;
            margin-right  : 10px;
            padding       : 2px 24px 2px 10px;
            border        : 1px solid #D8D8D8;
            color         : #757575;
            border-radius : 3px;
            .remove {
              top   : 2px;
              right : 5px;
            }
          }
        }
        .addTag {
          display : inline-block;
          width   : 118px;
        }
        .addCategory {
          display : inline-block;
          width   : 190px;
        }
        &.block__lead {
          cursor        : pointer;
          height        : 160px;
          border        : 1px solid #D8D8D8;
          border-radius : 3px;
          margin-bottom : 16px;
          &.item {
            cursor   : default;
            position : relative;
            .ava {
              margin : 8px 48px 8px 10px;
            }
            .info {
              padding-top : 10px;
              width       : calc(100% - 220px);
            }
          }
          .addLead {
            text-align : center;
            margin-top : 40px;
            .titleLead {
              i.cabinet {
                font-size : 48px;
                color     : #ADADAD;
              }
            }
            .descriptionLead {
              color : #ADADAD;
            }
          }
        }
      }

    }
  }

}

//////////
.contenter#contenterCourseProgram {
  .oh__nihuyase-block {
    margin-top : 0px;
  }
  .inner-content {
    padding-top : 128px;
    .programs {
      .hideBtnFinalTest {
        display : none;
      }
      .section {
        width            : 984px;
        margin           : 0 auto;
        background-color : #E0E0E0;
        margin-bottom    : 24px;
        border-radius    : 2px;
        &.add_new {
          position : relative;
          @include blockHelpError;
        }
        .title.input_section {
          @include blockHelpError;
          .helpError {
            .com-top-tooltip {
              left : 5px !important;
            }
            i.icon.help {
              left : -16px;
              top  : 8px;
            }
          }
          position      : relative;
          padding       : 8px 12px 8px 12px;
          border-bottom : 1px solid #D0D0D0;
          margin-bottom : 0px;
          font-size     : 15px;
          @include btnRemove;
          .numberSection {
            color : #757575;
          }
          .section_title {
            width            : 95%;
            background-color : rgba(255, 255, 255, 0);
            border           : 0;
            outline          : none;
          }
        }
        .descriptionSection {
          padding : 16px;
          .add_attachment {
            @include white__block(1, 1);
          }
          .add_onlineCourse {
            @include white__block(1, 1);
            display : none;
          }
          .actionAttachment.onlineCourse {
            display         : flex;
            justify-content : space-between;
            .add_attachment {
              width : calc(50% - 8px);
            }
            .add_onlineCourse {
              display : block;
              width   : calc(50% - 8px);
            }
          }

          .allAttachmentsSection {
            min-height : 10px;
          }
          .attachment {
            @include white__block(1, 1);
            margin-bottom : 16px;
            cursor        : move;
            .adaptive__title {
              cursor : pointer;
              .right-col {
                @include btnRemove;
                .remove {
                  position    : relative;
                  top         : -2px;
                  right       : auto;
                  margin-left : 10px;
                }
              }
              .left-col {
                margin-bottom : 0px;
              }
            }
            .info_attachment {
              @include blockHelpError;
              .icon__block {
                cursor : pointer;
              }
              .helpError {
                left     : 100%;
                top      : 36px;
                position : absolute;
                i.icon.help {
                  font-size : 24px;
                }
              }
            }
            .edit_attachment {
              display : none;
            }
            &.open-state {
              height  : 100%;
              width   : calc(100% + 176px);
              margin  : 12px -88px 12px -88px;
              padding : 13px 16px 16px 64px;
              .info_attachment {
                display : none;
              }
              .edit_attachment {
                display : block;
                .form_edit {
                  width : 904px;
                  @include btnRemove;
                  .remove {
                    top   : 0px;
                    right : 35px;
                  }
                  .formGroupAttachmentTitle {
                    position : relative;
                    @include blockHelpError;
                  }
                  .form_group {
                    @include blockHelpError;
                    .helpError {
                      position : absolute;
                      i.icon.help {
                        top : 14px;
                      }
                    }
                    &.fixedHeight {
                      height : 181px;
                    }
                    .titleEdit {
                      font-size     : 12px;
                      color         : #757575;
                      margin-bottom : 12px;
                    }
                    .input_title {
                      .numberSection {
                        margin-right : 5px;
                      }
                      .attachmentInput {
                        width            : 95%;
                        background-color : rgba(255, 255, 255, 0);
                        border           : 0;
                        outline          : none;
                        resize           : none;
                      }
                      textarea.attachmentInput {
                        width      : 100%;
                        max-height : 120px;
                        min-height : 42px;
                        //height: 120px;
                      }

                    }
                    hr {
                      border           : none;
                      color            : rgba(0, 0, 0, 0.26);
                      background-color : rgba(0, 0, 0, 0.26);
                      height           : 1px;
                    }
                    .validateMaxCount {
                      text-align : right;
                      font-size  : 12px;
                      color      : rgba(0, 0, 0, 0.26);
                    }
                    &.error {
                      hr {
                        background-color : red;
                      }
                      .validateMaxCount {
                        color : red;
                      }
                    }

                  }
                  .upload_attachments {
                    height   : 120px;
                    position : relative;
                    @include blockHelpError;
                    .uploadFileInput {
                      width    : 0;
                      height   : 0;
                      position : absolute;
                      opacity  : 0;
                    }
                    .selectAttachment {
                      margin-right  : 16px;
                      display       : inline-block;
                      text-align    : center;
                      color         : #777;
                      padding       : 32px 5px 5px 5px;
                      border        : 1px solid #777;
                      border-radius : 4px;
                      width         : 128px;
                      height        : 120px;
                      float         : left;
                      cursor        : pointer;
                      &:hover {
                        background-color : #F7F7F7;
                      }
                      &.active {
                        background-color : #F7F7F7;
                      }
                      i.icon {
                        font-size : 36px;
                      }
                      .selectText {
                        margin-top : 8px;
                        font-size  : 13px;
                      }
                    }
                  }
                  .editFileUpload {
                    position      : relative;
                    margin-bottom : 48px;
                    @include blockHelpError;
                    .itemFile {
                      display : none;
                      &.attachmentShow {
                        display : block;
                      }
                      &.addedFileInfo {
                        .fileInfo {
                          display : inline-table;
                          padding : 12px;
                          @include white__block(1, 0);
                          width   : 184px;
                          .titleName {
                            font-size     : 12px;
                            color         : #757575;
                            margin-bottom : 12px;
                          }
                          .fileType {
                            margin-top : 16px;
                            .typeName {
                              margin-left : 12px;
                            }
                          }
                        }
                        .fileDuration {
                          position    : relative;
                          top         : -10px;
                          display     : inline-table;
                          margin-left : 16px;
                          .titleDuration {
                            font-size     : 12px;
                            color         : #757575;
                            margin-bottom : 13px;
                            display       : inline-block;
                          }
                          .inputDuration {
                            outline       : none;
                            border        : 0;
                            border-bottom : 1px solid #BCBCBC;
                            margin-left   : 12px;
                            width         : 40px;
                          }
                        }
                      }
                      &.addedTest {
                        .input_title {
                          .remove {
                            top : 2px;
                          }
                        }
                      }
                      &.addedWebinar {
                        .times {
                          display : flex;
                          .startDate {
                            input {
                              border        : 0px;
                              border-bottom : 1px solid #A9A9A9;
                              margin-left   : 8px;
                              width         : 147px;
                            }
                          }
                          .startHour, .duration {
                            margin-left : 46px;
                            input {
                              border        : 0px;
                              border-bottom : 1px solid #A9A9A9;
                              margin-left   : 8px;
                              width         : 40px;
                              text-align    : center;
                            }
                          }
                        }
                        .leading {
                          margin-top : 24px;
                          display    : inline-flex;
                          .titleLeadingx {
                            display : inline-block;
                          }
                          .all {
                            .blockLead {
                              width         : 256px;
                              height        : 80px;
                              border        : 1px solid #D6D5D5;
                              border-radius : 4px;
                              cursor        : pointer;
                              margin-left   : 16px;
                              margin-bottom : 16px;
                              display       : inline-block;
                              position      : relative;
                              @include btnRemove;
                              .added {
                                padding    : 16px;
                                text-align : center;
                                margin-top : 8px;
                                .infoLead {
                                  display : inline-flex;
                                  i {
                                    font-size : 30px;
                                  }
                                  img.ava {
                                    width         : 30px;
                                    height        : 30px;
                                    border-radius : 50%;
                                  }
                                  .contentLead {
                                    padding-top   : 5px;
                                    padding-left  : 5px;
                                    width         : 160px;
                                    white-space   : nowrap;
                                    overflow      : hidden;
                                    text-overflow : ellipsis;
                                  }
                                }

                              }

                            }
                          }

                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
      .addedTest {
        border-top  : 1px solid rgba(0, 0, 0, 0.26);
        padding-top : 24px;
        .testHolder {
          .testIssue {
            @include blockHelpError;
            padding-bottom : 24px;
            position       : relative;
            .helpError {
              position : absolute;
            }
            &.error {
              .helpError {
                i.icon.help {
                  display : block !important;
                }
              }
            }
            .input_title {
              position       : relative;
              @include btnRemove;
              padding-bottom : 5px;
              border-bottom  : 1px solid #D0D0D0;
              .remove {
                top : 2px;
              }
              .issueInput {
                border  : 0;
                outline : none;
                width   : 90%;
              }
            }
            .questions {
              margin-top : 24px;
              .questionItem {
                padding-bottom : 16px;
                position       : relative;
                .auth_agree {
                  display : inline-block;
                  top     : 2px;
                }
                .questionInput {
                  border         : 0;
                  outline        : none;
                  width          : 90%;
                  border-bottom  : 1px solid #D0D0D0;
                  padding-bottom : 5px;
                }
                @include btnRemove;
                .remove {
                  top   : 1px;
                  right : 36px;
                }
              }

            }
          }
        }
        .addedTestIssue {
          display       : inline-block;
          padding       : 5px;
          border        : 1px solid #8E8E8E;
          color         : #8E8E8E;
          border-radius : 4px;
          margin-top    : 24px;
          cursor        : pointer;
        }
      }
      .test_block {
        width  : 960px;
        height : 100%;
        margin : 0 auto;
        .info_test {
          @include blockHelpError;
          @include white__block(1, 1);
          padding  : 13px 16px 16px 120px;
          position : relative;
          cursor   : move;
          @include btnRemove;
          .adaptive__title {
            cursor : pointer;
            .title {
              margin-bottom : 0;
            }
          }
          .icon__block {
            cursor : pointer;
          }
        }
        .parentFinalTest {
          position : relative;
          @include blockHelpError;
          .helpError {
            position : absolute;
            left     : 100%;
            top      : 36px;
            i {
              font-size : 24px !important;
            }
          }
        }
        .description_test {
          display : none;
        }
        &.open-state {
          height  : 100%;
          width   : calc(100% + 64px);
          margin  : 12px -64px 12px -64px;
          padding : 13px 16px 16px 64px;
          .info_test {
            display : none;
          }
          .description_test {
            display  : block;
            @include white__block(1, 0);
            padding  : 13px 16px 64px 13px;
            position : relative;
            @include btnRemove;
            .titleSectionTest {
              padding : 16px 12px 16px 24px;
            }
            .testIssue {
              padding-left  : 64px;
              padding-right : 64px;
            }
            .addedTestIssue {
              margin-left : 64px;
              margin-top  : 0;
            }
          }
        }
      }
    }
  }

}

.content#membersAdminLeading {
  padding-top : 130px;
  .members__invite {
    @include white__block(1, 0);
  }
}

.content#tagsContenterAdmin, .content#categoriesContenterAdmin {
  padding-top : 130px;
  .container {
    @include white__block(1, 0);
    padding : 24px;
    .title {
      font-size      : 24px;
      padding-bottom : 20px;
    }
    .allTags {
      padding-top : 24px;
      .tag {
        border-bottom  : 1px solid;
        padding-bottom : 8px;
        width          : 550px;
        position       : relative;
        margin-bottom  : 24px;
        @include btnRemove;
        .remove {
          top   : 2px;
          right : 2px;
        }
        .titleTagName {
          width            : 95%;
          background-color : rgba(255, 255, 255, 0);
          border           : 0;
          outline          : none;
          resize           : none;
        }
      }
    }
  }
}

#course {
  .video__content {
    video {
      width : 100%;
    }
  }
}

#materialEditContenter {
  .oh__nihuyase-block {
    width      : 1128px;
    margin-top : 90px;
    .course__title {
      font-size     : 18px;
      margin-bottom : 24px;
      border-bottom : 1px solid #DCDADA;
      color         : #757575;
    }
    .detail__info .description textarea {
      height     : 50px;
      max-height : 150px;
    }
    .upload_attachments {
      height   : 120px;
      position : relative;
      .uploadFileInput {
        width    : 0;
        height   : 0;
        position : absolute;
        opacity  : 0;
      }
      .selectAttachment {
        margin-right  : 16px;
        display       : inline-block;
        text-align    : center;
        color         : #777;
        padding       : 32px 5px 5px 5px;
        border        : 1px solid #777;
        border-radius : 4px;
        width         : 128px;
        height        : 120px;
        float         : left;
        cursor        : pointer;
        .selectText {
          margin-top : 8px;
          font-size  : 13px;
        }
        i.icon {
          font-size : 36px;
        }
      }
    }
    .editFileUpload {
      position      : relative;
      margin-bottom : 48px;
      .itemFile {
        display : none;
        &.attachmentShow {
          display : block;
        }
        &.addedFileInfo {
          .fileInfo {
            display : inline-table;
            padding : 12px;
            @include white__block(1, 0);
            width   : 184px;
            .titleName {
              font-size     : 12px;
              color         : #757575;
              margin-bottom : 12px;
            }
            .fileType {
              margin-top : 16px;
              .typeName {
                margin-left : 12px;
              }
            }
          }
          .fileDuration {
            position    : relative;
            top         : -10px;
            display     : inline-table;
            margin-left : 16px;
            .titleDuration {
              font-size     : 12px;
              color         : #757575;
              margin-bottom : 13px;
              display       : inline-block;
            }
            .inputDuration {
              outline       : none;
              border        : 0;
              border-bottom : 1px solid #BCBCBC;
              margin-left   : 12px;
              width         : 40px;
            }
          }
        }
        &.addedTest {
          .input_title {
            .remove {
              top : 2px;
            }
          }
        }
      }
    }
  }

}

.courses-list, .actual-courses {
  .corses-prev, .course-prev-list {
    .image.material {
      background-image : linear-gradient(-180deg, #00FFEB 0%, #00BCD4 100%);
      display          : flex;
      justify-content  : center;
      align-items      : center;
      i.icon {
        font-size : 38px;
        color     : white;
        height    : 38px;
      }
    }
  }
}