@media only screen and (max-width : 800px) {
  // Главная страница
  @import "index";
  @import "sign_in";
  ////////////////
  @import "cabinet"; // мой кабинет
  @import "courses"; // страница курсов
  @import "course_description"; // страница описания курса
  @import "attachment"; // страница материала и теста

  //Профиль пользователя
  @import "profile";
  @import "payments";
  //////////////////

  @import "groups"; // страница управление группой
  @import "payment"; // страница оплаты

  header {
    transition-duration : 300ms;
    &.hide_header {
      top : -100px !important;
    }
  }

  #alert {
    width  : 100%;
    bottom : 0px;
    .text {
      font-size : 12px;
    }
  }

  .left__aside-main-nav{
    .info__block{
      display: none;
    }
  }
}