@media only screen and (max-width : 800px) {
  // Главная страница
  @import "index";
  @import "sign_in";
  ////////////////
  @import "cabinet"; // мой кабинет
  @import "courses"; // страница курсов
  @import "course_description"; // страница описания курса
  @import "attachment"; // страница материала и теста

  //Профиль пользователя
  @import "profile";
  @import "payments";
  //////////////////

  @import "groups"; // страница управление группой
  @import "payment"; // страница оплаты

  header {
    transition-duration : 300ms;
    &.hide_header {
      top : -100px !important;
    }
    .left-col {
      .page__title {
        width : 100%;
        //max-width: 150px;
        img {
          display : none;
        }
      }
      .page__children {
        width    : 85%;
        position : relative;
        //left: 48px;
        a {
          overflow : visible !important;
        }
      }
    }
    &.landing__header {
      .action__block {
        width   : initial;
        display : inline-block;
      }
    }

  }

  #alert {
    width  : 100%;
    bottom : 0px;
    .text {
      font-size : 12px;
    }
  }

  .left__aside-main-nav {
    .info__block {
      display : none;
    }
  }
  //.help_notif .help_content {
  //  width : 320px;
  //}
  // popap с выбором тарифа
  #formCourseRegPopUp, .popup_test_separator {
    .last__chance {
      width   : 100%;
      padding : 4px;
      .plane__list {
        display : block;
        .item {
          padding-bottom : 4px;
          .visibile__part {
            width  : 100%;
            height : 100%;
          }
        }
      }
      .popupRequestRegistration {
        width : 100%;
        .title {
          font-size : 5vw;
        }
        .showInfo.auth_agree-link {
          display : none;
        }
      }
    }
  }//конец попапа

}