body {
  header {
    width     : 100% !important;
    min-width : 0 !important;
    .right-col {
      .page__action {
        .item {
          display : none;
        }
        .item.ava.header__user {
          display : block;
          .menu__user {
            right : -16px !important;
            top   : 45px !important;
            &:before {
              display : none !important;
            }
          }
        }
      }
    }
  }
  .inner-content {
    min-width   : 0;
    padding-top : 84px;
    .content#cabinet {
      width   : 100%;
      padding : 12px 12px;
      .empty-description {
        width : 100%;
      }
      .choose-course {
        width : 100%;
        .description {
          width : 100%;
        }
      }
    }
  }
  .courses-aside {
    right : -200%;
  }
}