body {
  header {
    .left-col {
      overflow-x : auto !important;
    }
  }
  .inner-content {
    .category__filter_list {
      width : 100%;
      .btn.js_openLeftSideBar {
        font-size : 75%;
      }
    }
    .content-courses#courses {
      width        : 100%;
      padding-left : 8px;

      // блок курсов
      figure.basic__module {
        margin-left : calc(50% - 350px / 2);
        // до 380 пк
        @media only screen and (max-width : 380px) {
          margin-left : calc(50% - 330px / 2);
        }
        // до 380 пк
      }
      // конец блока курсов

      @media only screen and (max-width : 360px) {
        padding-left : 4px;
        figure.basic__module {
          margin-left : calc(50% - 310px / 2);
          width       : 310px;
          height      : 327px;
          .image {
            width  : 310px;
            height : 175px;
          }
          figcaption {
            width : 310px;
            .adaptive__title {
              width        : 310px;
              margin-right : 0px;
              .left-col {
                width : initial !important;
              }
            }
            .info__block .time__date {
              width     : 80%;
              font-size : 60%;
            }
          }
        }
      }
      @media only screen and (max-width : 325px) {
        figure.basic__module {
          margin-left : calc(50% - 274px / 2);
        }
      }
    }
  }
}