body {
  .billing__wrp {
    .content__block {
      padding-top : 64px;
      .page__title {
        display : none;
      }
      .action__block.company__action {
        .btn {
          font-size : 44%;
          &.btn-flat{
            font-size : 100%;
          }
        }
      }
      .tarif__info {
        width : 100%;
        > .title {
          font-size : 18px;
        }
        ul.right {
          float       : left;
          margin-left : 0px;
        }
        .sum {
          .qty {
            font-size : 16px;
          }
          .title {
            font-size : 14px;
          }
        }
        .company__name {
          width       : 100%;
          margin-left : 0;
          .com__input-item {
            float : left;
            width : 100%;
          }
        }

        .company__calc {
          padding-bottom : 14px;
          height         : 100%;
          .title {
            font-size : 11px;
          }
          .duration {
            width        : auto;
            margin       : 0;
            margin-right : 4px;
            .dropdown__flash {
              margin-left : 14px;
              width       : auto;
              .visible__part {
                font-size : 14px;
                .icon.to__drop {
                  font-size : 14px;
                  right     : initial;
                }
              }
              .hidden__list {
                height     : 200px;
                overflow-x : scroll;
              }
            }
          }
          .qty__person {
            margin-right : 4px;
            margin-left  : 15%;
            width        : auto;
          }
          .sum {
            margin-right : 15%;
            width        : auto;
            .qty {
              span {
                font-size : 16px;
              }
            }
          }
        }
      }

    }
  }
}