.adaptive-title {
  display: flex;
  width: 100%;
  .left-col {
      overflow      : hidden;
      white-space   : nowrap;
      text-overflow : ellipsis;
  }
  .right-col {
    white-space: nowrap;
    div {
      @include inline-block;
    }
  }
}
