.checkbox__holder {
    position: relative;
    min-height: 16px;
    .checkbox {
        display: none;
        &:not(:checked) + label:before {
            content: '';
        }
        &:checked + label:before {
            background: #00bcd8;
            transition: background .2s ease;
            content: '';
        }
        &:not(:checked) + label i.check {
            position: absolute;
            z-index: 3;
            top: 9px;
            left: 2px;
            width: 0px;
            height: 2px;
            background: #fff;
            transform: rotate(45deg);
            &:after {
                position: absolute;
                z-index: 3;
                top: -8px;
                left: 4px;
                width: 2px;
                height: 0px;
                background: #fff;
                transform: rotate(0deg);
                content: '';
            }
        }
        &:checked + label i.check {
            position: absolute;
            z-index: 3;
            top: 9px;
            left: 2px;
            width: 6px;
            height: 2px;
            background: #fff;
            transform: rotate(45deg);
            transition: width .2s ease;
            &:after {
                position: absolute;
                z-index: 3;
                top: -8px;
                left: 4px;
                width: 2px;
                height: 8px;
                background: #fff;
                transform: rotate(-180deg);
                content: '';
                transition: height .2s ease;
                text-align: left;
            }
        }
        &:checked + label i.ripple-check {
            position: absolute;
            z-index: 1;
            top: -7px;
            left: -9px;
            margin: 0;
            width: 34px;
            height: 34px;
            opacity: 0;
            border-radius: 100%;
            background: rgba(0, 0, 0, .05);
            -webkit-animation: rippleAnimation .3s ease-out;
        }
        &:hover {
            &:not(:checked) + label i.ripple-uncheck {
                position: absolute;
                z-index: 1;
                top: -7px;
                left: -9px;
                width: 34px;
                height: 34px;
                margin: 0;
                opacity: 0;
                border-radius: 100%;
                background: rgba(0, 0, 0, .05);
                -webkit-animation: rippleAnimation .3s ease-out;
            }
        }
      &.error:not(:checked) + label:before {
        border: 1px solid #f8538d;
      }
    }
    .label {
        position: relative;
        display: inline-block;
        padding-left: 28px;
        min-height: 16px;
        user-select: none;
        &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 0 12px 0 0;
            border: 1px solid #00bcd8;
            border-radius: 2px;
            cursor: pointer;
            background: transparent;
        }
    }
}
