.create__name-description {
  @include middle-block(744px);
  text-align: center;
  margin-bottom: 32px;
}
.create__name-form {
  @include white__block(1,0);
  padding: 32px 16px 16px 48px;
  height: 368px;
  position: relative;
  .title {
    margin-bottom: 45px;
  }
  .item {
    width: 793px;
  }
  .action__block {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    justify-content: flex-end;
    .btn {
    }
  }
}
