#profile {
  .profile__block {
    position: relative;
    overflow: hidden;
    width: 920px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 24px 24px 72px 64px;
    background: #fff;
    box-shadow: 0  0    2px 0  rgba(0,0,0,.12),
                0  2px  6px 0  rgba(0,0,0,.24);
    border-radius: 2px;
  }
  .profile__main {
    .avatar {
      position: relative;
      float: left;
      width: 128px;
      height: 128px;
      margin: 0 32px 0 0;
      border-radius: 100%;
      .ava {
        max-width: 100%;
        min-width: 100%;
        border-radius: 100%;
      }
      input {
        display : none;
      }
      &:hover {
        .upload__block {
          position      : absolute;
          top           : 0;
          left          : 0;
          width         : 128px;
          height        : 128px;
          border-radius : 50%;
          overflow      : hidden;
          background    : url("ava-upload.png") 50% 50% no-repeat;
          z-index       : 2;
          cursor        : pointer;
          input {
            display     : block;
            width       : 300px;
            margin-left : -170px;
            position    : absolute;
            z-index     : 3;
            cursor      : pointer;
            height      : 128px;
            opacity     : 0;
          }
        }
      }
    }
    .data {
      float: left;
      width: 450px;
      .name {
        font: 400 18px/1 'Roboto';
        color: rgba(0,0,0,.87);
        margin: 0 0 12px 0;
      }
      .state {
        font: 400 13px/1 'Roboto';
        color: rgba(0,0,0,.87);
        margin: 0 0 24px 0;
      }
      .account {
        font: 400 13px/1 'Roboto';
        color: rgba(0,0,0,.54);
        margin-bottom: 8px;
        .number {
          color: rgba(0,0,0,.87);
        }
      }
      .tets {
        font-size: 13px;
        color: rgba(0,0,0,0.54);
        line-height: 20px;      }
    }
  }


  .profile__password {
    padding: 24px 24px 72px 32px;
    .title {
      font: 400 18px/18px 'Roboto';
      color: rgba(0,0,0,.54);
      margin: 0 0 32px 0;
    }
    .password {
      margin: 0 0 12px 0;
      font: 400 13px/13px 'Roboto';
      color: rgba(0,0,0,.26);
    }
  }

  .profile__block-tariff {
    &.profile__tariff-free {
      padding: 32px 32px 48px 32px;
    }
    &.profile__tariff-buy {
      padding: 32px;
      background: #FFF3EB;
      .text {
        font: 400 13px/18px 'Roboto';
        color: rgba(0,0,0,.54);
        margin: 0 0 20px 0;
        &:last-child {
          margin: 0;
        }
        &.black {
          color: rgba(0,0,0,.87);
        }
      }
    }
    &.profile__tariff-paid {
      padding: 32px;
    }
    overflow: hidden;
    .title {
      float: left;
      width: 70%;
      font: 400 18px/24px 'Roboto';
      color: rgba(0,0,0,.87);
      margin: 0 5% 8px 0;
    }
    .time {
      float: right;
      width: 25%;
      font: 400 13px/18px 'Roboto';
      color: rgba(0,0,0,.54);
      margin: 0 0 8px 0;
      text-align: right;
    }
    .quantity {
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.87);
    }
    .info {
      border-top: 1px solid #E0E0E0;
      overflow: hidden;
      margin: 24px 0 0 0;
      padding: 24px 0 0 0;
      &__item {
        float: left;
        width: calc(100%/3);
        font: 400 13px/18px 'Roboto';
        color: rgba(0,0,0,.54);
        &-top {
          margin: 0 0 24px 0;
        }
        &-bottom {

        }
      }
    }
  }

  .profile__account {
    padding: 24px 24px 72px 32px;
    .title {
      font-size: 18px;
      color: rgba(0,0,0,0.87);
      line-height: 24px;
      margin-bottom: 8px;
    }
    .description {
      font-size: 13px;
      color: rgba(0,0,0,0.54);
      line-height: 18px;
    }
  }
}
