
.icon_lvl-0 {
    .funnel__lvl-icon-cham {
        background : #FF6D00;
        &:before {
            font    : 20px/32px 'Icons';
            color   : #FFFFFF;
            content : "\E600";
        }
    }
    .funnel__lvl-icon-sub {
        color : #FF6D00;
        &:before {
            content : "\E602";
        }
    }
}

.icon_lvl-1 {
    .funnel__lvl-icon-cham {
        background : #FF6D00 url(/images/111.png) 50% 55% no-repeat;
    }
    .funnel__lvl-icon-sub {
        color : #FF6D00;
    }
}

.icon_lvl-2 {
    .funnel__lvl-icon-cham {
        background : #FFAB3F url(/images/222.png) 50% 55% no-repeat;
    }

    .funnel__lvl-icon-sub {
        color : #FFAB3F;
    }
}

.icon_lvl-3 {
    .funnel__lvl-icon-cham {
        background : #3FC4FF url(/images/333.png) 50% 55% no-repeat;
    }

    .funnel__lvl-icon-sub {
        color : #3FC4FF;
    }
}

.icon_lvl-4 {
    .funnel__lvl-icon-cham {
        background : #FF80AB url(/images/444.png) 50% 55% no-repeat;
    }

    .funnel__lvl-icon-sub {
        color : #FF80AB;
    }
}

.icon_lvl-5 {
    .funnel__lvl-icon-cham {
        background : #6A199A url(/images/555.png) 50% 55% no-repeat;
    }

    .funnel__lvl-icon-sub {
        color : #6A199A;
    }
}

.icon_lvl-6 {
    .funnel__lvl-icon-cham {
        background : #00CFD3;
        &:before {
            font    : 24px/32px 'Icons';
            color   : #FFFFFF;
            content : "\E899";
        }
    }

    .funnel__lvl-icon-sub {
        background : #00CFD3;
        &:before {
            font    : 14px/16px 'Icons' !important;
            color   : #FFFFFF !important;
            content : "\E899" !important;
        }
    }
}
