$taskColumnMargin : 40px;
$gridMargin : 24px;
$gridPadding : 24px;

$colorBlue : #3FC4FF;

.clearfix {
    clear : both;
}

.task__column {
    float     : left;
    margin    : 0 40px 40px 0;
    width     : calc((100% - 2 * #{$taskColumnMargin}) / 3);
    min-width : 320px;
    max-width : 640px;
    &:nth-child(3n) {
        margin : 0;
    }
    > .title {
    	position: relative;
        font-size     : 15px;
        color         : rgba(0, 0, 0, 0.54);
        line-height   : 24px;
        position      : relative;
        padding-left  : 30px;
        margin: 0 0 12px 24px;
        &:before {
            font       : 20px/32px 'Icons';
            color      : #6E6E6E;
            display    : block;
            position   : absolute;
            top        : 6px;
            left       : 0;
            background : url("task_column-title.png") 50% 50% no-repeat;
            content    : " ";
            width      : 18px;
            height     : 10px;
        }
    }
}

.hide__btn {
  .actions_buttons {
    display: none !important;
  }
}

.task__overdue, .task__dashboard {
	> .title {
    	position: relative;
        font-size     : 15px;
        color         : rgba(0, 0, 0, 0.54);
        line-height   : 24px;
        position      : relative;
        padding-left  : 30px;
        margin: 0 0 12px 24px;
        &:before {
            font       : 20px/32px 'Icons';
            color      : #6E6E6E;
            display    : block;
            position   : absolute;
            top        : 6px;
            left       : 0;
            background : url("task_column-title.png") 50% 50% no-repeat;
            content    : " ";
            width      : 18px;
            height     : 10px;
        }
    }
}

.task__overdue-holder, .task__dashboard {
	transition: width .7s ease, height .3s ease;
	overflow: hidden;
	height: auto;
	padding: 0 40px 0 40px;
	margin: 0 0 0 -40px;
	&.hidden {
		width: 0 !important;
		height: 0 !important;
		overflow: hidden;
		transition: width .7s ease, height .3s ease;
	}
	&.notShow {
	}
}

.task__overdue, .dashboard__block {
	width: 100%;
}

.task-wrp {
    position : relative;
    overflow : hidden;
}

.task-wrp.no-h {
    overflow : visible;
}

.slider-wrp {
    @include clearfix;
    .task__column {
        &:first-child {
            margin-left        : 0;
            -webkit-transition : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            -moz-transition    : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            -o-transition      : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition         : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }
        &:last-child {
            width              : calc(((100% - 184px) - 2 * #{$taskColumnMargin}) / 3);
            position           : absolute;
            top                : 40px;
            left               : 101%;
            -webkit-transition : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            -moz-transition    : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            -o-transition      : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition         : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);

        }
    }
}

.slided {
    .task__column {
        &:first-child {
            margin-left        : calc(((100% - 2 * #{$taskColumnMargin}) / -3) - 100px);
            -webkit-transition : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            -moz-transition    : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            -o-transition      : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition         : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);

        }
        &:last-child {
            -webkit-transition : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            -moz-transition    : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            -o-transition      : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition         : all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            position           : absolute;
            top                : 40px;
            left               : calc((((100% - 2 * #{$taskColumnMargin}) / 3) * 2) + 40px);
        }
    }
}

.task__category {
    margin : 0 0 $gridMargin 0;

}

.task__category-title {
    font   : 400 13px/20px 'Roboto';
    color  : rgba(0, 0, 0, .26);
    margin : 0 0 12px 24px;
}

#alert {
    position      : fixed;
    z-index       : 1000;
    left          : 50%;
    display       : none;
    margin-left   : -150px;
    bottom        : 20px;
    background    : rgba(0, 0, 0, 0.6);
    border-radius : 2px;
    font          : 400 13px/20px 'Roboto';
    color         : #FFFFFF;
    width         : 300px;
    text-align    : center;
    padding       : 24px;
}

.task {
    margin-bottom : $gridMargin;
}

.task__item {
    @import "action__block";
    position : relative;
    width    : 100%;
    &:first-child {
        > .mock__border {
            display : none;
        }
    }
    .mock__border {
        width            : 100%;
        height           : 10px;
        background-color : #FFFFFF;
        border-bottom    : 1px solid rgba(0, 0, 0, 0.12);
        position         : absolute;
        top              : -5px;
        left             : 0;
        z-index          : 2;
    }
    .chameleon__task {
        position   : relative;
        background : #FFFFFF;
        box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
        &:hover {
            > .actions_buttons {
                opacity : 1;
                display : block;
                &:hover {
                    width : 185px;
                }
            }
        }
        .ripple__range__ct, .ripple__range__at {
            width    : 100%;
            height   : 100%;
            position : absolute;
            overflow : hidden;
            z-index  : 1;
            .color__ripple {
                opacity : 0;
            }
        }

        .default__state {
            position : relative;
            z-index  : 2;
            padding  : 24px 24px 24px 80px;
            .title {
                font   : 400 15px/24px 'Roboto';
                color  : rgba(0, 0, 0, 0.87);
                margin : -4px 0 7px 0;
            }
            .icon-holder {
                position   : absolute;
                top        : 24px;
                left       : 24px;
                width      : 32px;
                height     : 32px;
                text-align : center;
                i {
                    @include inline-block;
                    width         : 32px;
                    height        : 32px;
                    border-radius : 100%;
                }
            }
            .description {
                font   : 400 13px/20px 'Roboto';
                color  : rgba(0, 0, 0, 0.54);
                margin : 0 0 10px 0;
            }
            .score {
                font   : 400 14px/20px 'Roboto';
                color  : #9B9B9B;
                margin : 0 0 0 5px;
            }

        }

    }
    .chameleon__task.prev {
        margin-bottom : 10px;
    }
    .chameleon__task.separated {
        width  : calc(100% + 64px);
		margin-left: -32px;
		margin-bottom: 8px;
		margin-top: 8px;
        .default__state {
            display : none !important;
        }
    }

    .active__state {
        display : none;
    }
    @import "subtasks";

}

.task__item.opened {
    .chameleon__task.separated {
        width  : 100%;
        margin : 0;
    }
}

.task__item.base-task {
    .subtask__item {
        .mock__border {
            display : block !important;
        }
    }
}

.js__active-block-open {
    .mock__border {
        display : none !important;
    }
    .separated {
        .actions_buttons {
            display : none !important;
        }
    }
    .subtask__item {
        &:first-child {
            .default-state > hr {
                display : none;
            }
        }
    }
    & + .task__item .mock__border {
        display : none !important;
    }
}

.task__item.base-task {
    .funnel__lvl-icon-cham {
        background-color : #FF6D00;
        &:before {
            font    : 20px/32px 'Icons';
            color   : #FFFFFF;
            content : "\e600";
        }
    }
    .subtask__item {
        .icon-holder {
            .funnel__lvl-icon-sub {
                &:before {
                    vertical-align : top;
                    font           : 16px/16px 'Icons';
                    color          : #FFB67F;
                    content        : "\e602";
                }
            }
        }
    }
}

.task__item.prev {
    margin-bottom : 8px;
}

@import "icons";
@import "buttons";
@import "crm__tasks";

@import "open-state";

/* Стили для ripple */

.ink {
    position      : absolute;
    display       : block;
    background    : #00BCD4;
    border-radius : 100%;
}

.ink.animate {
    -webkit-animation : rippleCyan 0.3s linear;
}

@mixin animations($name) {
    @-webkit-animation #{$name} {
        @content;
    }
    @-moz-animation #{$name} {
        @content;
    }
    @-o-animation #{$name} {
        @content;
    }
    @animation #{$name} {
        @content;
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(rippleCyan) {
    0% {
        opacity   : 0;
        transform : scale(0);
    }
    100% {
        opacity   : 1;
        transform : scale(2);
    }
}

.overdue__block {
    & > .title {
        font-size     : 15px;
        color         : rgba(0, 0, 0, 0.54);
        line-height   : 24px;
        position      : relative;
        padding-left  : 68px;
        margin-bottom : 25px;
        margin-top    : 6px;
        &:before {
            font       : 20px/32px 'Icons';
            color      : #6E6E6E;
            display    : block;
            position   : absolute;
            top        : -2px;
            left       : 29px;
            background : url("task_column-title.png") 50% 50% no-repeat;
            content    : " ";
            width      : 32px;
            height     : 32px;
        }
    }
}

.notShow {
  opacity: 0;
}
