<a href="<%= $env_mode.current_domain %>" title="<%= $env_mode.name_title %>" class="" target="_blank">
  <img align="left" alt="" src="<%= $env_mode.current_domain %>/images/ad__logo_2.png" width="199.5" style="max-width:399px; padding-bottom: 0;
          display: inline !important; vertical-align: bottom;" class="mcnImage">
</a>