@mixin clearfix {
  *zoom : 1;
  &:after {
    clear : both;
    display     : table;
    content     : "";
    line-height : 0;
  }
  &:before {
    display     : table;
    content     : "";
    line-height : 0;
  }
}
