.content-video {
    color: rgba(0, 0, 0, 0.26);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    .video-title {

    }
    .video-author {
        position    : relative;
        position    : absolute;
        left        : 0;
        top         : 40px;
        font-size   : 20px;
        color       : #FD9348;
        line-height : 32px;
    }
}
