.adaptive__title {
  display: flex;
  width: 100%;
  justify-content: space-between;;
  .left-col {
      @include eclipses;
      .page__title {
        @include eclipses;
      }
  }
  .right-col {
    // white-space: nowrap;
    > div {
      @include inline-block;
    }
  }
}
