.content__for_row{
  @include clearfix;
  figure {
    float: left;
  }
  &.horizontal {
    @include middle-block(936px);
    figure {
      float: none;
    }
  }
}
figure{
  cursor:pointer;
}
figure.basic__module {
  @include white__block(1, 0);
  width: 360px;
  height: 352px;
  overflow: hidden;
  .image {
    position: relative;
    height: 200px;
    width: 360px;
    overflow: hidden;
    .type__icon {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      width: 72px;
      height: 72px;
      text-align: center;
      color: #fff;
      margin: -36px 0 0 -36px;
      i {
        font-size: 46px;
        line-height: 72px;
      }
    }
    .fade {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 69%, #000000 100%);
      z-index: 1;
    }
    img {
      width: 100%;
    }
    .category {
      @include inline-block;
      @include eclipses;
      @include text__setting(normal__typo);
      position: absolute;
      bottom: 9px;
      left: 2px;
      max-width    : 256px;
      padding      : 2px 7px;
      color        : #fff;
      margin: 8px;
      z-index: 2;
      i {
        margin-right: 6px;
      }
    }
    .status {
      @include text__setting(smallest__typo);
      background: black__color(secondary__color);
      padding: 4px 8px;
      border-radius: 2px;
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 2;
      color: #fff;
      &.overdue {
        background: rgba(245,0,87,0.54);
      }
      &.completed {
        background: rgba(0,187,211,0.54);
      }
    }
  }
  figcaption {
    position: relative;
    height: 152px;
    width: 360px;
    .adaptive__title {
      padding: 13px 16px 0 16px;
      margin-bottom: 8px;
      height: 37px;
    }
    .left-col {
      @include text__setting(normal__typo, secondary__color);
    }
    .right-col {
      @include text__setting(normal__typo, secondary__color);
      color: $primaryColor;
    }
    .title {
      padding: 0 16px;
      @include text__setting(header__typo_1);
      height: 56px;
      overflow:hidden;
      margin-bottom: 16px;
    }
    .info__block {
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      .type {
        @include text__setting(normal__typo, secondary__color);
        position: relative;
        padding-left: 24px;
        width: 67%;
        i {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .time__date {
        width: 49%;
        @include text__setting(normal__typo, secondary__color);
        text-align: right;
      }

    }
    .progress__block {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      overflow: hidden;
      .bar {
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primaryColor;
      }
    }
  }
  &.completed {
    .image {
      .fade {
        background: rgba(255,255,255,0.54);
      }
    }
  }
  &.basic__mat {
    figcaption {
      .authors {
        @include text__setting(normal__typo);
        padding-right: 16px;
        color: $primaryColor;
        text-align: right;
        margin-bottom: 8px;
        height: 24px;
        margin-top: 12px;
      }
    }
  }
  &.short__ver {
    width: 264px;
    height: 264px;
    .image {
      height: 144px;
      width: 264px;
    }
    figcaption {
      width: 264px;
      padding-top: 16px;

      .title {
        @include text__setting(normal__typo);
      }
      .info__block {
        @include text__setting(smallest__typo, secondary__color);
        .type {
          width: 57%;
        }
      }
    }
  }
}

figure.shot__module  {
  @include white__block(1, 0);
  @include clearfix;
  margin: 0;
  padding: 16px;
  height: 128px;
  .image {
    width: 176px;
    height: 96px;
    margin-right: 24px;
    position: relative;
    float: left;
    img {
      width: 100%;
    }
    .type__icon{
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -24px 0 0 -24px;
      width: 48px;
      height: 48px;
      i {
        font-size: 48px;
        color: #fff
      }
    }
  }
  figcaption {
    width: calc(100% - 200px);
    float: left;
    .title {
      margin-bottom: 8px;
      position: relative;
      .inner {
        @include eclipses;
        @include text__setting(header__typo_1);
        padding-right: 50px;
      }
      .action__menu {
        right: -5px;
        top: 3px;
      }
    }
    .authors {
      @include eclipses;
      @include text__setting(small__typo, secondary__color);
      margin-bottom: 14px;
    }
    .info__block {
      .left-col{
        display: flex;
        justify-content: flex-start;
        .item {
          margin-right: 16px;
          @include text__setting(small__typo, secondary__color);
          position: relative;
          padding-left: 24px;
          padding-top: 3px;
          i {
            position: absolute;
            top: 1px;
            left: 0;
            font-size: 17px;
          }
          &.type{
            margin-top: -4px;
            margin-right: 32px;
            background: rgba(0,0,0,0.06);
            border-radius: 2px;
            padding: 4px 8px 0 32px;
            i {
              left: 8px;
              top: 5px;
            }
          }
        }
      }
      .right-col {
        @include text__setting(smallest__typo);
        color: $primaryColor;
        &.overdue {
          color: #F50057;
        }
      }
    }
  }
}


.corses-prev__v2 {
  margin: 0;
  margin-right: 24px;
  width: 360px;
  height: 352px;
  @include white__block(1,1);
  .image {
    position: relative;
    height  : 200px;
    .fade {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 69%, #000000 100%);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
    .tegs {
      font-size: 12px;
      line-height: 19px;
      position: absolute;
      top: 16px;
      left: 16px;
      max-width: 256px;
      padding: 2px 7px;
      color: #fff;
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.54);
      @include eclipses;
      z-index: 10;
      &.overdue {
        background: rgba(245,0,87,0.54);
      }
    }
    .course__type-wrp {
      position       : absolute;
      bottom: 9px;
    left: -3px;
      width: 345px;
      padding: 0 8px;
      z-index: 10;
    }
    .course-type {
      @include inline-block;
      max-width    : 256px;
      padding      : 2px 7px;
      color        : #fff;
      @include eclipses;
      margin: 8px;
      i {
        margin-right: 6px;
      }
    }

  }
  figcaption {
    padding: 13px 16px 0 16px;
    position: relative;
    height: 152px;
    .authors {
      font-size: 15px;
      color: rgba(0,0,0,0.54);
      line-height: 24px;
      width: 100%;
      @include eclipses;
      margin-bottom: 9px;
    }
    .title {
      height: 56px;
      font-size: 20px;
      line-height: 28px;
      overflow: hidden;
    }
    .progress-block {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      .progress-bar {
        position        : absolute;
        top             : 0;
        left            : 0;
        height          : 4px;
        background-color: $primaryColor;
      }
    }
    .info-block {
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 11px;
      width: 100%;
      padding: 0 16px;
      .col {
        width: 45%;
        color: black__color('secondary__color');
        &:last-child {
          text-align: right;
        }
      }
      i {
        margin-right: 8px;
      }

    }
    &.with__menu-btn {
      padding-right: 32px;
      .com__director-btn {
        position: absolute;
        right: 8px;
        top: 16px;
        .edit-date {
          width: 16px;
          height: 16px;
          line-height: 16px;
          .icon-uniE8A3 {
            font-size: 16px;
            line-height: 16px;
            &::before {
              line-height: 16px;
            }
          }
        }
      }
    }
  }
  &.is__completed {
    .image {
      .white__fade {
        background: rgba(255,255,255,0.30);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
      }
      .tegs {
        background: rgba(0,188,211,0.54);
      }
    }
    figcaption {

    }
  }
  &.is__unfilled {
    .image {
      .white__fade {
        background: rgba(255,255,255,0.30);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
      }
      .course-type {
        color: rgba(255,255,255,0.70);
      }
    }
    figcaption {
      .authors {
        color: rgba(0,0,0,0.26);
      }
      .title {
        color: rgba(0,0,0,0.54);
      }
    }
  }
  &.compact {
    width : 264px;
    height: 264px;

    .image {
      height    : 146px;
      text-align: center;
      img {
        height: 100%;
        width : 100%;
      }
      .tegs {
        top: 9px;
      }
    }
    figcaption {
      height     : 120px;
      padding-top: 12px;
      .authors {
        font-size: 13px;
        color: rgba(0,0,0,0.54);
        line-height: 20px;
        width: 100%;
        @include eclipses;
        margin-bottom: 16px;
      }
      .title {
        font-size: 15px;
        line-height: 24px;
        height: 48px;
        overflow: hidden;
      }

    }
  }
}



.course__block_horizontal {
  @include white__block (1,1);
  margin-bottom: 16px;
  position: relative;
  padding: 14px 32px 21px 216px;
  .image {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 176px;
    height: 96px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .description {
    position: relative;
    .title {
      margin-bottom: 8px;
      @include eclipses;
      padding-right: 16px;
    }
    .authors {
      // @extend .title;
      color: black__color('secondary__color');
      margin-bottom: 16px;
    }
    .info {
      .icons__block {
        display: flex;
        justify-content: flex-start;
        .item {
          margin-right: 17px;
          i {
            @include inline-block;
            color: black__color('secondary__color');
            font-size: 15px;
            margin-right: 8px;
            margin-top: 4px;
          }
          span {
            @include inline-block;
            color: black__color('secondary__color');
            margin-top: 1px;
          }
        }
      }
      .text-info {
        color: $primaryColor;
        &.overdue {
          color: #F50057;
        }
      }
    }
  }
  &.with__action-menu {
    .description {
      .title {
        padding-right: 32px;
      }
      .authors {
        padding-right: 0;
      }
    }
  }
}

.course__block_horizontal-shot {
  @include white__block(1,1);
  @include eclipses;
  padding: 16px 32px;
  padding-bottom: 13px;
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;
  .adaptive__title {
    .left-col {
      padding-right: 10px;
    }
    .right-col {
      color: $primaryColor;
      padding-top: 2px;
    }
  }
  input {
    width: 100%;
    opacity: 0;
    height: 48px;
    display: block;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
}





// old

.corses-prev {
  float : left;
  width : 346px;
  height: 408px;
  margin: 0 24px 32px 0;
  @include white__block(1,1);
  @import "unique/courses/info-block";
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    .image .action-btn {
    }
  }
  .image {
    position: relative;
    height  : 192px;
    .fade {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      background: black__color('secondary__color');
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
    .tegs {
      font-size    : 12px;
      line-height  : 18px;
      position     : absolute;
      top          : 8px;
      left         : 16px;
      max-width    : 256px;
      padding      : 2px 7px;
      color        : #fff;
      border-radius: 2px;
      background   : rgba(0, 0, 0, .54);
      @include eclipses;
      z-index: 10;
    }
    .course__type-wrp {
      position       : absolute;
      bottom         : 16px;
      left           : 8px;
      width: 345px;
      padding: 0 8px;
      z-index: 10;
    }
    .course-type {
      @include inline-block;
      font-size    : 12px;
      line-height  : 18px;
      max-width    : 256px;
      padding      : 2px 7px;
      color        : #fff;
      border       : 1px solid #fff;
      border-radius: 2px;
      @include eclipses;
      margin: 8px;
    }
    .action-btn {
      position: absolute;

      // display  : none;
      z-index : 2;
      right   : 17px;
      bottom  : -25px;
      width   : 50px;
      height  : 50px;
      &.three {
        &:hover {
          width: 150px;
        }
      }
      &.two:hover {
        .schedule.icon {
          right: 60px !important;
        }
      }
      .add,
      .favorite,
      .schedule {
        &:active {
          background-color: $primaryColor;
          &::before {
            color: #fff;
          }
        }
      }
      .add {
        position     : absolute;
        z-index      : 1;
        top          : 0;
        right        : 0;
        width        : 50px;
        height       : 50px;
        cursor       : pointer;
        text-align   : center;
        border-radius: 50%;
        background   : #fff;
        box-shadow   : 0 4px 5px 0 rgba(0, 0, 0, .28);
        &::before {
          font-size  : 30px;
          line-height: 10px;
          position   : absolute;
          top        : 15px;
          left       : 15px;
          display    : block;
          width      : 20px;
          height     : 20px;
          content    : "+";
          color      : $primaryColor;
        }
      }
      .favorite,
      .schedule {
        position     : absolute;
        z-index      : 0;
        top          : 7px;
        right        : 7px;
        width        : 36px;
        height       : 36px;
        cursor       : pointer;
        text-align   : center;
        border-radius: 50%;
        background   : #fff;
        box-shadow   : 0 4px 5px 0 rgba(0, 0, 0, .28);
        &::before {
          line-height: 36px;
          position   : absolute;
          top        : 0;
          left       : 0;
          display    : block;
          width      : 100%;
          text-align : center;
          color      : $primaryColor;
        }
        &:hover {
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .30), 0 6px 5px 0 rgba(0, 0, 0, .22);
        }
      }

      .schedule, .user_schedule {
        &::before {
          content: '\E6B2';
        }
      }

      .favorite {
        &::before {
          content: '\E631';
        }
      }

      &:hover {
        width: 95px;
        .add {
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .30), 0 6px 5px 0 rgba(0, 0, 0, .22);
          &::before {
            //font-size  : 24px;
            //line-height: 21px;
            top        : 15px;
            left       : 10px;
            width      : 30px;
            height     : 20px;
            content    : '\E8D6';
            /* Oval 2 Copy 2: */
          }
        }
        .favorite {
          right             : 60px;
          -webkit-transition: all 300ms;
          -moz-transition   : all 300ms;
          -o-transition     : all 300ms;
          transition        : all 300ms;
        }
        .schedule {
          right             : 108px;
          -webkit-transition: all 300ms;
          -moz-transition   : all 300ms;
          -o-transition     : all 300ms;
          transition        : all 300ms;
        }
      }
    }
  }
  figcaption {
    position: relative;
    padding : 30px 0 16px;
  }
  .title {
    font-size    : 20px;
    line-height  : 28px;
    min-height   : 83px;
    margin-bottom: 16px;
    padding      : 0 16px;
    cursor       : pointer;
    white-space  : normal;
    color        : rgba(0, 0, 0, .87);
    &.over-title {
      position: relative;
      .inner {
        position: relative;
        overflow: hidden;
        height  : 84px;
      }
      .shadow {
        position  : absolute;
        right     : 16px;
        bottom    : 0;
        width     : 32px;
        height    : 28px;
        background: url("white-shadow.png");
      }
    }
    &:hover {
      color: $primaryColor;
    }
  }
  .author {
    font-size    : 13px;
    line-height  : 20px;
    margin-bottom: 28px;
    padding      : 0 16px;
    color        : rgba(0, 0, 0, .54);
  }

  &.with_progress-bar {
    height: 480px;
    figcaption {
      height: 288px;
    }
    .info-block {
      position     : static;
      margin-bottom: 12px;
      padding      : 0 16px;
    }
    .progress-block {
      padding   : 0 16px;
      border-top: 1px solid #e1e1e1;
      .progress-label {
        font-size      : 15px;
        line-height    : 24px;
        display        : flex;
        margin-bottom  : 10px;
        padding-top    : 15px;
        color          : rgba(0, 0, 0, .54);
        justify-content: space-between;
        .until {
          width: 190px;
          @include eclipses;
        }
      }
      .progress-bar {
        position  : relative;
        height    : 4px;
        background: rgba(0, 0, 0, .12);
        .progress-bar_inner {
          position        : absolute;
          top             : 0;
          left            : 0;
          height          : 4px;
          background-color: $primaryColor;
        }
      }
    }
    &.completed {
      .progress-label {
        padding-top: 23px;
        .complite {
          font-size  : 15px;
          line-height: 24px;
          color      : rgba(0, 0, 0, .26);
        }
      }
      .progress-bar {
        display: none;
      }
    }
  }

  &.compact {
    width : 264px;
    height: 264px;
    .image {
      height    : 146px;
      text-align: center;
      img {
        height: 100%;
        width : 100%;
      }
    }
    figcaption {
      height     : 120px;
      padding-top: 16px;
      .title {
        font-size    : 15px;
        line-height  : 24px;
        min-height   : 72px;
        margin-bottom: 4px;
        color        : rgba(0, 0, 0, .87);

        &.with_btn {
          padding-right: 45px;
        }
        .com__director-btn {
          position: absolute;
          top     : 12px;
          right   : 8px;
        }
        &.over-title {
          .inner {
            height: 72px;
          }
          .shadow {
            right: 16px;
          }
        }
      }
    }
  }
}
.corses-prev {
  float : left;
  width : 346px;
  height: 408px;
  margin: 0 24px 32px 0;
  cursor: pointer;
  @include white__block(1,1);
  @import "unique/courses/info-block";
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    .image .action-btn {

      // display : block;
    }
  }
  .image {
    position: relative;
    height  : 192px;
    .fade {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      background: black__color('not_active__color');
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
    .tegs {
      font-size    : 12px;
      line-height  : 18px;
      position     : absolute;
      top          : 8px;
      left         : 16px;
      max-width    : 256px;
      padding      : 2px 7px;
      color        : #fff;
      border-radius: 2px;
      background   : rgba(0, 0, 0, .54);
      @include eclipses;
      z-index: 10;
    }
    .course__type-wrp {
      position       : absolute;
      bottom         : 16px;
      left           : 8px;
      width: 345px;
      padding: 0 8px;
      z-index: 10;
    }
    .course-type {
      @include inline-block;
      font-size    : 12px;
      line-height  : 18px;
      max-width    : 256px;
      padding      : 2px 7px;
      color        : #fff;
      border       : 1px solid #fff;
      border-radius: 2px;
      @include eclipses;
      margin: 8px;
    }
    .action-btn {
      position: absolute;

      // display  : none;
      z-index : 12;
      right   : 17px;
      bottom  : -25px;
      width   : 50px;
      height  : 50px;
      &.three {
        &:hover {
          width: 150px;
        }
      }
      &.two:hover {
        .schedule.icon {
          right: 60px !important;
        }
      }
      .add,
      .favorite,
      .schedule {
        &:active {
          background-color: $primaryColor;
          &::before {
            color: #fff;
          }
        }
      }
      .add {
        position     : absolute;
        z-index      : 1;
        top          : 0;
        right        : 0;
        width        : 50px;
        height       : 50px;
        cursor       : pointer;
        text-align   : center;
        border-radius: 50%;
        background   : #fff;
        box-shadow   : 0 4px 5px 0 rgba(0, 0, 0, .28);
        &::before {
          font-size  : 30px;
          line-height: 10px;
          position   : absolute;
          top        : 15px;
          left       : 15px;
          display    : block;
          width      : 20px;
          height     : 20px;
          content    : "+";
          color      : $primaryColor;
        }
      }
      .favorite,
      .schedule {
        position     : absolute;
        z-index      : 0;
        top          : 7px;
        right        : 7px;
        width        : 36px;
        height       : 36px;
        cursor       : pointer;
        text-align   : center;
        border-radius: 50%;
        background   : #fff;
        box-shadow   : 0 4px 5px 0 rgba(0, 0, 0, .28);
        &::before {
          line-height: 36px;
          position   : absolute;
          top        : 0;
          left       : 0;
          display    : block;
          width      : 100%;
          text-align : center;
          color      : $primaryColor;
        }
        &:hover {
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .30), 0 6px 5px 0 rgba(0, 0, 0, .22);
        }
      }
      .favorite {
        &::before {
          content: "\E631";
        }
      }
      //.schedule {
      //  &::before {
      //    content: '\E8AF';
      //  }
      //}
      &:hover {
        width: 95px;
        .add {
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .30), 0 6px 5px 0 rgba(0, 0, 0, .22);
          &::before {
            //font-size  : 24px;
            //line-height: 21px;
            top        : 15px;
            left       : 10px;
            width      : 30px;
            height     : 20px;
            content    : '\E8D6';
            /* Oval 2 Copy 2: */
          }
        }
        .favorite {
          right             : 60px;
          -webkit-transition: all 300ms;
          -moz-transition   : all 300ms;
          -o-transition     : all 300ms;
          transition        : all 300ms;
        }
        .schedule {
          right             : 108px;
          -webkit-transition: all 300ms;
          -moz-transition   : all 300ms;
          -o-transition     : all 300ms;
          transition        : all 300ms;
        }
      }
    }
  }
  figcaption {
    position: relative;
    padding : 30px 0 16px;
  }
  .title {
    font-size    : 20px;
    line-height  : 28px;
    height   : 83px;
    overflow: hidden;
    margin-bottom: 16px;
    padding      : 0 16px;
    cursor       : pointer;
    white-space  : normal;
    color        : rgba(0, 0, 0, .87);
    &.over-title {
      position: relative;
      .inner {
        position: relative;
        overflow: hidden;
        height  : 84px;
      }
      .shadow {
        position  : absolute;
        right     : 16px;
        bottom    : 0;
        width     : 32px;
        height    : 28px;
        background: url("white-shadow.png");
      }
    }
    &:hover {
      color: $primaryColor;
    }
  }
  .author {
    font-size    : 13px;
    line-height  : 20px;
    margin-bottom: 28px;
    padding      : 0 16px;
    color        : rgba(0, 0, 0, .54);
  }

  &.with_progress-bar {
    height: 480px;
    figcaption {
      height: 288px;
    }
    .info-block {
      position     : static;
      margin-bottom: 12px;
      padding      : 0 16px;
    }
    .progress-block {
      padding   : 0 16px;
      border-top: 1px solid #e1e1e1;
      .progress-label {
        font-size      : 15px;
        line-height    : 24px;
        display        : flex;
        margin-bottom  : 10px;
        padding-top    : 15px;
        color          : rgba(0, 0, 0, .54);
        justify-content: space-between;
        .until {
          width: 190px;
          @include eclipses;
        }
      }
      .progress-bar {
        position  : relative;
        height    : 4px;
        background: rgba(0, 0, 0, .12);
        .progress-bar_inner {
          position        : absolute;
          top             : 0;
          left            : 0;
          height          : 4px;
          background-color: $primaryColor;
        }
      }
    }
    &.completed {
      .progress-label {
        padding-top: 23px;
        .complite {
          font-size  : 15px;
          line-height: 24px;
          color      : rgba(0, 0, 0, .26);
        }
      }
      .progress-bar {
        display: none;
      }
    }
  }

  &.compact {
    width : 264px;
    height: 264px;
    .image {
      height    : 146px;
      text-align: center;
      img {
        height: 100%;
        width : 100%;
      }
    }
    figcaption {
      height     : 120px;
      padding-top: 16px;
      .title {
        font-size    : 15px;
        line-height  : 24px;
        height   : 72px;
        margin-bottom: 4px;
        color        : rgba(0, 0, 0, .87);
        overflow: hidden;
        &.with_btn {
          padding-right: 45px;
        }
        .com__director-btn {
          position: absolute;
          top     : 12px;
          right   : 8px;
        }
        &.over-title {
          .inner {
            height: 72px;
          }
          .shadow {
            right: 16px;
          }
        }
      }
    }
  }
}
