.hidden-list {
  @include white__block(1,0);
  min-width        : 128px;
  padding          : 6px 0;
  max-height       : 236px;
  position         : absolute;
  top: 100%;
  right: 0;
  display          : none;
  z-index          : 99;
  bottom: auto;
  li {
      height      : 32px;
      font-size   : 13px;
      line-height : 20px;
      padding     : 6px 16px;
      cursor      : pointer;
      white-space: nowrap;
      position: relative;
      list-style-type: none;
      .datapicker__trigger {
        background: none;
        border: none;
        cursor: pointer;
        min-width: 244px;
        line-height: 23px;
        &::-webkit-input-placeholder {
          font-size   : 13px;
          color       : rgba(0, 0, 0, 0.54);
        }
        &::-moz-placeholder {
          font-size   : 13px;
          color       : rgba(0, 0, 0, 0.54);
        }
        &:-moz-placeholder {
          font-size   : 13px;
          color       : rgba(0, 0, 0, 0.54);
        }
        &:-ms-input-placeholder {
          font-size   : 13px;
          color       : rgba(0, 0, 0, 0.54);
        }

      }
      &:hover {
          font-size   : 13px;
          line-height : 20px;
          background  : #F5F5F5;
      }
  }
}
