i.icon {
  &.cabinet {
    &::before {
      content: '\E8D9';
    }
  }
  &.biblio {
    &::before {
      content: "\E8DE";
    }
  }
  &.back {
    &::before {
      content: "\e893";
    }
  }

  &.add {
    &::before {
      content: "\e6fb";
    }
  }

  &.courses {
    &::before {
      content: "\E6B2";
    }
  }

  &.other {
    &::before {
      content: "\E6B2";
    }
  }

  &.video {
    &::before {
      content: "\e602";
    }
  }

  &.audio {
    &::before {
      content: "\e603";
    }
  }

  &.text {
    &::before {
      content: "\E621";
    }
  }

  &.test {
    &::before {
      content: "\e601";
    }
  }

  &.teg {
    &::before {
      content: "\E87A";
    }
  }

  &.burger {
    &::before {
      content: "\E7FA";
    }
  }

  &.groups {
    &::before {
      content: "\E8D6";
    }
  }

  &.more {
    &::before {
      content: "\E7BA";
    }
  }

  &.stat {
    &::before {
      content: "\E60F";
    }
  }

  &.favorites {
    &::before {
      content: "\E619";
    }
  }
  &.notes {
    &::before {
      content: "\E67A";
    }
  }

  &.search {
    &::before {
      content: '\E65F';
    }
  }

  &.schedule {
    &::before {
      content: '\E8AF';
    }
  }

  &.notification {
    &::before {
      content: '\E8CF';
    }
  }

  &.calendar {
    &::before {
      content: '\E892';
    }
  }

  &.filter {
    &::before {
      content: '\E855';
    }
  }

  &.star {
    &::before {
      content: '\E631';
    }
  }
  &.duration {
    &::before {
      content: '\E71F';
    }
  }

  &.file {
    &::before {
      content: '\E614';
    }
  }

  &.pdf {
    &::before {
      content: '\E78F';
    }
  }

  &.programm {
    &::before {
      content: '\E625';
    }
  }

  &.edit {
    &::before {
      content: "\E706";
    }
  }
  &.delete {
    &::before {
      content: "\E620";
    }
  }

  &.help {
    &::before {
      content: "\E639";
    }
  }
  &.next {
    &::before {
      content: "\E897"
    }
  }

  &.done {
    &::before {
      content: "\E899"
    }
  }


}
