.courses-aside {
  position          : fixed;
  top               : 0;
  right             : -100%;
  width             : 400px !important;
  background        : #fff;
  box-shadow        : 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  z-index           : 203;
  height            : 100%;
  padding-left      : 32px;
  -webkit-transition: all 300ms;
  -moz-transition   : all 300ms;
  -o-transition     : all 300ms;
  transition        : all 300ms;
  &::-webkit-scrollbar {
    width: 0;
  }
  &.show {
    -webkit-transition: all 300ms;
    -moz-transition   : all 300ms;
    -o-transition     : all 300ms;
    transition        : all 300ms;
    right             : 0;
  }
  &.is__scrolled {
    .close-filter {
      border-bottom: 1px solid rgba(0,0,0,0.12);
    }
  }
  .close-filter {
    width         : 400px;
    margin-left   : 5px;
    padding-left  : 77px;
    position      : relative;
    font-size     : 20px;
    line-height   : 32px;
    padding-bottom: 16px;
    padding-top   : 16px;
    cursor        : pointer;
    margin-left   : -32px;
    &::before {
      position : absolute;
      display  : block;
      content  : '\E702';
      top      : 19px;
      left     : 26px;
      font-size: 26px;
    }
  }
}

.filter-courses {
  .reset-filter {
    text-align   : right;
    font-size    : 14px;
    color        : $primoryColor;
    line-height  : 18px;
    padding-right: 24px;
    margin-bottom: 15px;
    cursor       : pointer;
  }
  .filter-category {
    padding-bottom: 28px;
    .title {
      border-top   : 1px solid rgba(0, 0, 0, 0.12);
      font-size    : 13px;
      color        : rgba(0, 0, 0, 0.87);
      line-height  : 18px;
      padding-top  : 23px;
      margin-bottom: 31px;
    }
    .checkbox__holder {
      margin-left  : 9px;
      margin-bottom: 24px;
      .label {
        font-size   : 13px;
        color       : rgba(0, 0, 0, 0.54);
        line-height : 18px;
        padding-left: 37px;
        &::before {
          border-color: $primoryColor;
        }
      }
      .checkbox:checked + label:before {
        background: $primoryColor;
      }
    }
    .more {
      &.hidden {
        i.icon {
          cursor     : pointer;
          color      : rgba(0, 0, 0, 0.54);
          margin-left: 6px;
          &::before {
            content  : '\E7B4';
            font-size: 24px;
          }
        }
        .checkbox__holder {
          display: none;
        }
      }
    }
  }
}

.groups-courses {
  padding-right: 24px;
  .group-item {
    @include white__block(1, 1);
    margin-bottom: 16px;
    padding      : 16px 16px 12px;
    .title {
      font-size    : 20px;
      color        : rgba(0, 0, 0, 0.87);
      line-height  : 32px;
      cursor       : pointer;
      margin-bottom: 8px;
      &:hover {
        color: $primoryColor;
      }
    }
    .user-qty,
    .courses-qty {
      font-size   : 13px;
      color       : rgba(0, 0, 0, 0.54);
      line-height : 20px;
      padding-left: 21px;
      position    : relative;
      i {
        display : block;
        position: absolute;
        top     : 0;
        left    : 0;
      }
    }
    .user-qty {
      margin-bottom: 4px;
      .icon {
        &::before {
          font-size: 16px;
          content  : '\E8D6';
        }
      }
    }
    .courses-qty {
      .icon {
        &::before {
          font-size: 15px;
          content  : '\E6B2';
        }
      }
    }
  }
}

.favorite-courses {
  padding-right: 24px;
  .favorite-item {
    height       : 188px;
    @include white__block(1, 1);
    margin-bottom: 16px;
    .image {
      float: left;
      img {

      }
    }

    .description {
      padding : 16px 16px 12px;
      overflow: hidden;
      position: relative;
      height  : 100%;
      .header {
        position     : relative;
        padding-right: 80px;
        margin-bottom: 18px;
        z-index      : 2;
        .ingroup {
          font-size  : 13px;
          color      : rgba(0, 0, 0, 0.54);
          line-height: 20px;
          position   : relative;
          cursor     : pointer;
          &:hover {
            span {
              color: $primoryColor;
            }
          }
          .group-list {
            position     : absolute;
            top          : 100%;
            left         : 0;
            background   : #f9f9f9;
            border-radius: 2px 0 0 2px;
            box-shadow   : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
            padding      : 17px 24px 0;
            &.hidden {
              display: none;
            }
            li {
              font-size    : 13px;
              color        : rgba(0, 0, 0, 0.54);
              line-height  : 20px;
              @include eclipses;
              width        : 190px;
              margin-bottom: 12px;
              z-index      : 9999;
            }
          }
          span {
            color: #000;
          }
        }
        .add-group,
        .delete {
          color   : rgba(0, 0, 0, 0.54);
          position: absolute;
          top     : 0;
          cursor  : pointer;
          .icon {
            display  : block;
            color    : rgba(0, 0, 0, 0.26);
            font-size: 18px;
          }
        }
        .add-group {
          right: 34px;
          top  : 0;
          .icon {
            font-size: 20px;
            &::before {
              content: '\E8D6';
            }
          }
        }
        .delete {
          right: 3px;
          .icon {
            &::before {
              content: '\E620';
            }
          }
        }
      }
      .title {
        min-height   : 56px;
        margin-bottom: 12px;
        font-size    : 20px;
        color        : rgba(0, 0, 0, 0.87);
        line-height  : 28px;
        &.over-title {
          height  : 56px;
          overflow: hidden;
          position: relative;
          .shadow {
            position  : absolute;
            bottom    : 0;
            right     : 0;
            height    : 28px;
            width     : 32px;
            background: url("white-shadow.png");
          }
        }
        &:hover {
          color: $primoryColor;
        }
      }
      .author {
        font-size  : 13px;
        color      : rgba(0, 0, 0, 0.54);
        line-height: 20px;
      }
      @import "unique/courses/info-block";
      .info-block {
        bottom: 14px;
      }
    }
  }
}

.notes__course {
  padding-bottom: 160px;
  .notes__content-aside {
    width      : 400px;
    margin-left: -32px;
    height     : calc(100% - 85px);
    .wrp {
      > .item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding      : 0 32px;
        margin-bottom: 24px;
        padding-bottom: 16px;
        padding-top: 6px;
        &.is__shot {
          .description {
            overflow: hidden;
            height  : 80px;
          }
          .toggle-viewport {
            display: block;
            &::before {
              content: "\E7B4";
            }
          }
        }
        .title {
          margin-bottom: 8px;
          position     : relative;
          padding-right: 40px;
          .date {
            font-size  : 13px;
            color      : $black_54;
            line-height: 20px;
          }
          .edit {
            width   : 32px;
            height  : 36px;
            position: absolute;
            top     : -6px;
            right   : -20px;
            cursor  : pointer;
            &:hover {
              .hidden-list {
                display: block;
              }
            }
            i {
              display   : block;
              width     : 32px;
              height    : 32px;
              text-align: center;
              &:hover {
                background-color: #f3f3f3;
                border-radius   : 50%;
              }
              &::before {
                content    : "\E8A3";
                line-height: 32px;
                font-size  : 24px;
              }
            }
            .hidden-list {
              position: absolute;
              top     : 36px;
              right   : 0;
              li.item {
                font-size  : 15px;
                color      : rgba(0, 0, 0, 0.87);
                line-height: 24px;
              }
            }
          }
        }
        .description {
          font-size    : 13px;
          color        : $black_87;
          line-height  : 20px;
          margin-bottom: 12px;
        }
        .toggle-viewport {
          display: none;
          color  : rgba(0, 0, 0, 0.26);
          cursor : pointer;
          &.for__less {
            display: block;
            &::before {
              content: "\E7B7";
            }
          }
        }
      }
    }
  }
  .notes__edit {
    width      : 400px;
    position   : absolute;
    bottom     : 0;
    left       : 0;
    height     : 180px;
    padding-top: 16px;
    border-top : 1px solid rgba(0, 0, 0, 0.12);
    textarea {
      outline     : none;
      @include middle-block(344px);
      height      : 104px;
      @include placeholder($black_26);
      border      : none;
      resize      : none;
      padding-left: 6px;
      font-size   : 13px;
    }
    .actions__block {
      @include clearfix;
      padding-top  : 6px;
      padding-right: 14px;
      .btn {
        float: right;
      }
    }
  }
}

.programm__course {
  .programm__content {
    width         : 400px;
    margin-left   : -32px;
    padding-bottom: 67px;
    height        : 100%;
    .section {
      > .title {
        padding         : 0 32px;
        background-color: #f5f5f5;
        padding-top     : 40px;
        padding-bottom: 13px;
        .title__wrp {
          position     : relative;
          padding-right: 24px;
        }
        .term {
          font-size    : 12px;
          color        : $black_54;
          line-height  : 16px;
          margin-bottom: 8px;
          &.error {
            color: #f50057;
          }
        }
        .data__edit {
          position: absolute;
          top     : 0;
          right   : 0;
          width   : 24px;
          height  : 24px;
          i {
            &::before {
              content  : "\E8AF";
              font-size: 24px;
              color    : $black_26;
            }
          }
          input {
            position: absolute;
            width   : 24px;
            height  : 24px;
            top     : 0;
            left    : 0;
            z-index : 1;
            opacity : 0;
            cursor  : pointer;
          }
        }
      }
      .material__list {
        .item {
          padding-left    : 56px;
          border-bottom   : 1px solid rgba(0, 0, 0, 0.12);
          position        : relative;
          background-color: #fff;
          padding-top     : 16px;
          padding-bottom  : 16px;
          cursor          : pointer;
          &.current {
            .title,
            .description,
            .icon {
              color: $primoryColor;
            }
          }
          &.done {
            .icon {
              color: $primoryColor;
              &::before {
                content: "\E899";
              }
            }
          }
          .icon {
            position : absolute;
            top      : 17px;
            left     : 19px;
            color    : rgba(0, 0, 0, 0.54);
            font-size: 20px;
            &.file {
              font-size: 22px;
            }
            &.video {
              font-size: 15px;
              top      : 21px;
            }
          }
          .title {
            font-size    : 13px;
            color        : $black_87;
            line-height  : 20px;
            font-weight  : 500;
            @include eclipses;
            margin-bottom: 11px;
          }
          .description {
            font-size  : 13px;
            color      : $black_87;
            line-height: 20px;
            height     : 40px;
            overflow   : hidden;
          }
        }
      }
    }
  }
}
.note__course {
  padding-right : 32px;
  padding-bottom: 40px;
  .note-holder {
    height: calc(100%);
  }
  .action__block {
    position: absolute;
    top     : 22px;
    right   : 19px;
    i {
      color       : $black_26;
      font-size   : 22px;
      margin-right: 6px;
      cursor      : pointer;
      &:hover {
        color: $black_87;
      }
    }
  }
  &.is__scrolled {
    &.is__edit {
      .note-holder {
        height: calc(100% - 75px);
      }
    }
    .close-filter {
      @include eclipses;
      -webkit-transition: all 3000ms;
      -moz-transition   : all 3000ms;
      -o-transition     : all 3000ms;
      transition        : all 3000ms;
    }
  }
  &.is__edit {
    .note-holder {
      height: calc(100% - 114px);
    }
    .text__content {
      cursor: text;
    }
    .btns__block {
      display: block;
    }
  }
  .close-filter {
    padding-right     : 64px;
    -webkit-transition: all 3000ms;
    -moz-transition   : all 3000ms;
    -o-transition     : all 3000ms;
    transition        : all 3000ms;
  }
  .info {
    margin-bottom: 8px;
    span {
      display    : block;
      font-size  : 13px;
      color      : rgba(0,0,0,0.54);
      line-height: 20px;
    }
  }
  .text__content {
    font-size  : 13px;
    line-height: 20px;
    width      : 100%;
    border     : none;
    background : none;
    resize     : none;
    cursor     : default;
    &:focus {
      outline: none;
    }
  }
  .btns__block {
    display : none;
    @include clearfix;
    position: absolute;
    bottom  : 8px;
    right   : 32px;
    .btn {
      float           : right;
      color           : #fff;
      background-color: $primoryColor;
    }
  }
}
.help__contenter {
  .help__wrp {
    width         : 400px;
    margin-left   : -32px;
    height        : 100%;
    padding-bottom: 66px;
    .item {
      border-bottom: 1px solid rgba(0,0,0,0.12);
      .wrp {
        padding : 16px 72px 16px 32px;
        position: relative;
        cursor  : pointer;
        &:hover {
          background-color: rgba(0,0,0,0.02);
        }
        i {
          position  : absolute;
          top       : 50%;
          right     : 40px;
          margin-top: -13px;
          cursor    : pointer;
          display   : block;
          &::before {
            color    : $black_54;
            content  : "\E7B6";
            font-size: 24px;
          }
        }
      }
      > .title {

      }
      .hidden__block {
        position          : fixed;
        top               : 0;
        right             : -410px;
        height            : 100%;
        background-color  : #fff;
        width             : 400px;
        padding           : 16px 72px 16px 32px;
        z-index           : 1;
        -webkit-transition: all 300ms;
        -moz-transition   : all 300ms;
        -o-transition     : all 300ms;
        transition        : all 300ms;
        &.is__active {
          -webkit-transition: all 300ms;
          -moz-transition   : all 300ms;
          -o-transition     : all 300ms;
          transition        : all 300ms;
          right             : 0;
        }
        .title {
          margin-left  : 5px;
          padding-left : 45px;
          position     : relative;
          margin-bottom: 42px;
          padding-top  : 16px;
          cursor       : pointer;
          @include eclipses;
          font-size    : 20px;
          color        : rgba(0,0,0,0.87);
          line-height  : 28px;
          &::before {
            position : absolute;
            display  : block;
            content  : "\E893";
            top      : 19px;
            left     : 0;
            font-size: 26px;
          }
        }
        .description {

        }
      }
    }
  }
}
