.com-top-tooltip {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  will-change: transform;
  z-index: 999;
  background: rgba(0,0,0,0.70);
  border-radius: 2px;
  color: rgb(255,255,255);
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  max-width: 256px;
  position: absolute;
  bottom: 125%;
  left: -50%;
  min-height: 24px;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
  &.is-active {
    -webkit-animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
            animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards; }
}



@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }

  50% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }

  50% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible; } }


.js__tooltip {
  @include transition;
  .tooltip {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    background: $black_54;
    border-radius: 2px;
    font-size: 11px;
    color: #FFFFFF;
    line-height: 13px;
    line-height: 22px;
    padding: 0 8px;
    &.is__bottom {
      top: 110%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &.is__right {
      top: 50%;
      left: 110%;
      margin-top: -11px;
    }
  }
  &.is__visible-tooltip {
    @include transition;
    .tooltip {
      @include transition;
      opacity: 1;
      width: auto;
      height: 22px;
      overflow: visible;

    }
  }
}
