.common__help__btn {
  position: fixed;
  bottom: 24px;
  left: 24px;
  width: 40px;
  height: 40px;
  background: black__color(secondary__color);
  border-radius: 4px;
  padding-left: 40px;
  overflow: hidden;
  @include transition;
  cursor: pointer;
  i {
    position: absolute;
    top: 9px;
    left: 9px;
    &::before{
      content: '\E633';
      color: #D4D4D4;
      font-size: 22px;
    }
  }
  span {
    line-height: 40px;
    font-size: 14px;
    color: #fff;
  }
  &:hover {
    width: 105px;
    background-color: black__color();
    @include transition;
    span {

    }
  }
}
