@import "courses/filter";

.new-courses-holder {
  .content-courses {
    position : relative;
    .new-top-title {
      position    : absolute;
      left        : 0;
      top         : 40px;
      font-size   : 20px;
      color       : #FD9348;
      line-height : 32px;
    }
    .new-btm-title {
      position    : absolute;
      left        : 0;
      bottom      : -60px;
      font-size   : 20px;
      color       : #999;
      line-height : 32px;
    }
    .new-label {
      position         : absolute;
      right            : 0;
      top              : 40px;
      font-size        : 13px;
      color            : #FFF;
      line-height      : 18px;
      background-color : #FD9348;
      height           : 32px;
      line-height      : 32px;
      padding          : 0 9px;
      a {
        color : #FFF;
      }
    }
    .corses-prev {
      &:nth-child(3) {
        margin-right : 0;
      }
    }
  }
}

.courses-description {
  @import "courses/description/description";
  border-radius : 2px;

}

.image-bg {
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : 100%;
  background-size : cover;
  -webkit-filter  : url(#blur);
  filter          : url(#blur);
  -webkit-filter  : blur(16px);
  filter          : blur(16px);
  filter          : progid:DXImageTransform.Microsoft.Blur(PixelRadius='16');
  z-index         : -1;
}

.courses-list {
  @include clearfix;
  .corses-prev {
    float         : left;
    width         : 347px;
    height        : 408px;
    background    : #FFF;
    border-radius : 2px;
    box-shadow    : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
    margin        : 0 24px 32px 0;
    &:nth-child(3) {
      margin-right : 0;
    }
    &:hover {
      .image .action-btn {
        display : block;
      }
    }
    .image {
      position : relative;
      height   : 192px;
      .course-type {
        position      : absolute;
        left          : 16px;
        bottom        : 16px;
        border        : 1px solid #FFF;
        border-radius : 2px;
        font-size     : 12px;
        color         : #FFF;
        line-height   : 18px;
        padding       : 2px 7px;
        max-width     : 246px;
        overflow      : hidden;
        text-overflow : ellipsis;
        white-space   : nowrap;
      }
      .action-btn {
        position : absolute;
        right    : 17px;
        bottom   : -25px;
        width    : 50px;
        height   : 50px;
        display  : none;
        z-index  : 2;
        .add {
          border-radius : 50%;
          width         : 50px;
          height        : 50px;
          box-shadow    : 0 4px 5px 0 rgba(0, 0, 0, 0.28);
          background    : #FFF;
          text-align    : center;
          cursor        : pointer;
          position      : absolute;
          top           : 0;
          right         : 0;
          z-index       : 1;
          &::before {
            position           : absolute;
            display            : block;
            top                : 15px;
            left               : 15px;
            //-webkit-transition : all 300ms;
            //-moz-transition    : all 300ms;
            //-o-transition      : all 300ms;
            //transition         : all 300ms;
            color              : #FD9348;
            font-size          : 30px;
            line-height        : 10px;
            content            : '+';
            width              : 20px;
            height             : 20px;
          }
        }
        .favorite {
          width              : 36px;
          height             : 36px;
          border-radius      : 50%;
          box-shadow         : 0 4px 5px 0 rgba(0, 0, 0, 0.28);
          background         : #FFF;
          text-align         : center;
          cursor             : pointer;
          position           : absolute;
          top                : 7px;
          right              : 7px;
          z-index            : 0;
          //-webkit-transition : all 300ms;
          //-moz-transition    : all 300ms;
          //-o-transition      : all 300ms;
          //transition         : all 300ms;
          &::before {
            content  : '\E631';
            color    : #FD9348;
            display  : block;
            position : absolute;
            top      : 10px;
            left     : 10px;
          }
        }
        &:hover {
          width : 95px;
          .add {
            &::before {
              //-webkit-transition : all 300ms;
              //-moz-transition    : all 300ms;
              //-o-transition      : all 300ms;
              //transition         : all 300ms;
              //-moz-transform     : rotate(360deg);
              //-webkit-transform  : rotate(360deg);
              //-o-transform       : rotate(360deg);
              //-ms-transform      : rotate(360deg);
              //transform          : rotate(360deg);
              content            : '\E8D6';
              left               : 10px;
              top                : 15px;
              width              : 30px;
              height             : 20px;
              line-height        : 21px;
            }
          }
          .favorite {
            -webkit-transition : all 300ms;
            -moz-transition    : all 300ms;
            -o-transition      : all 300ms;
            transition         : all 300ms;
            right              : 60px;
          }
        }
      }
    }
    figcaption {
      padding  : 30px 16px 16px;
      position : relative;
    }
    .title {
      font-size     : 20px;
      color         : rgba(0, 0, 0, 0.87);
      line-height   : 28px;
      margin-bottom : 16px;
      cursor        : pointer;
      min-height    : 83px;
      &.over-title {
        height   : 84px;
        overflow : hidden;
        position : relative;
        .shadow {
          position   : absolute;
          bottom     : 0;
          right      : 0;
          height     : 28px;
          width      : 32px;
          background : url("white-shadow.png");
        }
      }
      &:hover {
        color : #FD9348;
      }
    }
    .author {
      font-size     : 13px;
      color         : rgba(0, 0, 0, 0.54);
      line-height   : 20px;
      margin-bottom : 28px;
    }

    @import "courses/info-block";
  }
}

@import "courses/add-course";
