.no-content_page{
  background-color: #FD984C;
  height: 100vh;
  position: relative;
  .inner  {
    width: 360px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -180px;
    .icon {
      @include middle-block(150px);
      height: 152px;
      background-color: #fff;
      border-radius: 50%;
      background: #FFFFFF;
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
      text-align: center;
      padding-top: 29px;
    }
    .title {
      text-align: center;
      font-size: 24px;
      color: #FFFFFF;
      line-height: 32px;
      margin-bottom: 12px;
    }
    .description {
      text-align: center;
      font-size: 15px;
      color: #FFFFFF;
      line-height: 24px;
    }

  }
}

.aside_no-content {
  text-align: center;
  .title {
    font-size: 24px;
    color: rgba(0,0,0,0.26);
    line-height: 32px;
    margin-bottom: 16px;
  }
  .description {
    @include middle-block(390px);
    font-size: 13px;
    color: rgba(0,0,0,0.26);
    line-height: 20px;
  }
}
