.tag
  input.titleTagName.js_getCloneCategory.js_changeCategoryInput placeholder="Введите категорию и нажмите Enter" value=category.title data-id=category.id
  .remove.js_removeCategoryInAdmin data-id=category.id