#contenterPublication {
  .basic_block {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 744px;
    height: 240px;
    margin-left: 352px;
    margin-top: 128px;
    display: block;
    background: #FFFFFF;
    @include white__block(1, 0);

    .type_course {
      display: block;
      height: 135.5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      h2 {
        font-size: 24px;
        font-weight: 400;
        margin-left: 48px;
        margin-top: 32px;
        margin-bottom: 24px;
      }
      .type_course_radio_block {
        .radio_btn {
          padding-bottom: 17px;
          padding-left: 64px;
          overflow: auto;
          input {
            opacity: 0;
            float: left;
            &:checked + label {
              &::before {
                background-color: #00BCD4;
              }
            }
          }
          label {
            display: block;
            width: 16px;
            height: 16px;
            border: 2px solid #00BCD4;
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
            &::before {
              display: block;
              width: 8px;
              height: 8px;
              position: absolute;
              top: 2px;
              left: 2px;
              border-radius: 50%;
              content: " ";
              background-color: #fff;
            }
            span {
              font-size: 15px;
              color: rgba(38, 38, 38, 0.87);
              margin-left: 31px;
              width: 107px;
              position: absolute;
              cursor: pointer;
              margin-top:-2px;
            }
          }

        }
      }
    }
    .type_course_ready_publication_block {
      height: 70px;
      padding-top: 24.5px;
      .btn.btn-flat {
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.26);
        height: 36px;
        margin-right: 24px;
        float: right;
        margin-bottom: 16px;
        text-align: center;
        &.activate {
          background-color: #00BCD4;
          color: #FFFFFF;
          font-weight: 100;
        }
      }
      span {
        float: left;
        font-size: 15px;
        margin-left: 48px;
        padding-right: 5px;
      }
      .info {
        float: left;
        color: #F50057;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}


