@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?jz8eq8');
	src:url('fonts/icomoon.eot?jz8eq8#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?jz8eq8') format('truetype'),
		url('fonts/icomoon.woff?jz8eq8') format('woff'),
		url('fonts/icomoon.svg?jz8eq8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
	content: "\e600";
}
.icon-uniE637:before {
	content: "\e637";
}
.icon-uniE640:before {
	content: "\e640";
}
.icon-uniE660:before {
	content: "\e660";
}
.icon-uniE69A:before {
	content: "\e69a";
}
.icon-uniE6B2:before {
	content: "\e6b2";
}
.icon-uniE6CF:before {
	content: "\e6cf";
}
.icon-uniE71F:before {
	content: "\e71f";
}
.icon-uniE778:before {
	content: "\e778";
}
.icon-uniE855:before {
	content: "\e855";
}
.icon-uniE892:before {
	content: "\e892";
}
.icon-uniE893:before {
	content: "\e893";
}
.icon-uniE899:before {
	content: "\e899";
}
.icon-uniE8CA:before {
	content: "\e8ca";
}
.icon-uniE8CF:before {
	content: "\e8cf";
}
.icon-uniE8D6:before {
	content: "\e8d6";
}
.icon-uniE8D9:before {
	content: "\e8d9";
}
.icon-uniE8DE:before {
	content: "\e8de";
}
.icon-uniE60F:before {
	content: "\e60f";
}
.icon-uniE614:before {
	content: "\e614";
}
.icon-uniE615:before {
	content: "\e615";
}
.icon-uniE619:before {
	content: "\e619";
}
.icon-uniE620:before {
	content: "\e620";
}
.icon-uniE621:before {
	content: "\e621";
}
.icon-uniE625:before {
	content: "\e625";
}
.icon-uniE631:before {
	content: "\e631";
}
.icon-uniE633:before {
	content: "\e633";
}
.icon-uniE638:before {
	content: "\e638";
}
.icon-uniE639:before {
	content: "\e639";
}
.icon-uniE65F:before {
	content: "\e65f";
}
.icon-uniE67A:before {
	content: "\e67a";
}
.icon-uniE696:before {
	content: "\e696";
}
.icon-uniE6BA:before {
	content: "\e6ba";
}
.icon-uniE6BE:before {
	content: "\e6be";
}
.icon-uniE6CC:before {
	content: "\e6cc";
}
.icon-uniE6FE:before {
	content: "\e6fe";
}
.icon-uniE702:before {
	content: "\e702";
}
.icon-uniE706:before {
	content: "\e706";
}
.icon-uniE707:before {
	content: "\e707";
}
.icon-uniE70D:before {
	content: "\e70d";
}
.icon-uniE719:before {
	content: "\e719";
}
.icon-uniE78F:before {
	content: "\e78f";
}
.icon-uniE7B0:before {
	content: "\e7b0";
}
.icon-uniE7B4:before {
	content: "\e7b4";
}
.icon-uniE7B5:before {
	content: "\e7b5";
}
.icon-uniE7B6:before {
	content: "\e7b6";
}
.icon-uniE7B7:before {
	content: "\e7b7";
}
.icon-uniE7BA:before {
	content: "\e7ba";
}
.icon-uniE7E3:before {
	content: "\e7e3";
}
.icon-uniE7FA:before {
	content: "\e7fa";
}
.icon-uniE824:before {
	content: "\e824";
}
.icon-uniE833:before {
	content: "\e833";
}
.icon-uniE87A:before {
	content: "\e87a";
}
.icon-uniE894:before {
	content: "\e894";
}
.icon-uniE897:before {
	content: "\e897";
}
.icon-uniE89F:before {
	content: "\e89f";
}
.icon-uniE8A0:before {
	content: "\e8a0";
}
.icon-uniE8A3:before {
	content: "\e8a3";
}
.icon-uniE8A5:before {
	content: "\e8a5";
}
.icon-uniE8A6:before {
	content: "\e8a6";
}
.icon-uniE8AF:before {
	content: "\e8af";
}
.icon-uniE8DF:before {
	content: "\e8df";
}
.icon-uniE6FB:before {
	content: "\e6fb";
}

