.analytics {
	.content {
		width: 90%;
		max-width: 1200px;
		min-width: 630px;
		margin: 0 auto;
		padding: 40px 0;
	}
	.suggest {
		position: relative;
		width: 100%;
		height: 48px;
		padding: 0 24px;
		font: 400 13px/48px 'Roboto';
		color: rgba(0,0,0,.26);
		margin: 0 0 20px 0;
		border: 0;
		background: #E5E5E5;
	}
	// &__block {
	// 	margin: 0 0 24px 0;
	// 	.title {
	// 		margin: 0 0 12px 12px;
	// 		font: 400 13px/20px 'Roboto';
	// 		color: rgba(0,0,0,.54);
	// 	}
	// 	.analytics__list {
	// 		&-item {
	// 			position: relative;
	// 			width: 100%;
	// 			font: 400 13px/20px 'Roboto';
	// 			color: rgba(0,0,0,.54);
	// 			background: #fff;
	// 			padding: 24px 24px 24px 72px;
	// 			box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
	// 			.icon {
	// 				position: absolute;
	// 				top: 24px;
	// 				left: 24px;
	// 				width: 24px;
	// 				height: 24px;
	// 				border-radius: 100%;
	// 				&.icon-1 {
	// 					background : url(analytics-icon-1.png) 50% 55% no-repeat;
	// 				}
	// 				&.icon-2 {
	// 					background : url(analytics-icon-2.png) 50% 55% no-repeat;
	// 				}
	// 				&.icon-3 {
	// 					background : url(analytics-icon-3.png) 50% 55% no-repeat;
	// 				}
	// 				&.icon-4 {
	// 					background : url(analytics-icon-4.png) 50% 55% no-repeat;
	// 				}
	// 				&.icon-5 {
	// 					background : url(analytics-icon-5.png) 50% 55% no-repeat;
	// 				}
	// 			}
	// 		}
	// 		.title {
	// 			float: left;
	// 			width: 68%;
	// 			margin: 0 2% 0 0;
	// 			height: 24px;
	// 			line-height: 24px;
	// 			text-overflow: ellipsis;
	// 			overflow: hidden;
	// 			white-space: nowrap;
	// 			.title {
	// 				color: #000;
	// 				float: none;
	// 			}
	// 		}
	// 		.contact {
	// 			float: left;
	// 			width: 18%;
	// 			margin: 0 2% 0 0;
	// 			height: 24px;
	// 			line-height: 24px;
	// 			text-overflow: ellipsis;
	// 			overflow: hidden;
	// 			white-space: nowrap;
	// 		}
	// 		.money {
	// 			float: right;
	// 			width: 10%;
	// 			text-align: right;
	// 			height: 24px;
	// 			line-height: 24px;
	// 			text-overflow: ellipsis;
	// 			overflow: hidden;
	// 			white-space: nowrap;
	// 			&:after {
	// 				display: inline-block;
	// 				width: 10px;
	// 				font: 10px/10px 'Icons';
	// 				color: rgba(0, 0, 0, 0.54);
	// 				content: "\E605";
	// 			}
	// 		}
	// 	}
	// }
  &__holder {
    margin: 0 0 24px 0;
    border-radius: 2px;
    &:last-child {
      margin: 0;
    }
  }



  &__top {
    padding: 24px;
    background: #F7F7F7;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    .title {
      float: left;
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.54);
    }
    .icon__filter {
      position: relative;
      float: right;
      margin: 0 30px 0 0;
      user-select: none;
      &:before {
        font: 20px/1 'Icons';
        color: rgba(0,0,0,.54);
        content: '\E8D8';
        cursor: pointer;
      }
      &-box {
        position: absolute;
        display: none;
        top: 22px;
        right: -12px;
        width: 272px;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
        &.show {
          display: block;
        }
        .search {
          width: 100%;
          height: 45px;
          padding: 0 0 0 16px;
          font: 400 12px/45px 'Roboto';
          color: rgba(0,0,0,.26);
          border: 0;
          border-bottom: 1px solid rgba(0,0,0,.12);
        }
        .bottom {
          height: 235px;
          overflow-y: scroll;
        }
        .icon__list-checked {
          display: none;
          border-bottom: 1px solid rgba(0,0,0,.12);
        }
        .icon__list {
          &-item {
            height: 32px;
            padding: 6px 0;
            cursor: default;
            &:hover {
              background: rgba(0,0,0,.04);
              .name {
                color: rgba(0,0,0,.87);
              }
            }
            &.checked {
              .check:before {
                opacity: 1;
              }
            }
            .ava {
              float: left;
              padding: 0 24px;
              width: 68px;
              text-align: center;
              img {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                overflow: hidden;
              }
            }
            .name {
              float: left;
              width: 120px;
              height: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font: 400 13px/20px 'Roboto';
              color: rgba(0,0,0,.54);
            }
            .check {
              float: right;
              position: relative;
              padding: 0 24px;
              width: 68px;
              &:before {
                content: '\E899';
                font: 20px/1 'Icons';
                color: #22ACC0;
                opacity: 0;
                transition: opacity .3s ease;
              }
            }
          }
        }
      }
    }
    .link {
      position: relative;
      display: block;
      float: right;
      padding: 0 22px 0 0;
      text-decoration: none;
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.54);
      &:after {
        position: absolute;
        top: 1px;
        right: 0;
        content: '\E7B6';
        font: 13px/1 'Icons';
      }
    }
  }



  .analytics__block {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.12);
    &:last-child {
      border: 0;
    }
  }



  &__all {
    width: 100%;
    background: #fff;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    .icon__holder {
      width: 5%;
      padding: 24px 0 24px 24px;
      .icon {
        width: 12px;
        height: 12px;
        border-radius: 100%;
      }
    }
    .title {
      width: 20%;
      padding: 24px 0;
      font: 400 13px/18px 'Roboto';
      color: rgba(0,0,0,.54);
      vertical-align: middle;
    }
    .sum {
      width: 25%;
      padding: 24px 0;
      .quantity {
        font: 400 20px/24px 'Roboto';
        color: rgba(0,0,0,.87);
        margin: 0 0 8px 0;
      }
      .description {
        font: 400 13px/20px 'Roboto';
        color: rgba(0,0,0,.54);
        .number {
          color: rgba(0,0,0,.87);
        }
      }
    }
    .link__holder {
      width: 15%;
      padding: 24px 24px 24px 0;
      text-align: right;
      .link {
        position: relative;
        padding: 0 22px 0 0;
        font: 400 13px/20px 'Roboto';
        color: rgba(0,0,0,.26);

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:after {
          position: absolute;
          top: 1px;
          right: 0;
          content: '\E7B6';
          font: 13px/1 'Icons';
        }
      }
    }
  }



  &__problem {
    width: 100%;
    background: #fff;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    .icon__holder {
      width: 5%;
      padding: 24px 0 24px 24px;
      .icon {
        width: 24px;
        height: 24px;
        font: 400 13px/24px 'Roboto';
        color: rgba(0,0,0,.3);
        text-align: center;
        border-radius: 100%;
      }
    }
    .name {
      width: 35%;
      padding: 24px 0 24px 0;
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.54);
      .company {
        color: #000;
      }
    }
    .cost {
      width: 15%;
      padding: 24px 0 24px 0;
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.54);
    }
    .manager {
      width: 15%;
      padding: 24px 0 24px 0;
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.54);
    }
    .status {
      width: 25%;
      padding: 24px 24px 24px 0;
      font: 400 13px/20px 'Roboto';
      color: #F50057;
      text-align: right;
    }
  }



  &__actions {
    width: 100%;
    background: #fff;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    .icon__holder {
      width: 5%;
      padding: 24px 0 24px 24px;
      .icon {
        width: 24px;
        height: 24px;
        background: rgba(0,0,0,.13);
        text-align: center;
        border-radius: 100%;
        &:before {
          font: 13px/24px 'Icons';
          color: #fff;
        }
        &.icon-1:before {
          content: '\E800';
        }
        &.icon-2:before {
          content: '\E89A';
        }
      }
    }
    .deal {
      width: 30%;
      padding: 24px 0 24px 0;
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.54);
      .name {
        color: #000;
      }
    }
    .status__holder {
      width: 15%;
      padding: 24px 0 24px 0;
      overflow: hidden;
      .status {
        float: left;
        padding: 4px 6px;
        border-radius: 2px;
        font: 400 12px/18px 'Roboto';
        color: rgba(0,0,0,1);
      }
    }
    .manager {
      width: 20%;
      padding: 24px 0 24px 0;
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.54);
      text-align: right;
    }
    .time {
      width: 10%;
      padding: 24px 24px 24px 24px;
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.54);
      text-align: right;
    }
  }
}
