#js-favorite-courses.courses-aside.favorite-courses
    .close-filter.icon Избранное
    - favorite_courses.each do |favorite_course|
        = render "home/courses/chosen_one", {favorite_course: favorite_course}


          
