= render "home/header/header", {namePage: "other_white", titlePage: @course.title, btnBack: true, backUrl: "/courses?type=material"}
.inner-content
  #course
    h2 = @course.title
    .title = @course.description
/.last__chance.js_parentRequestSend
/  = render "common/popup_request/content"
- h = "Материал доступен после регистрации" if !@course.paid
- h = "Материал доступен по платной подписке" if @course.paid
- i = "Зарегестрируйтесь в системе и получите доступ к библиотеке #{$env_mode.name_title}"
= render "common/course/course_reg", {header: h, info: i}