meta content="Ура! Я только что получил сертификат ADCONSULT Online!" property="og:title"
meta content="#{@course.title}" property="og:description"
meta content="#{$env_mode.current_domain}" property="og:url"
meta content="#{$env_mode.current_domain}/system/tests_cert/#{@user_cert_id}" property="og:image"