meta content="Ура! Я только что получил сертификат ADCONSULT Online!" property="og:title"
meta content="#{(@course.title rescue nil)}" property="og:description"
meta content="#{$env_mode.current_domain}/course_cert?id=#{@params_png_id}" property="og:url"
meta content="#{$env_mode.current_domain}/system/tests_cert/#{@user_cert_id}" property="og:image"
meta content="#{$env_mode.current_domain}/system/tests_cert/#{@user_cert_id}" property="og:image:url"
meta content="image/jpeg" property="og:image:type"
meta content="product.item" property="og:type"
//javascript:
//  window.onload = function () {
//    window.location.href='/'
//  };