= render "home/header/header", {namePage: "other", titlePage: "Продление подписки", btnBack: true, backUrl: '/tariff', noWhite: true}
- sub = current_user.find_subscription rescue nil
- sub = (sub.subscriptiontable_type.downcase == params[:type] ? sub : nil) if sub.present? && params[:type].present?
- file_name = params[:type].blank? ? sub.subscriptiontable_type.downcase : params[:type]
= render "home/tariff/pay_#{file_name}", {sub: sub} if file_name == "user" || file_name == "company"