.search__content {
  width: 100%;
  height: 100%;
  @include transition__d(100ms);
  opacity: 0;
  &.is__visible {
    @include transition__d(100ms);
    padding-top: 64px;
    z-index: 1;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
  }
}

.is__white_all {
  background-color : #FFF;
}


#page__header {
  @include transition;
  position        : fixed;
  z-index         : 200;
  top             : 0;
  left            : 0;
  display         : flex;
  width           : 100%;
  height          : 64px;
  justify-content : space-between;
  min-width: 1200px;

  &.header__with_search {
    display: flex;
    justify-content: flex-start;
    .page__icon {
      margin-right: 32px;
      margin-top: 6px;
    }
    .page__title {
      font-size    : 20px;
      line-height  : 24px;
      margin-top   : -2px;
      margin-right : 24px;
      padding-top  : 20px;
      width: 250px;
      @include eclipses;
    }
    .search__block {
      width: calc(100% - 700px);
      padding-top: 12px;
      .input__wrp {
        display: flex;
        justify-content: flex-start;
        background-color: #F5F5F5;
        border-radius: 2px;
        height: 40px;
        i {
          width: 56px;
          font-size: 22px;
          padding: 9px 0 0 18px;
          color: black__color('secondary__color');
        }
        input {
          width: calc(100% - 191px);
          background: none;
          border: none;
        }
        .some__result {
          width: 135px;
          color: black__color('not_active__color');
          font-size: 15px;
          line-height: 40px;
        }
      }
    }
    .page__action {
      width: 350px;
      display: flex;
      justify-content: flex-end;
      padding-top: 17px;
      .item {
        margin-right: 26px;
      }
      .ava {
        margin-top: -1px;
      }
      .btn {
        margin-right: 21px;
      }
    }
  }

  .left-col {
    display         : flex;
    justify-content : flex-start;
  }
  .page__icon {
    line-height : 48px;
    width       : 48px;
    height      : 48px;
    margin      : 8px 16px 16px;
    text-align  : center;
    i {
      font-size : 24px;
      cursor    : pointer;
      color     : black__color('secondary__color');
    }
    .ava {
      img {
        width         : 32px;
        height        : 32px;
        border-radius : 50%;
      }
    }
  }

  .page__title {
    @include eclipses;
    font-size    : 20px;
    line-height  : 24px;
    margin-top   : -2px;
    margin-right : 24px;
    padding-top  : 20px;
    &.is__gray {
      color: black__color(secondary__color);
    }
  }

  .page__children {
    position        : relative;
    display         : flex;
    padding-top     : 14px;
    justify-content : flex-start;
    .item {
      font-size      : 15px;
      min-width      : auto;
      text-transform : none;
      color          : black__color('base__color');
      max-width      : 228px;
      @include eclipses;
      &.error {
        padding-right : 14px;
        &:before {
          content          : " ";
          width            : 5px;
          height           : 5px;
          display          : block;
          position         : absolute;
          left             : 100%;
          top              : 45%;
          margin-left      : -9px;
          border-radius    : 100%;
          background-color : red;
        }
      }
    }
    .line {
      position         : absolute;
      top              : 62px;
      left             : 0;
      height           : 2px;
      background-color : $primaryColor;
    }
  }

  .page__action {
    display         : flex;
    padding-top     : 19px;
    justify-content : flex-start;
    .btn {
      margin-right: 8px;
    }
    .our__phone {
      //padding-top: 5px;
      margin-right: 16px;
      @include text__setting(header__typo_1)
    }
    .create__contenterCourse {
      margin-right : 16px;
      ul {
        display     : none;
        position    : absolute;
        width       : 124px;
        text-align  : left;
        margin-top  : 5px;
        margin-left : -10px;
        color       : #909090;
        &.show, &:hover {
          display : block;
        }
        @include white__block(1, 0);

        li {
          padding : 5px 8px 4px 8px;
          &:hover {
            background-color : #ECECEC;
          }
        }
      }
      &:active {
        ul {
          display : block;
        }
      }
    }
    .item {
      position     : relative;
      width        : 32px;
      height       : 32px;
      margin-right : 16px;
      &::before {
        position      : absolute;
        z-index       : -1;
        top           : -9px;
        left          : -8px;
        display       : block;
        width         : 48px;
        height        : 48px;
        content       : "";
        border-radius : 100%;
      }
      &:active {
        &::before {
          -webkit-animation : rippleAnimation 0.5s ease-out;
          background        : rgba(0, 0, 0, .12);
        }
      }
      i {
        line-height : 32px;
        display     : block;
        width       : 32px;
        height      : 32px;
        cursor      : pointer;
        text-align  : center;
        &::before {
          font-size : 24px;
          color     : black__color('secondary__color');
        }
      }
      &.ava {
        img {
          width         : 100%;
          border-radius : 100%;
        }
      }
      &.is__no-icon {
        font-size: 14px;
        line-height: 16px;
        width: auto;
        color: $primaryColor;
        margin-right: 33px;
        .btn{
          margin-top: -5px;
        }
        &:active {
          &::before {
            -webkit-animation : rippleAnimation 0.5s ease-out;
            background        : none;
          }
        }
      }
    }
    .notification__with-qty {
      font-size        : 12px;
      line-height      : 24px;
      height           : 24px;
      margin-top       : 3px;
      text-align       : center;
      color            : #FFF;
      border-radius    : 100%;
      background-color : $primaryColor;
      @include middle-block(24px);
    }
  }

  // .is__sooo-long {
  //   position : relative;
  //   overflow : visible;
  //   .page__title {
  //     position      : relative;
  //     padding-right : 32px;
  //     cursor        : pointer;
  //     &::before {
  //       font-family : Icons, sans-serif;
  //       font-size   : 23px;
  //       position    : absolute;
  //       top         : 22px;
  //       right       : 0;
  //       content     : "\E7B4";
  //     }
  //   }
  //   .page__children {
  //     position   : absolute;
  //     z-index    : 99;
  //     top        : 64px;
  //     left       : 80px;
  //     display    : none;
  //     min-width  : 320px;
  //     max-height : 88vh;
  //     padding    : 6px 0;
  //     cursor     : pointer;
  //     @include white__block(1, 0);
  //     .line {
  //       display : none;
  //     }
  //     .item {
  //       font-size   : 15px;
  //       line-height : 36px;
  //       position    : relative;
  //       height      : 48px;
  //       padding     : 6px 16px;
  //       cursor      : pointer;
  //       text-align  : left;
  //       white-space : nowrap;
  //       color       : rgba(0, 0, 0, .54);
  //       &:hover {
  //         color      : #000;
  //         background : rgba(0, 0, 0, .12);
  //       }
  //     }
  //   }
  // }
  &.is__white {
    background-color : #FFF;
    @include transition;
    @include white__block(1, 0);
    border-radius: 0;
    &.with__img {
      .page__icon i {
        color : rgba(0, 0, 0, .54);
      }
      .page__title {
        color : rgba(0, 0, 0, .54);
      }
      .page__children .item {
        color : rgba(0, 0, 0, .54);
      }
      .page__action .item i::before {
        color : rgba(0, 0, 0, .54);
      }
    }
  }
  &.with__img {
    .is__sooo-long {
      .page__children .item {
        color : rgba(0, 0, 0, .54);
      }
    }
    .page__icon i {
      color : #FFF;
    }
    .page__title {
      color : #FFF;
    }
    .page__children .item {
      color : #FFF;
    }
    .page__action .item i::before {
      color : #FFF;
    }
  }
  .menu__user {
    position      : absolute;
    display       : none;
    top           : 40px;
    right         : 0;
    width         : 320px;
    background    : #FFF;
    border-radius : 2px;
    box-shadow    : 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 6px 0 rgba(0, 0, 0, .24);
    cursor        : default;
    &.active {
      display : block;
    }
    &:before {
      position      : absolute;
      display       : block;
      top           : -13px;
      right         : 10px;
      width         : 0;
      height        : 0;
      border        : 5px solid transparent;
      border-bottom : 8px solid #FFF;
      content       : "";
    }
    .top {
      overflow      : hidden;
      padding       : 24px;
      border-bottom : 1px solid rgba(0, 0, 0, .12);
      padding-top: 25px;
      padding-bottom: 16px;
      .avatar__holder {
        float  : left;
        width  : 48px;
        height : 48px;
        margin : 0 24px 0 0;
        .avatar {
          max-width     : 100%;
          max-height    : 100%;
          border-radius : 100%;
        }
      }
      .text {
        float : left;
        .name {
          font   : 400 13px/20px "Roboto";
          color  : rgba(0, 0, 0, .87);
          margin : 0 0 6px;
        }
        .login {
          font  : 400 13px/20px "Roboto";
          color : rgba(0, 0, 0, .54);
        }
      }
    }
    .sub__info {
      padding: 9px 24px 18px 24px;
      border-bottom: 1px solid black__color(decoration__color);
      .title {
        @include text__setting(small__typo);
        font-weight: 700;
        margin-bottom: 8px;
      }
      .description {
        @include text__setting(small__typo, secondary__color);
        white-space: normal;
        &.overdue {
          color: #F50057;
        }
      }
    }
    .menu {
      padding       : 4px 0;
      border-bottom : 1px solid rgba(0, 0, 0, .12);
      &__item {
        &-link {
          position    : relative;
          display     : block;
          height      : 48px;
          line-height : 48px;
          font        : 400 13px/48px "Roboto";
          color       : #767676;
          padding     : 0 24px 0 54px;
          &:hover {
            background : rgba(0, 0, 0, .03);
          }
          &:before {
            position : absolute;
            left: 24px;
            top: 15px;
            font: 16px/1 "Icons";
            color    : #767676;
          }
          &.menu__item-schedule:before {
            content : "\e640";
          }
          &.menu__item-profile:before {
            content : "\e660";
          }
          &.menu__item-company:before {
            content : "\e8ca";
          }
          &.menu__item-groups:before {
            content : "\e8d6";
          }
          &.menu__item-courses:before {
            content : "\e6b2";
          }
        }
      }
    }
    .account {
      overflow      : hidden;
      padding       : 24px;
      border-bottom : 1px solid rgba(0, 0, 0, .12);
      .avatar {
        float  : left;
        width  : 48px;
        height : 48px;
        margin : 0 24px 0 0;
      }
      .text {
        float : left;
        .name {
          font   : 400 13px/20px "Roboto";
          color  : rgba(0, 0, 0, .87);
          margin : 0 0 6px;
        }
        .login {
          font  : 400 13px/20px "Roboto";
          color : rgba(0, 0, 0, .54);
        }
      }
    }

    .bottom {
      overflow : hidden;
      padding  : 15px 22px;
      display: flex;
      justify-content: space-between;
      .add__acc {
        float : left;
      }
      .exit {
        float       : right;
        line-height : 36px;
        margin-right: 0;
      }
    }
  }
  .menu__apps {
    position      : absolute;
    display       : none;
    top           : 39px;
    right         : -4px;
    padding       : 24px 24px 16px;
    width         : 282px;
    border-radius : 2px;
    box-shadow    : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
    background    : #FFF;
    cursor        : default;
    &.lower {
      top : 76px;
    }
    &.active {
      display : block;
    }
    &:before {
      position      : absolute;
      display       : block;
      top           : -13px;
      right         : 10px;
      width         : 0;
      height        : 0;
      border        : 5px solid transparent;
      border-bottom : 8px solid #FFF;
      content       : "";
    }
    &-item {
      float      : left;
      width      : 54px;
      text-align : center;
      margin     : 0 36px 24px 0;
      &:nth-child(3n) {
        margin : 0 0 24px;
      }
      &.last__row {
        margin : 0 36px 0 0;
        &:nth-child(3n) {
          margin : 0;
        }
      }
      &-img {
        max-width  : 100%;
        max-height : 100%;
        &-holder {
          margin        : 0 0 12px;
          border-radius : 8px;
        }
      }
      &-text {
        font  : 400 8px/12px "Roboto";
        color : rgba(0, 0, 0, .54);
      }
    }
  }
}

@import "common/header/main__nav";
