.schedule-calendar {
  background: #fff;
  .schedule-line {
    display: flex;
    justify-content: space-around;
    .item {
      border-right: 1px solid rgba(0,0,0,0.12);
      border-bottom: 1px solid rgba(0,0,0,0.12);
      padding: 12px;
      height: 191px;
      width: calc(100% / 7);
      @include transition;
      &:hover {
        @include transition;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
      }
      &.is-no-active {
        opacity: 0.46;
          box-shadow: none;
          .day-event {
            display: none;
          }
      }
      .data {
        margin-bottom: 24px;
        .weekday {
          font-size: 11px;
          color: rgba(0,0,0,0.26);
          line-height: 16px;
        }
        .day {
          font-size: 34px;
          color: rgba(0,0,0,0.26);
          line-height: 34px;
          margin-bottom: 24px;
        }
      }
      .day-event {
        height: 32px;
        border: 1px solid rgba(0,0,0,0.12);
        border-radius: 2px;
        @include eclipses;
        line-height: 32px;
        padding: 0 8px 0 12px;
        margin-bottom: 8px;
        font-size: 11px;
        color: rgba(0,0,0,0.54);
      }
      .show-more {
        font-size: 11px;
        color: rgba(0,0,0,0.26);
        line-height: 15px;
      }
      &.current {
        .data {
          .weekday, .day {
            color: $primaryColor;
          }
        }
        .day-event {
          position: relative;
          &::before {
              content       : "";
              display       : block;
              width         : 4px;
              height        : 100%;
              position      : absolute;
              top           : 0;
              left          : 0;
              background    : $primaryColor;
              border-radius : 1px 0 0 1px;
          }
        }
      }
    }
  }
}
.aside__schedule-calendar {
  padding-left: 16px;
  padding-right: 16px;
  .course-wrp {
    background-color: #F5F5F5;
    padding: 12px 16px 12px 16px;
    margin-top: 12px;
    > .title  {
      font-size: 13px;
      color: rgba(0,0,0,0.54);
      line-height: 20px;
      margin-bottom: 12px;
    }
    .item {
      padding: 14px 145px 18px 24px;
      position: relative;
      margin-bottom: 12px;
      @include white__block(1,1);
      &:hover {
        .com__director-btn {
          z-index: 999;
        }
      }
      .title {
        font-size: 15px;
        color: rgba(0,0,0,0.87);
        line-height: 24px;
      }
      .duration__with-icon  {
        position: absolute;
        top: 16px;
        right: 56px;
        font-size: 11px;
        color: rgba(0,0,0,0.26);
        line-height: 18px;
        i {
          color: rgba(0,0,0,0.26);
        }
      }
      .com__director-btn {
        position: absolute;
        top: 11px;
        right: 8px;
        .edit-date i {
          font-size: 23px;
        }
      }
    }
  }
  &.current-day {
    .item {
      position: relative;
      &::before {
          content       : "";
          display       : block;
          width         : 4px;
          height        : 100%;
          position      : absolute;
          top           : 0;
          left          : 0;
          background    : $primaryColor;
          border-radius : 1px 0 0 1px;
      }
    }
  }
}
