/ - if current_user.present?
/   - bsid = (@section.bunch_section(current_user.id).id rescue nil)
/   - redirect_url = "/course_description/#{@course.id}"
/   - attachs_next = (@attachment.next rescue nil)
/   - if attachs_next.present?
/     - redirect_url = "/attachment?id=#{attachs_next.id}"
/   - elsif @course.test.present?
/     - redirect_url = "/tests/#{@course.test.id}/run"

/   - icon = 'done'
/   - unless @course.material?
/     - if (@attachment.bunch_attachment(current_user.id).complete rescue true)
/       - add_class = "js_redirectAttachment"
/       - icon = 'next'
/     - else
/       - add_class = "js_completeAttachment"
/   - else
/     - add_class = "js_completeMaterial"
/   - add_hash = {'data-course_id' => @course.id, 'data-id' => @attachment.id, 'data-bunch_section_id' => bsid, 'data-redirect_url' => redirect_url}
- if @course.download_url.present?
  .action__block_video
    .item.complete
      a href=@course.download_url target="_blank"
        i.icon class="download"
        span.help_btn скачать