/.inner-content
/  #course
/    - if course.material?
/      h2 = course.title
/      .title = course.description
/    .text__description
/      .title = attachment.title
/      .description = attachment.description
/      .icon__block
/        i.icon.video
/
/    .video__content
/      = raw attachment.embed_video
