.content-video {
    color: #FFFFFF;
    .video-title {
        font-family: ArialMT;
        font-size: 24px;
        line-height: 32px;
        padding-top: 10px;
    }
    .video-author {
        font-family: Roboto-Regular;
        font-size: 13px;
        line-height: 20px;
    }
}
