/* Cabinet css start */
#members {
  width      : 920px;
  margin     : 0 auto;
  padding-top: 128px;
}

.members__title {
  margin-bottom: 27px;
  padding-right: 150px;
  position: relative;
  .upgrade__tarif {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    .btn {

    }
  }
}
.tarif__is_full {
  @include clearfix;
  background: #EEEEEE;
  border-radius: 2px;
  padding: 12px 32px;
  margin-bottom: 32px;
  span {
    float: left;
    width: 70%;
    font-size: 15px;
    padding-top: 6px;
  }
  .btn {
    width: 145px;
    float: right;
  }
}
.members {
  .title {
    width     : 780px;
    margin    : 0 auto 24px;
    font      : 400 20px/32px "Roboto";
    color     : #4a4a4a;
    text-align: center;
  }

  .members__invite {
    position     : relative;
    background   : #fff;
    // box-shadow   : 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 6px 0 rgba(0, 0, 0, .24);
    border-radius: 2px;
    padding      : 20px 0 16px;

    .invited {
      overflow     : hidden;
      padding      : 12px 32px;
      border-bottom: 1px solid rgba(0,0,0,0.12);
      margin-bottom: 16px;

      &__item {
        float        : left;
        overflow     : hidden;
        max-width    : 100%;
        margin       : 0 16px 8px 0;
        height       : 28px;
        padding      : 0 12px;
        border       : 1px solid black__color('secondary__color');
        border-radius: 4px;
        font-size    : 15px;
        color        : black__color('secondary__color');
        line-height  : 28px;
        //
        // &:last-child {
        //   border: none;
        // }
        //
        .email {
          float    : left;
          max-width: calc(100% - 40px);
          @include eclipses;
          margin   : 0 16px 0 0;
        }

        .cancel {
          float     : left;
          width     : 24px;
          text-align: center;
          cursor    : pointer;
        }
      }
    }

    .form {
      position: relative;
      width   : 100%;
      padding : 0 32px;

      .input {
        width  : calc(100% - 200px);
        border : 0;
        padding: 0;
        font   : 400 13px/20px "Roboto";
        color  : rgba(0, 0, 0, .87);
      }

      .plane {
        position  : absolute;
        display   : block;
        border    : 0;
        padding   : 0;
        background: transparent;
        top       : 50%;
        right     : 32px;
        margin    : -13px 0 0;
        width     : 190px;
        height    : 26px;
        .qty__left {
          @include text__setting(smallest__typo, secondary__color);
          float: left;
          margin-top: 4px;
          opacity: 0;
          @include transition;
          &.is__active {
            opacity: 1;
            @include transition;
          }
        }
        &:before {
          font   : 22px/22px "Icons";
          color  : rgba(0, 0, 0, .54);
          content: "\e719";
          cursor : pointer;
          float: right;
        }
      }
    }
  }

  .members__in_system {
    &.director {
      margin : 30px 0 0;
      padding: 8px 0;
    }

    &-item {
      @include clearfix;
      padding: 17px 32px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      cursor: pointer;
      position: relative;
      padding-top: 23px;
      padding-bottom: 11px;
      &:first-child {
        border-radius: 2px 2px 0 0;
      }

      &:last-child {
        border: none;
      }

      &:hover {
        background-color: #fafafa;
      }

      &.is__choosen {
        &:hover {
          background-color: #f0fbfd;

          .ava {
            background-color: $primaryColor;
          }
        }

        .ava {
          position: relative;

          img {
            @include transition;
            opacity: 0;
          }

          &::before {
            position   : absolute;
            top        : 0;
            left       : 7px;
            content    : "\E899";
            line-height: 30px;
            @include transition;
          }
        }
      }

      .ava {
        float        : left;
        width        : 30px;
        height       : 30px;
        margin       : -4px 18px 0 2px;
        background   : $primaryColor;
        border-radius: 100%;
        color        : #fff;
        text-align   : center;

        img {
          @include transition;
          width        : 100%;
          border-radius: 50%;
          display      : block;
        }
      }

      .name {
        float: left;
        width: 280px;
        @include eclipses;
        font-size: 15px;
        line-height: 24px;
        margin-right: 20px;
      }

      .email {
        float: left;
        width: 350px;
        @include eclipses;
        margin-right: 0px;
      }

      .status {
        float     : right;
        width     : 170px;
        text-align: right;
        font-size: 15px;
        color: rgba(0,0,0,0.54);
        line-height: 24px;
        position: relative;

        .overdue {
          color: #F50057;
        }

        .tooltip__list {
          position: absolute;
          right   : 0;
          bottom  : 32px;
          @include white__block(1,1);
          @include transition;
          padding: 16px;
          display: none;

          li {
            width: 272px;
            @include eclipses;
            text-align: left;
            font-size: 12px;
            line-height: 16px;
            color: black__color('base__color');
            margin-bottom: 10px;
          }
        }
        &:hover {
          .tooltip__list {
            display: block;
            @include transition;
          }
        }
        .is__notAuth {
          color: $primaryColor;
        }

        .delete {
          float    : right;
          display  : none;
          font-size: 30px;
          cursor   : pointer;
        }

        .date {
          float   : right;
          position: relative;
          width: 50%;
          @include eclipses;
        }

        .text {
          position: relative;
          float   : right;
          font    : 400 13px/30px "Roboto";
          padding : 0 8px 0 26px;
          width: 49%;
          @include eclipses;
        }

        .text:before {
          position   : absolute;
          top        : 0;
          left       : 0;
          font-size  : 20px;
          font-family: "Icons";
          content    : "\e899";
        }

        .authorized {
          color: $primaryColor;
        }

        &.director:hover {
          .delete {
            display: block;
          }

          .send,
          .authorized {
            display: none;
          }
        }
      }
    }
  }

  &.ingroups {
    .members__invite {
      box-shadow: none;
    }

    .members__in_system {
      box-shadow    : none;
      margin-top    : 0;
      padding-bottom: 8px;

      li {
        //border-top      : 1px solid rgba(0,0,0,0.12);
        background-color: #fcfcfc;
        box-shadow      : none;
        cursor          : pointer;

        &:hover {
          background-color: #ebebeb;
        }

        &:last-child {

        }
      }
    }
  }
}

/* Cabinet css end */
