.attachment.item.js__toggle-state class=class_state+"-state"
  = render "contenter/courses/program/info_attachment", {attachment: attachment}
  = render "contenter/courses/program/edit_attachment", {attachment: attachment, section: section}