.attachment.item.js__toggle-state.parentValidAttachment class=class_state+"-state" data-id=attachment.id
  = render "contenter/courses/program/info_attachment", {attachment: attachment}
  = render "contenter/courses/program/edit_attachment", {attachment: attachment, section: section}