//colors
$black_12 : rgba(0, 0, 0, 0.12);
$black_26 : rgba(0, 0, 0, 0.26);
$black_54 : rgba(0, 0, 0, 0.54);
$black_87 : rgba(0, 0, 0, 0.87);

$primoryColor: #00BCD4;

$checkbox-animation-check: 0.3s;


.h__text_34-40 {
  font-size: 34px;
  line-height: 40px;
}
.h__text_24-32 {
  font-size: 24px  !important;
  line-height: 32px  !important;
}
.h__text_20-28 {
  font-size: 20px;
  line-height: 28px;
}
.h__text_15-24 {
  font-size: 15px;
  line-height: 24px;
}
.h__text_13-20 {
  font-size: 13px;
  line-height: 20px;
}
.h__text_12-16 {
  font-size: 12px;
  line-height: 16px;
}
.h__width_936 {
  width: 936px !important;
}
