//colors
$black_12 : rgba(0, 0, 0, 0.12);
$black_26 : rgba(0, 0, 0, 0.26);
$black_54 : rgba(0, 0, 0, 0.54);
$black_87 : rgba(0, 0, 0, 0.87);

$primoryColor: #00BCD4;

$checkbox-animation-check: 0.3s;
