$director__table_first_col_width: 250px;
$director__table_common_col_width: 216px;
$director__table_border_style: 1px solid black__color(decoration__color);

.inner.director__statistic__user_info {
  width: 792px;
  padding: 48px 0 32px 0;
  .membership {
    position: absolute;
    right: 32px;
    top: 29px;
    cursor: pointer;
    .visible__part {
      @include text__setting(normal__typo, secondary__color);
    }
    &:hover {
      .hidden-list {
        display: block;
        width: 272px;
        li {
          @include eclipses;
          @include text__setting(smallest__typo);
          padding-bottom: 8px;
          height: auto;
        }
      }
    }
  }
  .user__info {
    margin-bottom: 48px;
    .ava {
      @include middle-block(64px);
      height: 64px;
      margin-bottom: 8px;
    }
    .name {
      @include text__setting(header__typo_1);
      text-align: center;
    }
  }
  .course__status_tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
    li {
      @include text__setting(normal__typo);
      padding: 0 8px;
      margin: 0 8px;
      cursor: pointer;
      padding-bottom: 8px;
      &.is__active {
        border-bottom: 2px solid $primaryColor;
      }
    }
  }
  .courses__list {
    max-height: 420px;
    overflow: auto;
    padding-top: 10px;
    figure.shot__module {
      @include white__block(1, 1);
      margin: 0 32px 16px 32px;
      height: 130px;
      .title {
        position: relative;
        padding-right: 160px;
        .inner {
          overflow: hidden;
          white-space: normal;
          height: 56px;
          @include text__setting(header__typo_1);
          margin-bottom: 20px;
        }
        .status {
          @include text__setting(normal__typo);
          position: absolute;
          top: 0;
          right: 0;
          &.overdue {
            color: #F50057;
          }
        }
      }
      figcaption .info__block .right-col {
        padding-top: 3px;
        color: black__color(secondary__color);
      }
    }

    .create__group.group__list {
      width: 728px;
      .item {
        padding-left: 24px;
        .info .description {
          width: auto;
          @include text__setting(small__typo);
        }
      }
    }
  }
}

.director__statistic {
  @include middle-block(1128px);
  .dropdown__flash {
    margin-right: 13px;
    margin-left: 0;
    .visible__part {
      @include text__setting(normal__typo);
      i {
        right: 34px;
        font-size: 17px;
      }
    }
    .hidden__list {
        top: -24px;
      li {
        @include text__setting(normal__typo);
        @include eclipses;
        padding-right: 8px;
      }
    }
  }
  .miracle__notification {
    @include middle-block(936px);
    @include white__block(1, 0);
    @include clearfix;
    padding: 22px 55px 24px 25px;
    position: relative;
    margin-bottom: 48px;
    box-shadow: none;
    .delete {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 24px;
      color: black__color(decoration__color);
      cursor: pointer;
    }
  }
  .icon__holder {
    width: 32px;
    margin-right: 25px;
    float: left;
    img {
      width: 100%;
    }
  }
  .text__holder {
    width: 784px;
    float: left;
    margin-top: -2px;
    .title {
      @include text__setting(header__typo_1);
      margin-bottom: 8px;
    }
    .description {
      @include text__setting(normal__typo);
    }
  }
  .director__statistic__filtre {
    @include middle-block(936px);
    @include clearfix;
    background-color: #EEEEEE;
    padding: 24px 32px 16px 32px;
    margin-bottom: 46px;
    .dropdown__flash {
      float: left;
      .hidden__list {
        li {
          @include text__setting(normal__typo, secondary__color);
        }
      }
    }
  }
  .director__stat_table {
    @include white__block(1, 0);
    .is__grey__bg {
      background-color: black__color(decoration__color);
    }
    .action__header {
      display: flex;
      justify-content: space-between;
      padding: 17px 32px 26px 32px;
      height: 78px;
      .dropdown__flash {
        float: left;
        width: auto;
        margin-top: 2px;
        .visible__part {
          background: rgba(0,0,0,0.06);
          border-radius: 2px;
          padding: 5px 9px 4px 32px;
          color: black__color(secondary__color);
          i {
            left: 10px;
            top: 5px;
            font-size: 16px;
          }
        }
        .hidden__list {
          li {
            @include text__setting(normal__typo, secondary__color);
          }
        }
      }
    }
    .table__paginator {
      display: flex;
      justify-content: flex-end;
      width: 175px;
      padding-left: 4px;
      margin-right: -2px;
      .block__counter {
        @include text__setting(normal__typo, secondary__color);
        margin-right: 33px;
      }
      .action__block {
        display: flex;
        justify-content: flex-start;
        color: black__color(decoration__color);
        i {
          font-size: 24px;
          &.is__active {
            cursor: pointer;
            color: black__color(secondary__color);
          }
        }
        .prev{
          margin-right: 24px;
        }
      }
    }
    &.fixed__header {
      padding-top: 166px;
      .action__header {
        position: fixed;
        top: 64px;
        left: 50%;
        margin-left: -564px;
        width: 1128px;
        background-color: #fff;
        z-index: 10;
      }
      .psevdo__table__header {
        @extend .action__header;
        top: 142px;
        height: 88px;
        padding: 0;
      }
    }
  }
  .psevdo__table__header {
    @include clearfix;
    height: 88px;
    .first__item {
      width: $director__table_first_col_width;
      float: left;
      height: 88px;
    }
  }
  .course__title__list {
    float: right;
    width: calc(100% - #{$director__table_first_col_width});
    overflow: hidden;
    .wrp {
      width: 10000%;
      @include transition;
    }
    .item {
      @include text__setting(normal__typo, secondary__color);
      height: 88px;
      width: $director__table_common_col_width;
      border-left: $director__table_border_style;
      float: left;
      padding: 12px 8px 24px 15px;
      cursor: pointer;
      .icon {
        @include inline-block;
        margin-bottom: -2px;
        margin-right: 5px;
      }
      &:hover {
        color: $primaryColor;
      }
    }
  }
  .psevdo__table__body {

  }
  .name__column {
    float: left;
    .item {
      height: 64px;
      padding: 14px 19px 15px 35px;
      width: $director__table_first_col_width;
      border-top: $director__table_border_style;
      cursor: pointer;
      .ava {
        @include inline-block;
        width: 32px;
        height: 32px;
        margin-right: 15px;
        img {
          width: 100%;
        }
      }
      .name {
        @include inline-block;
        @include eclipses;
        @include text__setting(normal__typo, secondary__color);
        width: 149px;
        padding-top: 5px;
      }
    }
  }
  .status__table {
    overflow: hidden;
    .wrp {
      @include clearfix;
      width: 10000%;
      @include transition;
    }
  }
  .table__column {
    float: left;
    width: $director__table_common_col_width;
    .item {
      @include text__setting(normal__typo);
      cursor: pointer;
      height: 64px;
      border-left: $director__table_border_style;
      border-top: $director__table_border_style;
      line-height: 64px;
      text-align: left;
      padding: 0 12px;
      &.overdue {
        color: #F50057;
      }
    }
  }
}
