#main
  .oferta_holder
    .header_simple
      .back__holder
        a.back href="/sign_up"
      .title Договор оферты

    .auth_oferta.text__content_inner
      h2 ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
      p Настоящий документ является офертой Индивидуального предпринимателя Пивоварова Романа Александровича, именуемого далее также Администрация Сайта, о заключении соглашения на изложенных ниже условиях. Оферта адресована дееспособным физическим лицам, а также юридическим лицам.
      p Лицо, акцептовавшее оферту и соответствующее изложенным выше требованиям, именуется Пользователь, Администрация Сайта и Пользователь при совместном упоминании именуются Сторонами, по отдельности - Сторона, а заключённое между ними соглашение - Соглашением.
      ol
        li.h__h  
          h2 ИСПОЛЬЗУЕМЫЕ ТЕРМИНЫ
          ol
            li 
              |Сайт – интернет-сайт, расположенный по адресу:   
              a href="http://adconsult.online/courses"  http://adconsult.online/courses
              | (Edbox).
            li Использование Сайта – это использование функциональных возможностей Сайта. При этом объем возможного использования Сайта для зарегистрированных и незарегистрированных Пользователей, а также для Пользователей, оформивших и не оформивших платную подписку, может быть различным. 
            li Пользователь – лицо, использующее Сайт, вне зависимости от факта регистрации такого лица на Сайте. 
            li 
              |Категории Пользователей, использующих Сайт:
              ol
                li  
                  | Пользователь, использующий Персональный аккаунт.
                  br
                  | Пользователем, использующим Персональный аккаунт, является Пользователь, который действует на Сайте и использует его в качестве физического лица.
                li 
                  |Пользователь, использующий Корпоративный аккаунт.
                  br
                  | Пользователем, использующим Корпоративный аккаунт, является Пользователь, который действует на Сайте в качестве юридического лица и использует Сайт для предоставления доступа своим сотрудникам или иным лицам к курсам, вебинарам, материалам, размещенным на Сайте. 
                  br
                  | Для целей Соглашения, если для конкретного случая не указано иное, сотрудники и иные лица, которым предоставлен доступ, также именуются Пользователями. Лицо, зарегистрировавшееся в качестве Пользователя, использующего Корпоративный аккаунт, подтверждает, что зарегистрированное юридическое лицо действительно предоставило такому лицу полномочия на совершение указанных действий, а Администрация Сайта полагается на такое заверение.  
            li  
              |Личный кабинет - специальный раздел на Сайте, который включает следующие разделы: «Мой кабинет», «Библиотека», «Группы».  
              ol
                li Раздел «Мой кабинет» представляет собой совокупность данных о Пользователе. 
                li Раздел «Библиотека» содержит каталог курсов, вебинаров, материалов, к которым Пользователю может быть предоставлен доступ.
                li Раздел «Группы» содержит информацию о том, в каких группах состоит Пользователь.  Приглашение Пользователя в Группу осуществляется Пользователем, использующим Корпоративный аккаунт.
              
            li  Логин и пароль – система персональной идентификации, используемая для доступа к Личному кабинету. 
            li  Адрес электронной почты Пользователя - адрес электронной почты Пользователя, указанный им при регистрации на Сайте. На адрес электронной почты Пользователя Администрация Сайта вправе направить информационные материалы, уведомления и иное, если это необходимо для оказания услуг. Создание Пользователем Личного кабинета означает его согласие с получением указанных в настоящем пункте сведений и материалов.
        li.h__h    
          h2 ПРЕДМЕТ СОГЛАШЕНИЯ
          ol
            li Администрация Сайта предоставляет Пользователю услуги по предоставлению  доступа к курсам, вебинарам и материалам, представленным в Разделе «Библиотека». 
            li Доступ к курсам, вебинарам, материалам, представленным в Разделе «Библиотека», может быть платным и бесплатным, а также может устанавливаться период, в течение которого Пользователь может получить доступ к такому курсу. После оформления платной подписки Пользователю предоставляется в полном объеме доступ ко всем курсам, вебинарам, материалами, размещенным в Разделе «Библиотека».
            li Администрация Сайта предоставляет Пользователю доступ к курсам, вебинарам, материалам для использования их Пользователем исключительно в личных целях. Ничто из Соглашения не подразумевает иное.
            li 
              |Стоимость оформления платной подписки и срок ее предоставления указывается при нажатии кнопки «Оформить подписку». Валютой расчетов является российский рубль. Все затраты, связанные с оплатой стоимости оформления подписки (комиссии, плата за совершение платежа и иное), Пользователь, несет самостоятельно. Стороны договорились, что на сумму денежных средств, уплаченных Пользователем, законные проценты не начисляются.
            li Никакие положения Соглашения не лишают Администрацию Сайта права вносить в одностороннем порядке (без предварительного согласия Пользователя) какие бы то ни было изменения в функциональные возможности Сайта и Соглашение (путем  опубликования новой редакции Соглашения и/или изменений к Соглашению на Сайте). Пользователь обязан самостоятельно знакомиться с указанными изменениями.  Использование Сайта после вступления изменений в силу означает безусловное согласие Пользователя с изменением Соглашения в редакции Администрации Сайта. Актуальная редакция Соглашения доступна по адресу: ____________________. 
            li Пользователь считается принявшим Соглашение (акцептовавшим оферту в соответствии с пунктом 1 статьи 433, пунктом 3 статьи 434 и пунктом 3 статьи 438 Гражданского Кодекса Российской Федерации) в момент начала использования Сайта.
        li.h__h 
          h2 РЕГИСТРАЦИЯ И ЛИЧНЫЙ КАБИНЕТ ПОЛЬЗОВАТЕЛЯ
          ol
            li Для регистрации на Сайте Пользователь нажимает кнопку «Регистрация», выбирает тип аккаунта, заполняет требуемые сведения и нажимает кнопку «Отправить заявку». 
            li  Администрация Сайта связывается с Пользователем, отправившим заявку, уточняет при необходимости дополнительную информацию и направляет счет. После получения оплаты Администрация Сайта предоставляет Пользователю доступ ко всем функциональным возможностям Сайта.
            li  Регистрацию Пользователя, который будет использовать Корпоративный аккаунт, осуществляет Администрация Сайта. 
            li Каждому Пользователю присваивается персональный номер (ID), используя который Пользователь сможет участвовать в мероприятиях, указанных Администрацией Сайта. 
            li Началом сеанса работы с Сайтом является момент авторизации Пользователя.  Для авторизации Пользователь вводит в специальные поля логин (последовательность символов, идентифицирующая Пользователя; таковой является адрес электронной почты) и пароль. При правильности введённого логина и пароля Пользователь, вводивший такие логин и пароль на Сайте, считается идентифицированным, а его авторизация - совершённой.
            li 
              | Прекращение сеанса работы на Сайте осуществляется посредством:
              ol
                li выхода Пользователя из своего Личного кабинета;
                li неосуществления каких-либо действий непрерывно в течение определённого Администрацией Сайта времени.
            li  Все действия, совершённые Пользователем в Личном кабинете, считаются совершёнными Пользователем лично и являются юридически значимыми.
            li Пользователь в случае утраты и (или) разглашения его логина и пароля обязан незамедлительно уведомить об этом Администрацию Сайта. Риск наступления возможных неблагоприятных последствий, вызванных такой утратой и (или) разглашением) указанных сведений (в независимости от факта уведомления или неуведомления Администрации) Пользователь несет самостоятельно.
            li Администрация Сайта вправе в любой момент потребовать от Пользователя предоставить документы, достоверно подтверждающие указанные им сведения при регистрации или внесенные изменения, а Пользователь обязан предоставить  указанные документы в срок, указанный Администрацией Сайта. 
        li.h__h  
          h2 ОТВЕТСТВЕННОСТЬ И ГАРАНТИИ СТОРОН
          ol
            li  Администрация Сайта не несет ответственности за убытки и/или упущенную выгоду Пользователя при пользовании Сайтом или невозможности его использования вне зависимости от того, могла ли Администрация Сайта предвидеть возможность таких убытков или нет, а также за любые задержки, прерывания, ущерб или потери, происходящие из-за дефектов в любом электронном или механическом оборудовании, не принадлежащем Администрации Сайта, за проблемы при передаче данных или соединении, произошедших не по вине Администрации Сайта, а также за действия любых третьих лиц.
            li   Администрация Сайта не гарантирует, что качество курсов, вебинаров, материалов (включая полноту и достоверность информации) будет отвечать требованиям или ожиданиям Пользователя. 
            li Пользователь самостоятельно несет ответственность за безопасность выбранных им средств для доступа к Личному кабинету, а также самостоятельно обеспечивает конфиденциальность логина и пароля и несет ответственность за достоверность любых предоставляемых им сведений, включая данные о третьих лицах.
            li  Пользователь гарантирует, что он не будет копировать, модифицировать, переводить, декомпилировать, дизассемблировать, переконструировать или каким-либо другим способом предпринимать попытки переводить объектный код программы, используемый на Сайте, не будет распространять на Сайте и/или через Сайт компьютерные вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения, модификации, блокирования, уничтожения либо ограничения функциональности Сайта, не будет распространять логины, пароли других Пользователей, информацию о них, если они ему стали известны в связи с какими-либо обстоятельствами, а также нарушать нормальную работу Сайта, а также копировать, распространять, а также использовать  видеоматериалы (составляющие курсы и вебинары) и иные материалы, доступ к которым был предоставлен, любыми способами, противоречащими п. 2.3. Соглашения. 
            li В случае возникновения обстоятельств непреодолимой силы (форс-мажор), к которым относятся: стихийные бедствия, аварии, пожары, массовые беспорядки, забастовки, военные действия, противоправные действия третьих лиц, вступление в силу законодательных актов, правительственных постановлении и распоряжений государственных органов, прямо или косвенно запрещающих указанные в Соглашении виды деятельности, препятствующие осуществлению Сторонами своих функции по Соглашению и иных обстоятельств, не зависящих от волеизъявления Сторон, они освобождаются от ответственности за неисполнение взятых на себя обязательств, если в течение 10 (Десяти) дней с момента наступления таких обстоятельств и при наличии связи Сторона, пострадавшая от их влияния, доведет до сведения другой Стороны известие о случившемся, а также предпримет все усилия для скорейшей ликвидации последствий форс-мажорных обстоятельств.
        li.h__h  
          h2 ПРОЧИЕ УСЛОВИЯ
          ol
            li Стороны установили обязательный претензионный порядок разрешения спора. Претензия направляется в письменном виде. Сторона, получившая претензию, обязана ее рассмотреть и направить ответ не позднее 10 (Десяти) рабочих дней. В случае неурегулирования спора в претензионном порядке споры подлежат рассмотрению в районном суде по месту нахождения Администрации Сайта. Применимым правом является право Российской Федерации.
            li Администрация Сайта имеет необходимые полномочия на заключение и исполнение Соглашения. Администрация Сайта вправе привлекать третьих лиц для исполнения своих обязательств по Соглашению. 
            li Пользователь, использующий Корпоративный аккаунт, заверяет Администрацию Сайта, что перед предоставлением своим сотрудникам или иным лицам в соответствии с п. 1.4.2. Соглашения получил их согласие на предоставление своих персональных данных для целей использования Сайта, а также то, что он обеспечит ознакомление своих сотрудников или иных лиц с Соглашением прежде чем они начнут использовать Сайт.
            li Услуги по предоставлению доступа к курсам, вебинарам, материалам считаются оказанными Администрацией Сайта в полном объеме с момента предоставления Пользователю самой возможности доступа.
            li Отчетным периодом является период, в течение которого действует платная подписка. Стороны договорились, что Акты об оказании услуг составляются только по требованию одной из сторон. Пользователь, в случае наличия замечаний к качеству услуг Администрации Сайта, обязан сообщить ей об этом не позднее 3 (Трех) дней с момента возникновения таких обстоятельств, но в любом случае не позднее 3 (Трех) дней с момента истечения периода, на который предоставлялась платная подписка. 
            li Соглашение может быть расторгнуто во внесудебном одностороннем порядке по инициативе любой стороны с момента получения соответствующего уведомления другой стороны. Такое уведомление может быть направлено Администрацией Сайта Пользователю на адрес электронной почты, указанный при регистрации Пользователя, а Пользователем – на адрес электронной почты Администрации Сайта с адреса электронной почты, указанного Пользователем при регистрации. Расторжение Соглашения влечет прекращение доступа Пользователя в Личный кабинет. Неисполненные к моменту расторжения Соглашения финансовые обязательства подлежат исполнению в порядке, в котором они бы были бы исполнены, если бы Соглашение не было расторгнуто.
            li Стороны договорились о допустимости направлений сообщений по электронной почте. Указанные сообщения должны быть направлены с адресов электронной почты (для Пользователя – с адреса электронной почты, указанной в п. 3.1. Соглашения; для Администрации Сайта – с адреса электронной почты, указанной в  Разделе 6 Соглашения).
            li 
              ' Сообщения по электронной почте будут иметь юридическую силу документов на бумажных носителях при соблюдении всех условий, указанных в настоящем пункте. Такими условиями являются: 
              ol
                li получение их в тексте письма или файле с расширением .pdf, .jpg с адресов электронной почты, указанных в п. 5.5. Соглашения,
                li различимость текста как самого документа, так и (в отношении электронных графических копий документов на бумажных носителях) подписей и печатей,
                li отсутствие у Администрации Сайта информации от Пользователя об утрате контроля за Личным кабинетом или о разглашении (утрате конфиденциальности) логина и пароля.
          
        li.h__h   
          h2 РЕКВИЗИТЫ АДМИНИСТРАЦИИ САЙТА
          p ИП Пивоваров Роман Александрович 
          p Свидетельство ОГРИП серия 77 № 011152767, выданного МИФНС №46 19 февраля 2008 г.
          p ОГРНИП 308770000085485, ИНН 772316321953
          p Адрес: 109129, Москва, 11-ая ул. Текстильщиков, 11-40
          p Почтовый адрес: 109316, Москва, а/я 10
          p Банковские реквизиты: 
          p р/с № 40802810302800000023, к/с № 30101810200000000593, в ОАО «АЛЬФА-БАНК», БИК 044525593
          p email: _______________________________

      .btn_active_fixed
          .btn_holder
            a.btn.is__blue#submit href='/sign_up?agreed=true' Принять
