.default-state {
    height      : 56px;
    padding-top : 17px;
    @include clearfix;

    > .icon {
        width : 72px;
    }
    .l-wrp {
        position     : relative;
        float        : left;
        width        : 60%;
        padding-left : 72px;
        height       : 39px;
    }
    .r-wrp {
        float  : left;
        width  : 39%;
        @include clearfix;
        height : 39px;
    }
    .icon {
        position      : absolute;
        top           : -3px;
        left          : 26px;
        width         : 24px;
        height        : 24px;
        border-radius : 50%;
        text-align    : center;
        font-size     : 11px;
        color         : rgba(0, 0, 0, .54);
        line-height   : 26px;
    }
    .contacts-name {
        overflow      : hidden;
        max-width     : 30%;
        white-space   : nowrap;
        text-overflow : ellipsis;
        @include inline-block;
    }
    .task-description {
        overflow      : hidden;
        max-width     : calc(69% - 35px);
        white-space   : nowrap;
        text-overflow : ellipsis;
        color         : rgba(0, 0, 0, 1);
        @include inline-block;
    }
    .email-ico {
        font-family : 'Icons';
        @include inline-block;
        width       : 35px;
        text-align  : right;
        &:before {
            content   : '\E6E3';
            color     : #B2B2B2;
            font-size : 24px;
        }
    }
    .company-title {
        float : left;
        width : 60%;
    }
    .deal-amount {
        float         : right;
        width         : 40%;
        text-align    : right;
        padding-right : 15px;
    }
    .action-btns {
        position         : absolute;
        top              : 17px;
        right            : 0;
        @include clearfix;
        background-color : #FFFFFF;
        z-index          : 10;
        display          : none;
    }
    &:hover {
        .btns {
            display : block;
        }
    }
}
