.open-state {
    position : relative;
    > .title {
        background-color : #F9F9F9;
        padding-top      : 18px;
        padding-bottom   : 15px;
        .visible-wrp {
            display         : flex;
            justify-content : space-between;
            .l-wrp {
                overflow      : hidden;
                text-overflow : ellipsis;
                white-space   : nowrap;
            }
            .r-wrp {
                text-align  : right;
                padding-top : 7px;
            }
            .company-name {
                margin-left : 33px;
                font-size   : 15px;
                color       : rgba(0, 0, 0, 0.87);
                line-height : 24px;
            }
            .deal-name {
                font-size   : 13px;
                color       : rgba(0, 0, 0, 0.54);
                line-height : 20px;
                .sum {

                }
            }
            .deal-status {
                border-radius    : 2px;
                background-color : #FFFF99;
                padding          : 1px 7px;
                @include inline-block;
                margin-top       : -4px;
            }
            .action-btns {
                width            : 150px;
                position         : static;
                @include inline-block;
                text-align       : left;
                background-color : #F9F9F9;
                margin-right     : 19px;
                margin-left      : 6px;
                div {
                    @include inline-block;
                    margin   : 0 13px;
                    position : relative;
                    &:hover {
                        i:before {
                            color : #494949;
                        }
                    }
                }
                .add-task {
                    i:before {
                        font-size : 19px;
                        top       : -3px;
                        left      : 5px;
                    }
                }
                .add-comment {
                    i:before {
                        font-size : 18px;
                        top       : -2px;
                        left      : 5px;
                    }

                }
                .more {
                    i:before {
                        font-size : 24px;
                        top       : -2px;
                    }
                }
            }
        }
        .hidden-info {
            padding  : 24px 32px 32px 32px;
            overflow : visible;
            @include clearfix;
            .col {
                float : left;
                p {
                    margin : 0;
                }
                .black {
                    color : #000000;
                }
            }
            .contacts {
                width         : 21.333333333%;
                padding-right : 32px;
            }
            .deal-inf {
                width         : 26.666666667%;
                padding-right : 32px;
            }
            .recommendation {
                width : 46.666666667%;
            }
            .title {
                margin-bottom : 24px;
            }
            &.hide {
                height   : 0;
                overflow : hidden;
                padding  : 0;
            }
        }
        &.js__fixed-to-top {
            position : fixed;
            top      : 64px;
            z-index  : 99;
        }
        &.js__absolute-to-btm {
            position : absolute;
            bottom   : 0;
            left     : 0;
            width    : 100%;
            z-index  : 99;
        }
    }

    .action-btns {
        display : block;
    }

    .list {
        .l-header {
            background-color : #F1F1F1;
            height           : 56px;
            padding-top      : 17px;
            padding-left     : 33px;
            position         : relative;
            .show-all {
                position      : absolute;
                top           : 17px;
                right         : 0;
                padding-right : 60px;
                &:before {
                    position    : absolute;
                    top         : 0;
                    right       : 30px;
                    font-family : 'Icons';
                    color       : #B2B2B2;
                    font-size   : 12px;
                    text-align  : center;
                    content     : '\e600';
                }
            }
        }
        .list-item {
            display         : flex;
            justify-content : space-between;
            border-bottom   : 1px solid #E0E0E0;
            min-height      : 57px;
            padding-top     : 19px;
            .grey {
                color : #B2B2B2;
            }
            .l-wrp, .r-wrp {
                @include clearfix;
            }
            .l-wrp {
                width : calc(100% - 200px);
            }
            .r-wrp {
                padding-right : 20px;
            }
            .icon, .type, .info, .date, .action {
                float : left;
            }
            .note.r-wrp {
                .action {
                    .action-category {
                        border : none;
                    }
                    .task-action {
                        display : none !important;
                    }
                }
            }
            .task.r-wrp {
                .action {
                    .note-action {
                        display : none !important;
                    }
                }
            }
            .icon {
                width       : 80px;
                font-family : 'Icons';
                color       : #B2B2B2;
                font-size   : 20px;
                text-align  : center;
            }
            .icon.ico-task {
                &:before {
                    content : '\E640';
                }
            }
            .icon.ico-reminder {
                &:before {
                    content : '\E84E';
                }
            }
            .icon.ico-mail {
                &:before {
                    content : '\e6e3';
                }
            }
            .icon.ico-note {
                &:before {
                    content : '\E84E';
                }
            }
            .icon.ico-done {
                &:before {
                    content : '\E899';
                }
            }
            .type {
                width         : 170px;
                white-space   : nowrap;
                text-overflow : ellipsis;
                overflow      : hidden;
            }
            .info {
                font-size   : 13px;
                color       : rgba(0, 0, 0, 0.87);
                line-height : 20px;
                width       : calc(100% - 350px);
            }

            .date {

            }
            .action {
                width         : 32px;
                height        : 32px;
                line-height   : 32px;
                border-radius : 50%;
                font-family   : 'Icons';
                color         : #6D6D6D;
                font-size     : 20px;
                text-align    : center;
                position      : relative;
                margin-top    : -7px;
                margin-left   : 10px;
                transition    : all 0.5s ease;;
                cursor        : pointer;
                &:hover {
                    background : rgba(215, 215, 215, 0.30);
                }
                &:before {
                    content : '\E8A3';
                }
                .list-wrp {
                    display       : none;
                    position      : absolute;
                    text-align    : left;
                    padding       : 6px 0;
                    top           : 38px;
                    right         : 4px;
                    background    : #FFFFFF;
                    border-radius : 2px;
                    width         : 220px;
                    z-index       : 99;
                    box-shadow    : 0px 2px 5px 0px rgba(0, 0, 0, 0.52);
                }
                .action-category {
                    border-bottom    : 1px solid rgba(0, 0, 0, 0.12);
                    background-color : #FFFFFF;
                    padding          : 6px 0;
                    li {
                        font-size    : 13px;
                        color        : #7A7A7A;
                        line-height  : 20px;
                        height       : 32px;
                        padding-left : 16px;
                        padding-top  : 6px;
                        &:hover {
                            background : rgba(0, 0, 0, 0.06);
                            color      : rgba(0, 0, 0, 0.87);
                        }
                    }
                }
                .choose-time {
                    background   : url("calendar.svg") 16px 50% no-repeat;
                    padding-left : 40px;
                    font-size    : 13px;
                    color        : #494949;
                    line-height  : 20px;
                    height       : 32px;
                    padding-top  : 6px;
                    &:hover {
                        background : url("calendar-dark.svg") 16px 50% no-repeat rgba(0, 0, 0, 0.06);
                        color      : rgba(0, 0, 0, 0.87);
                    }

                }
            }
        }
    }

    .super-mega-search-2000 {
        position   : relative;
        min-height : 64px;
        &.js__fixed-to-btm {
            position : fixed;
            bottom   : 0;
            z-index  : 99;
        }
        &.js__absolute-to-top {
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            z-index  : 99;
        }
        .input {

        }
        &.withPadding {
            //            padding-top : 64px;
            background : #F8F8F8;
        }
        .input-area {
            background   : #F8F8F8;
            position     : relative;
            padding-left : 80px;
            height       : 64px;
            .ava {
                position : absolute;
                top      : 16px;
                left     : 25px;
                width    : 32px;
                height   : 32px;
                img {
                    width : 100%;
                }
            }
            .mega_input {
                padding-top : 25px;
                .input {
                    height : 24px;
                    width  : 300px;
                    &::-webkit-input-placeholder {
                        width : auto;
                    }
                    &::-moz-placeholder {
                        display : block;
                    }
                    &:-moz-placeholder {
                        display : block;
                    }
                    &:-ms-input-placeholder {
                        display : block;
                    }
                }
                [contentEditable=true]:empty:not(:focus):before {
                    content : attr(data-ph)
                }

            }
            &.hide {
                height   : 0;
                overflow : hidden;
            }
        }
        .result-list, .task-action-list {
            border-top       : 1px solid #E0E0E0;
            background-color : #FCFCFC;
            padding          : 8px 0;
            li {
                padding-left : 80px;
                padding-top  : 15px;
                height       : 49px;
                &:hover {
                    background-color : #E0E0E0;
                }
            }
        }
        .mega-btn {
            position   : absolute;
            top        : 23px;
            right      : 29px;
            width      : 21px;
            height     : 18px;
            background : url("mega-btn.svg") 0 0 no-repeat;
        }
        .action__block {
            display       : none;
            position      : relative;
            //            top           : 0;
            //            left          : 0;
            padding-left  : 80px;
            min-height    : 64px;
            padding-right : 500px;
            width         : 100%;
            overflow      : visible;
            @include clearfix;
            .ava {
                position : absolute;
                top      : 16px;
                left     : 25px;
                width    : 32px;
                height   : 32px;
                img {
                    width : 100%;
                }
            }
            .info-block {
                padding-top : 12px;
                position    : relative;
                .title {
                    font-size   : 13px;
                    color       : rgba(0, 0, 0, 0.87);
                    line-height : 20px;
                    font-weight : 500;
                }
                .description {
                    font-size   : 13px;
                    color       : #4C4C4C;
                    line-height : 20px;
                }

                [contentEditable=true]:empty:not(:focus):before {
                    content : attr(data-ph)
                }

            }
            .attribute-block {
                position      : absolute;
                top           : 0;
                right         : 0;
                padding-right : 55px;
                padding-top   : 24px;
                &:last-child {
                    margin-right : 0;
                }
                .select {
                    float        : left;
                    margin-right : 35px;
                    position     : relative;
                    cursor       : pointer;
                    &.task-type {
                        min-width : 128px;
                    }
                    .select-trigger {
                        padding-right : 26px;
                        background    : url("arrow-grey.svg") 100% 50% no-repeat;
                    }
                    .hidden {
                        min-width        : 128px;
                        background-color : #FFFFFF;
                        padding          : 6px 0;
                        box-shadow       : 0px 2px 5px 0px rgba(0, 0, 0, 0.52);
                        border-radius    : 2px;
                        max-height       : 236px;
                        overflow-y       : scroll;
                        position         : absolute;
                        top              : -18px;
                        left             : -16px;
                        display          : none;
                        z-index          : 99;
                        li {
                            height      : 32px;
                            font-size   : 13px;
                            color       : rgba(0, 0, 0, 0.54);
                            line-height : 20px;
                            padding     : 6px 16px;
                            cursor      : pointer;
                            &:hover {
                                font-size   : 13px;
                                color       : #000000;
                                line-height : 20px;
                                background  : rgba(0, 0, 0, 0.12);
                            }
                        }
                    }
                }
                .calendar {
                    float        : left;
                    margin-right : 35px;
                    position     : relative;
                    .calendar-trigger {
                        padding-right : 26px;
                        background    : url("calendar.svg") 100% 50% no-repeat;
                    }
                    input {
                        position : absolute;
                        top      : -1px;
                        left     : -3px;
                        width    : 120px;
                        opacity  : 0;
                    }
                }
            }
            .confirm {
                margin-left : -48px;
                .confirm-text {
                    padding-top : 21px;
                }
                .confirm-action {
                    position : absolute;
                    top      : 14px;
                    right    : 31px;
                    .btn {
                        float   : right;
                        padding : 8px 12px;
                    }
                    .btn-yes {
                        color : #00BCD4;
                    }
                    .btn-no {

                    }
                }
            }
        }
    }
}
