#course {
  @include middle-block(936px);
  padding-top: 32px;
  .text__description {
    margin-bottom: 64px;
    .title {
      font-size    : 24px;
      line-height  : 32px;
      margin-bottom: 32px;
    }
    .description {
      font-size    : 15px;
      line-height  : 24px;
      margin-bottom: 18px;
    }
    .icon__block {
      i {
        @include inline-block;
        margin-right: 24px;
        &.is__not-active {
          opacity: 0.26;
        }
        &::before {
          font-size: 24px;
          color    : $black_54;
        }
        &::after {
          font-size     : 13px;
          color         : $black_87;
          line-height   : 13px;
          display       : inline-block;
          margin-left   : 10px;
          vertical-align: text-top;
        }
      }
      .file {
        &::before {

        }
        &::after {
          content: "Файл для скачивания";
        }
      }
      .pdf {
        margin-top: -3px;
        &::after {
          content       : "PDF";
          vertical-align: super;
        }
      }
      .text {
        &::after {
          content: "Текст";
        }
      }
      .audio {
        &::before {
          font-size: 20px;
        }
        &::after {
          content: "Аудио";
        }
      }
      .video {
        &::before {
          font-size: 20px;
        }
        &::after {
          content: "Видео";
        }
      }
    }
  }
  .text__content {
    position: relative;
    &.is__fullscrn {
      background: $black_87;
      .toggle__screen {
        &::before {
          content: "\E8A0";
        }
      }
      .text__inner {
        @include middle-block(941px);
        background-color: #fff;
        padding         : 64px;
      }
    }
    h2 {
      font-size    : 20px;
      line-height  : 24px;
      margin-bottom: 24px;
      font-weight  : 400;
    }
    p {
      margin-bottom: 24px;
      font-size    : 15px;
      line-height  : 24px;
    }
    .toggle__screen {
      position: absolute;
      left    : calc(100% + 16px);
      top     : 0;
      &::before {
        content  : "\E89F";
        font-size: 32px;
        color: $black_54;
        cursor: pointer;
      }
    }
  }

  .audio__content {
    audio {
      @include middle-block(584px);
      box-shadow    : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
      vertical-align: middle;
      border-radius : 4px;
    }
  }

  .file__content {
    @include middle-block(240px);
    height          : 192px;
    background-color: #efefef;
    padding-top     : 32px;
    .file__wrp {
      @include middle-block(177px);
      height    : 112px;
      background: url("file__holder.svg") 50% 50% no-repeat;
      .file__holder {
        padding      : 16px;
        margin-bottom: 11px;
        padding-left : 18px;
        padding-top: 12px;
        .title {
          overflow   : hidden;
          height     : 40px;
          font-size  : 13px;
          color      : $black_87;
          line-height: 20px;
        }
        .weight {
          font-size    : 12px;
          color        : $black_54;
          line-height  : 20px;
          margin-bottom: 11px;
        }
        .type {
          padding-left: 24px;
          position    : relative;
          font-size   : 12px;
          color       : rgba(0, 0, 0, 0.54);
          line-height : 20px;
          &::before {
            font-size  : 16px;
            position   : absolute;
            top        : 0;
            left       : 0;
            content    : '\E78F';
            font-family: Icons, sans-serif;
          }
        }
      }
      .action__holder {
        @include clearfix;
        margin-bottom: 10px;
        margin-right : -30px;
        margin-top   : -13px;
        .btn {
          float: right;
          margin-right: 8px;
        }
      }
    }
  }
}
