.presentation__block {
  height  : 536px;
  overflow: hidden;
  position: absolute;
  z-index : 1;
  top     : 0;
  left    : 0;
  width   : 100%;
  img {
    width: 100%;
  }
  .shadow {
    background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
  }
}

.auth.is__course-description {
  .offer__box {
    @include white__block(1,0);
    position   : absolute;
    top        : 160px;
    left       : 50%;
    margin-left: -468px;
    width      : 936px;
    padding    : 32px 96px 48px;
    > .title {
      font-size    : 34px;
      color        : $black_87;
      line-height  : 40px;
      text-align   : center;
      margin-bottom: 24px;
    }
    > .description {
      font-size    : 15px;
      color        : $black_87;
      line-height  : 24px;
      text-align   : center;
      margin-bottom: 24px;
    }
    .plane__list {
      display        : flex;
      justify-content: space-between;
      .item {
        border       : 1px solid rgba(0,0,0,0.54);
        border-radius: 4px;
        width        : 360px;
        text-align   : center;
        padding      : 24px 24px 16px;
        .title {
          font-size    : 24px;
          color        : $black_87;
          line-height  : 32px;
          margin-bottom: 16px;
        }
        .description {
          font-size    : 13px;
          color        : $black_87;
          line-height  : 20px;
          margin-bottom: 18px;
          height       : 60px;
          overflow     : hidden;
        }
        .price {
          span {
            font-size   : 24px;
            color       : $black_87;
            line-height : 32px;
            margin-right: 15px;
          }
          .btn {
            @include inline-block;
          }
        }
      }
    }
  }
  .subscribe {
    @include white__block(1,0);
    position   : absolute;
    top        : 160px;
    left       : 50%;
    margin-left: -396px;
    width      : 792px;
    padding    : 32px 32px 24px;
    .title {
      font-size  : 24px;
      color      : $black_87;
      line-height: 32px;
      text-align : center;
      margin-bottom: 45px;
      .back {

      }
    }
    .form__holder {
      display        : flex;
      justify-content: space-between;
        .form__col {
          width: 312px;
        }

      .form__legend {
        width      : 342px;
        font-size  : 15px;
        color      : $black_87;
        line-height: 24px;
        padding-top: 7px;
      }
    }
    .action__block   {
      @include clearfix;
      .btn {
        color: #FFF;
        float: right;
        background-color: #00BCD4;
      }
    }
  }
}

.oh__nihuyase-block {
  position  : relative;
  z-index   : 12;
  @include middle-block(920px);
  margin-top: 312px;
  .tegs__list {
    display        : flex;
    margin-bottom  : 8px;
    justify-content: flex-start;
    .item {
      font-size   : 15px;
      line-height : 24px;
      position    : relative;
      padding-left: 24px;
      color       : rgba(255,255,255,.70);
      i {
        position: absolute;
        top     : 0;
        left    : 0;
        color   : rgba(255,255,255,.70);
      }
    }
  }
  .course__title {
    font-size    : 34px;
    line-height  : 40px;
    margin-bottom: 56px;
    color        : #fff;
  }
  .progress__block {
    margin-bottom: 32px;
    padding      : 24px 32px;
    @include white__block(1,0);
    > .title {
      margin-bottom: 24px;
      &.overdue {
        .right-col {
          color: #ff1744;
        }
      }
      .left-col {
        font-size  : 24px;
        line-height: 32px;
        color      : $black_87;
      }
      .right-col {
        font-size  : 15px;
        line-height: 24px;
        color      : $black_87;
      }
    }
    .progress__wrp {
      position     : relative;
      margin-bottom: 24px;
      .bar {
        width        : 100%;
        height       : 24px;
        border-radius: 2px 0 0 2px;
        background   : rgba(0,0,0,.12);
      }
      .completed {
        position        : absolute;
        top             : 0;
        left            : 0;
        height          : 24px;
        border-radius   : 2px 0 0 2px;
        background-color: $primoryColor;
      }
    }
    .info {
      display        : flex;
      justify-content: center;
      .precent,
      .qty {
        font-size  : 15px;
        line-height: 24px;
        margin     : 0 32px;
        color      : $black_54;
      }
    }
  }
  .course__info {
    margin-bottom: 48px;
    padding      : 32px 48px;
    @include white__block(1, 0);
    .adaptive__title {
      .left-col {
        font-size      : 13px;
        line-height    : 20px;
        display        : flex;
        color          : $black_54;
        justify-content: flex-start;
        .item {
          position    : relative;
          margin      : 0 8px;
          padding-left: 24px;
          i {
            font-size: 17px;
            position : absolute;
            top      : 0;
            left     : 0;
            color    : $black_54;
          }
        }
      }
      .right-col {
        .item {
          font-size    : 11px;
          line-height  : 24px;
          height       : 24px;
          margin       : -4px 4px 36px;
          padding      : 0 8px;
          color        : $black_54;
          border       : 1px solid $black_54;
          border-radius: 2px;
        }
      }
    }
    .detail__info {
      &.is__closed {
        overflow: hidden;
        height  : 84px;
      }
      .description {
        p {
          font-size    : 15px;
          line-height  : 24px;
          margin-bottom: 30px;
          color        : $black_87;
        }
      }
      .leading__list {
        > .title {
          margin-bottom: 32px;
        }
        .item {
          margin-bottom: 40px;
          @include clearfix;
          .ava {
            float       : left;
            width       : 142px;
            margin-right: 48px;
            img {
              display      : block;
              width        : 100%;
              border-radius: 100%;
            }
          }
          .info {
            float: left;
            width: calc(100% - 190px);
            .title {
              font-size    : 15px;
              line-height  : 24px;
              margin-bottom: 8px;
              color        : #000;
            }
            .description {
              font-size  : 15px;
              line-height: 24px;
              color      : $black_54;
            }
          }
        }
      }
    }
    .more {
      .btn {
        text-transform: none;
      }
      &.is__closed {
        .for__closed {
          @include inline-block;
        }
        .for__open {
          display: none;
        }
      }
      .for__closed {
        display: none;
      }
      .for__open {
        @include inline-block;
      }
    }
  }

  .study__program {
    .title {
      font-size    : 24px;
      line-height  : 32px;
      margin-bottom: 24px;
      color        : $black_87;
    }
    .programm__block {
      margin-bottom   : 40px;
      background-color: #eee;
      padding         : 24px;
      width           : calc(100% + 48px);
      margin-left     : -24px;
      &.finalTest{
        background: none;
      }
      > .adaptive__title {
        margin-bottom: 16px;
        .left-col {
          font-size  : 15px;
          line-height: 24px;
          color      : $black_54;
        }
        .right-col {
          color: rgba(0, 0, 0, 0.87);
          &.overdue {
            color: #ff1744;
          }
        }

        .edit-menu {
          position: relative;
          z-index : 8;
          width   : 44px;
          margin-top: -7px;
          .edit-date {
            line-height: 41px !important;
            text-align : center;
            cursor     : pointer;
            i {
              font-size: 26px;
              &::before {
                font-family: 'Icons';
                line-height: 32px;
                content    : '\E8A3';
                color      : rgba(0, 0, 0, .26);
              }
            }
          }

          .hidden-calendar-wrp {
            @import 'common/elements/hidden-list';
            .hidden-calendar {
              display         : none;
              min-width       : 345px;
              background-color: #fff;
              padding         : 6px 0;
              box-shadow      : 0 2px 5px 0 rgba(0, 0, 0, 0.52);
              border-radius   : 2px;
              max-height      : 236px;
              position        : absolute;
              top             : 100%;
              right           : 0;
              z-index         : 100;
              bottom          : auto;
              .calendar-header {
                font-size    : 15px;
                color        : rgba(0,0,0,0.87);
                line-height  : 18px;
                margin-bottom: 24px;
                padding-left : 23px;
                @include clearfix;
                padding-top  : 13px;
                .back {
                  float       : left;
                  margin-right: 15px;
                  font-size   : 16px;
                  cursor      : pointer;
                  &::before {
                    color  : rgba(0,0,0,0.87);
                    content: '\E893';
                  }
                }
              }
              .selected-value {
                padding-left: 24px;
              }
              .calendar-holder {
                font-size  : 13px;
                color      : rgba(0,0,0,0.54);
                line-height: 20px;
                .ui-datepicker {
                  padding-top: 10px;
                }
              }
            }
          }

          &.is__active {
            .hidden-calendar-wrp {
              .hidden-list {
                display: block !important;
              }
            }
          }
        }
      }
      .item {
        position     : relative;
        height       : 96px;
        margin-bottom: 16px;
        padding      : 13px 16px 16px 120px;
        @include white__block(1, 1);
        .icon__block {
          position  : absolute;
          top       : 0;
          left      : 0;
          width     : 108px;
          height    : 100%;
          text-align: center;
          i {
            font-size  : 24px;
            line-height: 96px;
            color      : $black_54;
            &.text {
              font-size: 36px;
            }
            &.audio,
            &.test {
              font-size: 33px;
            }
          }
        }
        .adaptive__title {
          margin-bottom: 10px;
          .left-col {
            font-size  : 15px;
            line-height: 24px;
            color      : $black_87;
          }
          .right-col {
            font-size  : 12px;
            line-height: 16px;
            color      : $black_26;
          }
        }
        .description {
          font-size  : 12px;
          line-height: 16px;
          overflow   : hidden;
          height     : 40px;
          color      : $black_87;
        }
        &.is__completed {
          .icon__block {
            &::before {
              font-family: Icons, sans-serif;
              font-size  : 39px;
              line-height: 96px;
              position   : absolute;
              top        : 0;
              left       : 0;
              display    : block;
              width      : 100%;
              content    : '\E899';
              color      : $primoryColor;
            }
            i {
              color: $black_26;
            }
          }
          .adaptive__title {
            .left-col {
              color: $black_54;
            }
          }
          .description {
            color: $black_54;
          }
        }
      }
    }
    &.is__closed {
      width      : calc(100% + 32px);
      margin-left: -16px;
      height     : 315px;
      padding    : 0 16px;
      overflow   : hidden;
      .prgr-wrp {
        .programm__block:nth-child(1) {
          display: block;
        }
        .programm__block {
          display: none;
        }
      }
    }
  }
  .toggle__view.btn {
    @include inline-block;
    margin-bottom: 36px;
    &.is__closed {
      .for__closed {
        @include inline-block;
      }
      .for__open {
        display: none;
      }
    }
    .for__closed {
      display: none;
    }
    .for__open {
      @include inline-block;
    }
  }
}
.not__auth-block {
  background-color: #fff;
  padding         : 48px 0 36px;
  .inner {
    @include middle-block(750px);
    > .title {
      font-size    : 34px;
      color        : $black_87;
      line-height  : 40px;
      margin-bottom: 24px;
      text-align   : center;
    }
    .info {
      font-size    : 15px;
      color        : $black_87;
      line-height  : 24px;
      margin-bottom: 24px;
      text-align   : center;
    }
  }
  .plans {
    display        : flex;
    justify-content: center;
    .item {
      border       : 1px solid $black_54;
      border-radius: 4px;
      padding      : 32px 24px 24px;
      &:first-child {
        margin-right: 24px;
      }
      .title {
        font-size    : 24px;
        color        : $black_87;
        line-height  : 28px;
        text-align   : center;
        margin-bottom: 24px;
      }
      .description {
        text-align   : center;
        font-size    : 13px;
        color        : $black_54;
        line-height  : 20px;
        margin-bottom: 28px;
      }
    }
  }
}
