footer {
  justify-content  : space-between;
  padding          : 0 0px 24px;
  background-color : #f7f7f7;
  padding-top      : 60px;
  .left-col {
    min-width : 340px;
    width     : 370px;
    .infoPay {
      width : 204px;
      float : right;
      .icon_pay {
        margin-bottom : 5px;
        img {
          width : 54px;
          &.masterCard, &.visa {
            margin-left : 20px;
          }
        }
      }
      .link a {
        color : $primaryColor;
      }
    }

  }
  .right-col {
    min-width : 348px;
    @include clearfix;
    .social-likes {
      display       : block;
      margin-bottom : 6px;
    }
    .developers {
      display : flex;
      float   : right;
      .logo {
        //float        : left;
        width        : 32px;
        margin-right : 16px;
        img {
          opacity : .54;
          width   : 100%;
        }
      }
      .info {
        //float       : left;
        @include text__setting(normal__typo, secondary__color);
        margin-top  : 4px;
        font-weight : 500;
        a {
          color : $primaryColor;
        }
        .address {
          font-weight : 400;
          a {
            font-weight : 400;
            display     : block;
          }
        }
      }
    }
  }
  .inthis {
    display: flex;
    text-align : center;
    width      : 100%;
    max-width: 1200px;
    margin: 0 auto;
    .block {
      max-width: 260px;
      margin-left: 20px;
      margin-right: 20px;
      display        : inline-block;
      text-align     : left;
      vertical-align : middle;
      width          : 25%;
      .title {
        font-weight    : 600;
        font-size      : 18px;
        padding-bottom : 8px;
        color          : rgba(0, 0, 0, 0.87);
        &.desc{
          font-weight    : 400;
          font-size: 14px;
          line-height: 20px;
        }
      }
      ul {
        li {
          padding-top : 8px;
          min-height  : 27px;
          color       : rgba(0, 0, 0, 0.54);
          a {
            color     : rgba(0, 0, 0, 0.54);
            font-size : 14px;
          }
        }
      }
      &.contact__info {
        padding-bottom : 4px;
        .title {
          padding-bottom : 0px;
        }
        .send__message___back {
          form{
            display: flex;
          }
          input{
            color: #424242;
            border: 2px solid #424242;
            background-color: #f7f7f7;
            outline: none;
            height: 44px;
            width: 100%;
          }
          .send_btn{
            color: #ffffff;
            border: 0px solid #424242;
            background-color: #424242;
            margin-left: 12px;
            height: 44px;
            padding: 0 15px;
            padding-top: 10px;
            .send{
              font-size: 22px;
              color: white;
            }
          }

        }

        .other {
          padding-bottom : 20px;
        }

        .social {
          a {
            margin-right : 5px;
            font-size    : 24px;
          }
        }
        .copywrite {
          font-size : 12px;
        }
      }
    }
  }

  // часть которая под футером
  .basement{
    margin-top: 30px;
    text-align: center;
    
    .logo{
      img{
        max-width: 150px;
      }
    }

    .address{
      font-size: 14px;
      padding-top: 40px;
      padding-bottom: 10px;
      color: rgba(0, 0, 0, 0.54);
      li{
        padding-bottom: 8px;
        a{
          color: $primaryColor;
        }
      }
    }
  }
  ///
}
