footer {
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 0 172px;
  background-color: #fff;
  padding-top: 23px;
  .left-col {
  }
  .right-col {
    @include clearfix;
    .logo {
      float: left;
      width: 32px;
      margin-right: 16px;
      img {
        opacity: .54;
        width: 100%;
      }
    }
    .info {
      float: left;
      @include text__setting(normal__typo, secondary__color);
      margin-top: 4px;
      font-weight: 500;
      a {
        color: $primaryColor;
      }
      .address  {
        font-weight: 400;
        a {
          font-weight: 400;
          display: block;
        }
      }
    }
  }
}
