footer {
  height           : 120px;
  display          : flex;
  justify-content  : space-between;
  padding          : 0 172px;
  background-color : #FFF;
  padding-top      : 23px;
  .left-col {
    width : 370px;
    .infoPay {
      width : 204px;
      float : right;
      .icon_pay {
        margin-bottom : 5px;
        img {
          width : 54px;
          &.masterCard, &.visa {
            margin-left : 20px;
          }
        }
      }
      .link a{
        color: #ee8738;
      }
    }

  }
  .right-col {
    @include clearfix;
    .social-likes {
      display       : block;
      margin-bottom : 6px;
    }
    .developers {
      display : flex;
      float   : right;
      .logo {
        //float        : left;
        width        : 32px;
        margin-right : 16px;
        img {
          opacity : .54;
          width   : 100%;
        }
      }
      .info {
        //float       : left;
        @include text__setting(normal__typo, secondary__color);
        margin-top  : 4px;
        font-weight : 500;
        a {
          color : $primaryColor;
        }
        .address {
          font-weight : 400;
          a {
            font-weight : 400;
            display     : block;
          }
        }
      }
    }
  }
}
