#paymentFormSample {
  width  : 500px;
  margin : 0 auto;
  input {
    font-size  : 24px;
    text-align : center;
  }
  .card-input {
    width : 100%;
  }
  .card-num {
    .input_text {
      float : left;
      width : 100%;
    }
    .input-group-addon {
      float       : right;
      position    : absolute;
      margin-left : -42px;
    }
    input {
      padding-right : 42px;
      padding-left  : 42px;
    }
  }
  .dateAndCvv {
    overflow : hidden;
    .blockCVVInfo {
      display : inline-block;
      width   : 43%;
      float   : right;
      .info {
        width      : 60px;
        font-size  : 8px;
        text-align : right;
        display    : inline-block;
        margin-top : 16px;
        color      : rgba(0, 0, 0, 0.50);
      }
      .blockCVV {
        max-width : 150px;
        float     : right;
        .card-CVV {
          width : 100%;
        }
      }
    }

    .blockDate {
      float : left;
      width : 25%;
      .card-date {
        width : 100%;
      }
    }
  }

}