.schedule-block {
    padding-top : 35px;
    width       : 950px;
}



.schedule-header {
    @include clearfix;
    position      : relative;
    padding-right : 30px;
    margin-bottom : 28px;
    margin-left   : 60px;
    .psevdo-select {
        float    : left;
        position : relative;
        .select-trigger {
            font-size       : 20px;
            color           : rgba(0, 0, 0, 0.87);
            line-height     : 32px;
            padding-right   : 36px;
            position        : relative;
            background      : url('arrow-grey.svg') 100% 50% no-repeat;
            margin-right    : 43px;
            cursor          : pointer;
            background-size : 12px;
        }
        @import "elements/hidden-list";
        .hidden-list {
            top   : -12px;
            right : auto;
            left  : -16px;
            li {
                font-size   : 20px;
                color       : rgba(0, 0, 0, 0.54);
                line-height : 32px;
                height      : 40px;
                &:hover {
                    font-size   : 20px;
                    line-height : 32px;
                }
            }
        }
    }
    .change-view {
        position : absolute;
        top      : 9px;
        right    : 6px;
        i {
            font-size : 26px;
            &::before {
                color   : rgba(0, 0, 0, 0.26);
                content : '\E696';
            }
        }
    }
}

.schedule-day-list {
    .schedule-day {
      padding-left : 60px;
      position     : relative;
      margin-bottom: 80px;
      min-height: 50px;
      &.today {
        .schedule-item {
            &::before {
                content       : '';
                display       : block;
                width         : 4px;
                height        : 100%;
                position      : absolute;
                top           : 0;
                left          : 0;
                background    : #FD9348;
                border-radius : 2px 0 0 2px;
            }
        }
      }
      hr {
        margin: 0;
        border: none;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        position: absolute;
        left: 60px;
        bottom: -15px;
        width: calc(100% - 60px);
      }
        .date {
            position : absolute;
            left     : 0;
            top      : 0;
            color    : rgba(0, 0, 0, 0.26);
            width    : 60px;
            &.curr {
                color : #FD9348;
            }
            .day {
                font-size     : 11px;
                line-height   : 16px;
                text-align    : center;
                margin-bottom : 4px;
            }
            .num {
                font-size   : 34px;
                line-height : 34px;
            }
        }

        .group-block {
            background    : rgba(0, 0, 0, 0.04);
            border-radius : 2px;
            padding       : 12px 19px 24px 16px;
            margin-bottom : 11px;
            > .title {
                font-size     : 13px;
                line-height   : 20px;
                color         : rgba(0, 0, 0, 0.54);
                margin-bottom : 12px;
                span {
                    color : rgba(0, 0, 0, 0.26);
                }
            }
            .schedule-item {
                background    : #FFFFFF;
                border-radius : 2px;
                box-shadow    : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
                padding       : 17px 24px;
                position      : relative;
                padding-right : 20px;
                margin-bottom: 12px;
                .fixed-h {
                    .title {
                        font-size   : 15px;
                        color       : #000000;
                        line-height : 24px;
                    }
                }
                .additional-info {
                    color       : rgba(0, 0, 0, 0.26);
                    padding-top : 2px;
                    div {
                        position : relative;
                        i {
                            position : absolute;
                        }
                    }
                    .action-btn {
                        width        : 25px;
                        height       : 28px;
                        margin-right : -9px;
                        margin-top   : -5px;
                        margin-left  : 20px;
                        cursor       : pointer;
                        position     : relative;
                        i {
                            top       : 0;
                            left      : 0;
                            font-size : 25px;
                            &::before {
                                content : '\E8A3';
                            }
                        }
                        @import "elements/hidden-list";
                    }
                    .duration {
                        padding-left : 19px;
                        margin-left  : 12px;
                        position     : relative;
                        font-size    : 11px;
                        color        : rgba(0, 0, 0, 0.26);
                        line-height  : 18px;
                        width: 60px !important;
                        i {
                            position  : absolute;
                            left      : 0;
                            top       : 0;
                            font-size : 14px;
                            &::before {
                                content : '\E71F';
                            }
                        }
                    }
                }
            }
        }
    }
}



.personal-schedule-block  {
  .schedule-day {
    padding-left : 60px;
    position     : relative;
    margin-bottom: 80px;
    min-height: 50px;
    &.today {
      .schedule-item {
          &::before {
              content       : '';
              display       : block;
              width         : 4px;
              height        : 100%;
              position      : absolute;
              top           : 0;
              left          : 0;
              background    : #FD9348;
              border-radius : 2px 0 0 2px;
          }
      }
  }
  hr {
    margin: 0;
    border: none;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    position: absolute;
    left: 60px;
    bottom: -15px;
    width: calc(100% - 60px);
  }
    .date {
        position : absolute;
        left     : 0;
        top      : 0;
        color    : rgba(0, 0, 0, 0.26);
        width    : 60px;
        &.curr {
            color : #FD9348;
        }
        .day {
            font-size     : 11px;
            line-height   : 16px;
            text-align    : center;
            margin-bottom : 4px;
        }
        .num {
            font-size   : 34px;
            line-height : 34px;
        }
    }
  }
  .grey-wrp  {
    background: rgba(0,0,0,0.04);
    border-radius: 2px;
    padding: 16px 16px 24px 16px;
    margin-bottom: 24px;
    .group-name {
      font-size: 13px;
      color: rgba(0,0,0,0.54);
      line-height: 20px;
      margin-bottom: 8px;
      }
  }
  .course-wrp {

    hr {
      margin: 0;
      border: none;
      border-bottom: 1px solid rgba(0,0,0,0.26);
      display: block;
      width: 100%;
      position: static;
      margin-bottom: 24px;
        }
      .course-header  {
        // display : flex;
        margin-bottom: 12px;
        .title {
          font-size: 13px;
          color: rgba(0,0,0,0.26);
          line-height: 20px;
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
        }
        .additional-info {
            // white-space : nowrap;
            color       : rgba(0, 0, 0, 0.26);
            padding-top : 2px;
            // div {
            //     @include inline-block;
            //     position : relative;
            //     i {
            //         position : absolute;
            //     }
            // }
            .action-btn {
                width        : 25px;
                height       : 28px;
                margin-right : -9px;
                margin-top   : -5px;
                margin-left  : 20px;
                cursor       : pointer;
                position     : relative;
                i {
                    top       : 0;
                    left      : 0;
                    font-size : 25px;
                    &::before {
                        content : '\E8A3';
                    }
                }
                @import "elements/hidden-list";
            }
            >.duration {
                padding-left : 19px;
                margin-left  : 12px;
                position     : relative;
                font-size    : 11px;
                color        : rgba(0, 0, 0, 0.26);
                line-height  : 18px;
                i {
                    position  : absolute;
                    left      : 0;
                    top       : 0;
                    font-size : 14px;
                    &::before {
                        content : '\E71F';
                    }
                }
            }
        }
      }
    .course-item {
      background: #FFFFFF;
      border-radius: 2px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
      margin-bottom: 16px;
      padding-left: 72px;
      padding-right: 24px;
      padding-top: 18px;
      height: 56px;
      position: relative;
      // display: flex;
      .title {
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }
      .additional-info {
        // white-space : nowrap;
        color       : rgba(0, 0, 0, 0.26);
        padding-top : 2px;
        // div {
        //     @include inline-block;
        //     position : relative;
        //     i {
        //         position : absolute;
        //     }
        // }
        .duration {
            padding-left : 19px;
            margin-left  : 12px;
            position     : relative;
            font-size    : 11px;
            color        : rgba(0, 0, 0, 0.26);
            line-height  : 18px;

            i {
                position  : absolute;
                left      : 0;
                top       : 0;
                font-size : 14px;
                &::before {
                    content : '\E71F';
                }
            }
        }
        .past {
          margin-left  : 12px;
          position     : relative;
          font-size    : 11px;
          color        : rgba(0, 0, 0, 0.26);
          line-height  : 18px;
        }
        .note {
          padding-left : 19px;
          margin-left  : 12px;
          position     : relative;
          font-size    : 11px;
          color        : rgba(0, 0, 0, 0.26);
          line-height  : 18px;
          i {
              position  : absolute;
              left      : 0;
              top       : 0;
              font-size : 14px;
              &::before {
                  content : '\E70D';
              }
          }
        }
        .overdue {
          margin-left  : 12px;
          font-size: 11px;
          color: #FD9348;
          line-height: 24px;
          border: 1px solid #FD9348;
          border-radius: 2px;
          padding: 0 8px;
          margin-top: -4px;
          height: 24px;
        }
      }
      &.video {
        >.icon {
          top: 20px;
          left: 26px;
          font-size: 16px;
          &::before {
            content: '\e602'
          }
        }
      }
      &.text {
        >.icon {
          top: 16px;
          font-size: 24px;
          left: 25px;
          &::before {
            content: '\E621'
          }
        }
      }
      &.audio {
        >.icon {
          top: 20px;
          font-size: 17px;
          left: 28px;
          &::before {
            content: '\e603'
          }
        }
      }
      &.test {
        >.icon {
          font-size: 18px;
          left: 28px;
          top: 20px;
          &::before {
            content: '\e601'
          }
        }
      }
      .icon {
        position: absolute;
        left: 0;
        top: 0;
        color: #757575;
      }
      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }
  }
}
