.orange-button {
  font-size          : 14px;
  font-weight        : 500;
  line-height        : 20px;
  margin             : 0 8px;
  padding            : 10px 8px;
  text-transform     : uppercase;
  color              : #FFF;
  background-color   : $primoryColor;
  -webkit-box-shadow : 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  -moz-box-shadow    : 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  box-shadow         : 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
}

.orange-button:hover {
  color            : #FFF;
  background-color : $primoryColor;
}

.manage-group .container-inner {
  padding : 21px 21px 32px 32px;
}

.flat-button {
  font-size      : 14px;
  font-weight    : 500;
  line-height    : 20px;
  padding        : 10px 8px;
  text-transform : uppercase;
  color          : $primoryColor;
}

.inner-modal .orange-button {
  padding : 10px 18px;
}

%extend_1 {
  font-size     : 13px;
  font-weight   : 400;
  line-height   : 20px;
  display       : block;
  width         : 100%;
  padding       : 0;
  color         : $black_87;
  border        : none;
  border-bottom : 2px solid $black_26;
}

//original selectors
//.bar:before, .bar:after
%extend_2 {
  position   : absolute;
  bottom     : 0;
  width      : 0;
  height     : 2px;
  content    : '';

  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition : 0.2s ease all;
  background : $primoryColor;
}

//original selectors
//.single-course .edit-date, .group-edit-menu li a
%extend_3 {
  line-height   : 32px;
  display       : block;
  width         : 32px;
  height        : 32px;

  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition    : all 0.55s ease;
  text-align    : center;

  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius : 32px;
}

//original selectors
//.data-group-create, .manage-group h4
%extend_4 {
  font-size   : 13px;
  font-weight : 400;
  line-height : 20px;
  color       : $black_87;
}

//original selectors
//.edit-menu ul:hover, .edit-menu a:hover ~ ul
%extend_5 {
  z-index : 2;
  bottom  : -110px;
  opacity : 1;
}

//original selectors
//.scrollbar-outer > .scroll-element, .scrollbar-outer > .scroll-element div
%extend_6 {
  position : absolute;
  z-index  : 10;
  margin   : 0;
  padding  : 0;
  border   : none;
}

.container-inner {
  position : relative;
  padding  : 21px 32px;
}

.create-group {
  .container-inner {
    padding : 21px 32px 5px;
  }
  input[type='submit'] {
    float : right;
  }
}

.top-text {
  font-size   : 20px;
  font-weight : 400;
  line-height : 32px;
  max-width   : 682px;
  margin      : 0 auto 28px;
  text-align  : center;
  color       : rgba(40, 46, 62, .54);
}

input[type='text'] {

  //@extend %extend_1;
  &:focus {
    outline : none;
    ~ .bar {
      &:before {
        width : 50%;
      }
      &:after {
        width : 50%;
      }
    }
  }
}

.textarea-scrollbar {
  max-height    : 112px;
  border-bottom : 2px solid $black_26;
  textarea:focus ~ .bar {
    &:before {
      width : 50%;
    }
    &:after {
      width : 50%;
    }
  }
}

input[type='submit'] {
  font-size        : 14px;
  font-weight      : 500;
  line-height      : 20px;
  width            : 97px;
  height           : 36px;
  transition       : all 0.55s ease;
  text-transform   : uppercase;
  color            : #FFF;
  border           : none;
  background-color : $primoryColor;
  box-shadow       : 0 2px 2px $black_26, 0 0 2px $black_12;
  &:hover {
    background-color : $primoryColor;
  }
}

.timetable {
  position : relative;
  h2 {
    margin-bottom : 17px;
  }
}

.courses {
  position : relative;
  .data-group-create {
    margin-bottom : 26px;
  }
  h2 {
    color : $black_87;
  }
}

.single-course {
  float      : left;
  clear      : both;
  width      : 100%;
  margin-top : 16px;

  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  @include white__block(1, 1);
  .edit-date {
    margin : 0 0 0 27px;
    @extend %extend_3;
    &.active {
      background : #F0F0F0;
    }
    &:hover {
      background : #F0F0F0;
    }
  }
  &.selected {
    .left-image {
      opacity  : 0.7;
      position : relative;
      &:before {
        font-family   : Icons, sans-serif;
        font-size     : 32px;
        line-height   : 47px;
        position      : absolute;
        top           : 50%;
        left          : 55px;
        width         : 47px;
        height        : 47px;
        margin-top    : -24px;
        content       : '\e899';
        text-align    : center;
        color         : $primoryColor;
        border        : 2px solid $primoryColor;

        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius : 48px;
      }
    }
  }
  &:first-child {
    margin-top : 0;
  }
}

.timetable-description {
  font-size   : 14px;
  font-weight : 400;
  max-width   : 576px;
  margin      : 0 0 24px;
  color       : #1E222F;
  p {
    line-height : 20px;
  }
}

.button-area {
  margin : -4px 0 0;
  li {
    display      : inline-block;
    margin-right : 2px;
  }
}

.courses-lists {
  h2 {
    margin-bottom : 10px;
  }
  .md-modal {
    max-width : 920px;
  }
}

.add-courses {
  font-size      : 14px;
  font-weight    : 400;
  line-height    : 20px;
  position       : absolute;
  top            : 31px;
  right          : 32px;
  text-transform : uppercase;
  color          : $primoryColor;
}

.md-modal {
  position            : fixed;
  z-index             : 9;
  top                 : 50%;
  left                : 50%;
  visibility          : hidden;
  width               : 50%;
  max-width           : 512px;
  height              : auto;

  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform           : translateX(-50%) translateY(-50%);

  //Instead of the line below you could use @include backface-visibility($visibility)
  backface-visibility : hidden;
  .single-course {

    //position : relative;
    //z-index  : 1;
  }
  h2 {
    font-size   : 15px;
    font-weight : 400;
    line-height : 24px;
    color       : $black_87;
  }
  .button-area {
    text-align : right;
    li:first-child {
      margin-right : 26px;
    }
  }

  //.edit-menu {
  //  display : none;
  //}
  //.courses-info h3 {
  //  width : 100%;
  //}
}

.left-image {
  float : left;
  width : 160px;
}

.courses-info {
  margin-left : 184px;
  padding     : 0 16px 0 0;
  h3 {
    font-size     : 20px;
    font-weight   : 400;
    line-height   : 32px;
    width         : 87%;
    height        : 33px;
    margin-bottom : 9px;
    color         : $black_87;
    @include eclipses;
    &:hover {
      color : $primoryColor;
    }
  }
}

.top-line {
  margin-top : 12px;
}

.edit-menu {
  position : relative;
  float    : right;
  width    : 55px;

  // ul {
  //   background    : $white;
  //   width         : 272px;
  //   padding       : 13px 0;
  //   position      : absolute;
  //   right         : 10px;
  //   bottom        : -82px;
  //   opacity       : 0;
  //   z-index       : -1;
  //   //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  //   transition    : all 0.55s ease;
  //   //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  //   border-radius : 2px;
  //   //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  //   box-shadow    : 0 2px 3px $black_26, 0 0 2px $black_12;
  //   &:hover {
  //     @extend %extend_5;
  //   }
  //   li a {
  //     color       : $black_87;
  //     font-size   : 15px;
  //     display     : block;
  //     font-weight : 400;
  //     line-height : 24px;
  //     padding     : 8px 0 8px 24px;
  //     //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  //     transition  : all 0.55s ease;
  //     &:hover {
  //       background : #F0F0F0;
  //     }
  //   }
  // }
}

.edit-date {
  line-height : 41px !important;
  i {
    font-size : 26px;
    &::before {
      font-family : 'Icons';
      line-height : 32px;
      content     : '\E8A3';
      color       : rgba(0, 0, 0, .26);
    }
  }
}

.courses-autor {
  font-size     : 13px;
  font-weight   : 400;
  line-height   : 20px;
  margin-bottom : 11px;
  color         : $black_54;
}

.details-nav {
  ul {
    float        : left;
    width        : 60%;
    padding-left : 0;
    @include clearfix;
    li {
      font-size    : 11px;
      font-weight  : 400;
      line-height  : 18px;
      position     : relative;
      float        : left;
      margin-right : 16px;
      padding      : 0 0 0 23px;
      color        : $black_54;
      i {
        font-size : 13px;
        position  : absolute;
        top       : 0;
        left      : 4px;
        ::before {
          font-family : 'Icons';
        }
      }
      &.hours {
        i {
          &::before {
            content : '\E71F';
          }
        }
      }
      &.lections {
        i {
          &::before {
            content : '\E6B2';
          }
        }
      }
      &.courses-end {
        i {
          &::before {
            content : '\E8D6';
          }
        }
      }
    }
  }
  .courses-date {
    font-size   : 11px;
    font-weight : 400;
    line-height : 18px;
    float       : right;
    width       : 40%;
    margin-top  : 9px;
    text-align  : right;
    color       : $black_26;
  }
}

.md-show {
  visibility : visible;
  ~ .md-overlay {
    visibility : visible;
    opacity    : 1;
  }
  &.md-effect-1 .md-content {

    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : scale(1);
    opacity   : 1;
  }
}

.md-overlay {
  position   : fixed;
  z-index    : 8;
  top        : 0;
  left       : 0;
  visibility : hidden;
  width      : 100%;
  height     : 100%;

  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition : all 0.3s;
  opacity    : 0;
  background : $black_54;
}

.md-content {
  position      : relative;
  margin        : 0 auto;

  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius : 3px;
  background    : #FFF;

  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow    : 0 8px 8px $black_26, 0 0 8px $black_12;
  p {
    margin-bottom : 1.429em;
  }
  > div {
    font-weight : normal;

    //padding     : 8px 16px 20px 32px;
    margin      : 0;
  }
  &.popupFavorite {
    padding : 24px 16px 20px 32px;
  }
}

.close-ico {
  font-size   : 0;
  position    : absolute;
  top         : 20px;
  right       : 20px;
  width       : 16px;
  height      : 16px;
  margin      : 0;
  padding     : 0;
  cursor      : pointer;
  text-indent : -9999px;
  border      : none;
  &:hover {
    background-position : 0 100%;
  }
}

#modal-1 {
  .button-area {
    margin : 89px 0 0;
    margin : 60px 0 0;
  }
  .orange-button {
    padding : 10px 33px;
  }
}

.form_group {
  display : none;
}

.modal-2 {
  display : none;
  h2 {
    font-size     : 20px;
    margin-bottom : 33px;
  }
  .md-content > div {
    font-weight : normal;
    margin      : 0;
    padding     : 32px 16px 8px 25px;
  }
}

#modal-3 {
  h2 {
    font-size     : 20px;
    margin-bottom : 33px;
  }
  .courses-list {
    padding : 5px 3px;
  }
  .button-area {
    margin : 20px 0 0;
  }
  .scrollbar-outer {
    overflow   : auto;
    max-height : 425px;
  }
  .scroll-wrapper {
    overflow   : auto;
    max-height : 425px;
  }
}

.scroll-wrapper {
  position : relative;
  overflow : hidden !important;
  padding  : 0 !important;
  > {
    .scroll-content {
      position   : relative !important;
      top        : 0;
      left       : 0;
      overflow   : scroll !important;

      //Instead of the line below you could use @include box-sizing($bs)
      box-sizing : content-box !important;
      width      : auto !important;
      max-width  : none !important;
      height     : auto;
      max-height : none !important;
      margin     : 0;
      padding    : 0;
      border     : none !important;
    }
    .scroll-content::-webkit-scrollbar {
      width  : 0;
      height : 0;
    }
  }
}

.scroll-element {
  display    : none;

  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing : content-box;
  div {

    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing : content-box;
  }
  .scroll-bar {
    cursor : default;
  }
  .scroll-arrow {
    cursor : default;
  }
  &.scroll-x.scroll-scrollx_visible {
    display : block;
  }
  &.scroll-y.scroll-scrolly_visible {
    display : block;
  }
}

#mm-menu-toggle {
  display : none;
}

.courses-list:after {
  display : block;
  clear   : both;
  content : '';
}

.md-effect-1 .md-content {

  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition : all 0.3s;

  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform  : scale(.7);
  opacity    : 0;
}

.scroll-textarea > .scroll-content {
  overflow : hidden !important;
  > {
    textarea {
      position   : relative !important;
      top        : 0;
      overflow   : scroll !important;

      //Instead of the line below you could use @include box-sizing($bs)
      box-sizing : border-box;
      width      : 100% !important;
      max-width  : none !important;
      height     : 100% !important;
      max-height : none !important;
      margin     : 0;
      padding    : 2px;
      border     : none !important;
      outline    : none;
    }
    textarea::-webkit-scrollbar {
      width  : 0;
      height : 0;
    }
  }
}

.scrollbar-outer > {
  .scroll-element {
    background-color : #FFF;
    @extend %extend_6;
    div {
      top     : 0;
      left    : 0;
      display : block;
      width   : 100%;
      height  : 100%;
      @extend %extend_6;
    }
    &.scroll-x {
      bottom : 0;
      left   : 0;
      width  : 100%;
      height : 12px;
      .scroll-element_outer {
        top    : 2px;
        height : 8px;
      }
      .scroll-bar {
        min-width : 10px;
      }
      &.scroll-scrolly_visible {
        .scroll-element_track {
          left : -14px;
        }
        .scroll-element_size {
          left : -14px;
        }
      }
    }
    &.scroll-y {
      top    : 0;
      right  : 0;
      width  : 12px;
      height : 100%;
      .scroll-element_outer {
        left  : 7px;
        width : 4px;
      }
      .scroll-bar {
        min-height : 10px;
      }
      &.scroll-scrollx_visible {
        .scroll-element_track {
          top : -14px;
        }
        .scroll-element_size {
          top : -14px;
        }
      }
    }
    .scroll-element_outer {
      overflow      : hidden;

      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius : 4px;
    }
    .scroll-element_track {

      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius    : 4px;
      background-color : #FFF;
    }
    .scroll-bar {

      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius    : 4px;
      background-color : #D8D8D8;
      &:hover {
        background-color : #C2C2C2;
      }
    }
    &.scroll-draggable .scroll-bar {
      background-color : #919191;
    }
  }
  .scroll-content {
    &.scroll-scrolly_visible {
      left        : -12px;
      margin-left : 12px;
    }
    &.scroll-scrollx_visible {
      top        : -12px;
      margin-top : 12px;
    }
  }
}
