@import "common/mixins/variables";
@import "common/mixins/inline-block";
@import "common/mixins/circle-img";
@import "common/mixins/middle-block";
@import "common/mixins/media-queries";
@import "common/mixins/clearfix";
@import "common/mixins/comm__block";
@import "common/mixins/eclipses";
@import "common/mixins/placeholder";
@import "common/mixins/transition";

@font-face {
  font-family : 'Icons';
  src         : url('/font/icomoon.eot'); /* IE9 Compat Modes */
  src         : url('/font/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/font/icomoon.woff') format('woff'), /* Pretty Modern Browsers */ url('/font/icomoon.ttf') format('truetype'), /* Safari, Android, iOS */ url('/font/icomoon.svg#Icons') format('svg'); /* Legacy iOS */
}

*, *:before, *:after {
  box-sizing : border-box;
}

html {
  position    : relative;
  font-family : 'Roboto', sans-serif;
  min-height  : 100%;
  height      : 100%;
}

body {
  background-color : #F7F7F7;
  height           : 100%;
  min-height       : 100%;
  height           : auto !important;
  color            : black__color('base__color');
  font-weight      : 400 !important;
  position         : relative;
  min-width        : 1200px;
}

input:focus {
  outline : none;
}

a {
  color           : black__color('base__color');
  text-decoration : none;
}

p {
  margin : 0;
}

ul {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

.icon {
  font-family : Icons, sans-serif;
}

i {
  font-style : normal;
}

.content-courses {
  padding : 90px 0 40px 0;
  width   : 1090px;
  margin  : 0 auto;
}

.content {
  padding : 40px 0 40px 0;
  width   : 920px;
  margin  : 0 auto;
}

.inner-content {
  padding-top    : 128px;
  min-width      : 1066px;
  padding-bottom : 79px;
  min-height     : calc(100vh - 66px);
  &.webinar_attachment {
    padding-top    : 62px;
    padding-bottom : 0px;
  }
  .content-video {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
  }
}

.new-courses-holder {
  background-color : #F9F9F9;
}

.color__ripple {
  position      : absolute;
  border-radius : 50%;
}

.small-ripple {
  position           : fixed;
  width              : 0px;
  height             : 0px;
  opacity            : 0;
  border-radius      : 50px;
  -webkit-transition : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition    : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition      : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition         : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  z-index            : 99999;
}

.small-ripple.animated {
  width              : 50px;
  height             : 50px;
  opacity            : 0.3;
  -webkit-transition : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition    : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition      : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition         : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  margin-left        : -25px;
  margin-top         : -25px;
}

.btn-holder {
  position : absolute;
  right    : 24px;
  bottom   : 8px;
  @include clearfix;
}

#alert {
  position      : fixed;
  display       : none;
  z-index       : 1000;
  bottom        : 20px;
  left          : 50%;
  height        : 52px;
  padding       : 0 72px 0 16px;
  transform     : translateX(-50%);
  background    : rgba(0, 0, 0, .72);
  border-radius : 4px;
  font          : 400 14px/52px 'Roboto';
  color         : #FFF;
  text-align    : left;
  .close {
    position : absolute;
    top      : 20px;
    right    : 20px;
    font     : 400 14px/1 'Roboto';
    color    : #FFF;
    cursor   : pointer;
  }
}

#menus {
  display : none;
}

.content#groups {
  padding-top : 125px;
  width       : 936px;
}

.js__baron {
  overflow-y : scroll;
  &::-webkit-scrollbar {
    width : 0;
  }
}

.js__backing {
  &.is__active {
    position : fixed;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 1;
    &.is__shadow {
      background-color : rgba(0, 0, 0, 0.54);
      z-index          : 300;
    }
  }
}

.duration__with-icon {
  padding-left : 20px;
  position     : relative;
  padding-top  : 2px;
  i {
    position  : absolute;
    left      : 0;
    top       : 2px;
    font-size : 14px;
    color     : rgba(0, 0, 0, 0.54);
    &::before {
      content : '\E71F';
    }
  }
}

.notification {
  position           : fixed;
  top                : 0px;
  right              : -100%;
  z-index            : 10000;
  width              : 450px;
  height             : 128px;
  margin-top         : 16px;
  margin-right       : 16px;
  -webkit-transition : all 300ms;
  transition         : all 300ms;
  @include white__block(1, 0);
  &.visible {
    visibility : hidden;
  }
  &.open {
    right : 0px;
  }
  .img {
    display : inline-block;
    float   : left;
    img {
      height : 128px;
    }
  }
  .notify_content {
    padding     : 16px 16px 12px 16px;
    margin-left : 128px;
    .title {
      padding-bottom : 8px;
      width          : 284px;
      font-size      : 20px;
      @include eclipses;
    }
    .description {
      //overflow : auto;
      font-size : 15px;
      width     : 284px;
      height    : 68px;
      cursor    : pointer;
    }
    .close {
      display         : inline-block;
      position        : absolute;
      top             : 8px;
      right           : 12px;
      text-shadow     : 0 1px 0 #FFF;
      text-decoration : none;
      color           : #777;
      font            : 20px/100% arial, sans-serif;
      cursor          : pointer;
      &:after {
        content : '×';
      }
    }
  }
}

.content#groups {
  @import "unique/pogorelov/group/courses";
  @import "unique/groups/groups";
}

.hiddenInputDataPicker {
  position   : absolute;
  width      : 100%;
  height     : 100%;
  top        : 0;
  left       : 0;
  z-index    : 2;
  opacity    : 0;
  background : none;
  border     : none;
  cursor     : pointer;
}

.drunkenPig {
  width        : 26px;
  height       : 26px;
  position     : relative;
  font-size    : 25px;
  margin-left  : 14px;
  margin-right : 6px;
  margin-top   : -2px;
  color        : #A7A7A7;
}

@import "common/material__el/rippleAnimation";
@import "common/material__el/checkbox";
@import "common/material__el/switch";
@import "common/material__el/btns";
@import "common/material__el/inputs";
@import "common/material__el/toggle-state";
@import "common/elements/tooltip";
@import "common/elements/calendar";
@import "common/elements/filter__block";
@import "common/elements/courses_block";
@import "common/elements/main__action-btn";
@import "common/elements/icons";
@import "common/elements/text";
@import "common/elements/dropdown";
@import "common/elements/empty__page";
@import "common/elements/hidden-list";
@import "common/elements/right__aside";
@import "common/elements/adaptive_title";
@import "common/elements/adaptive_popup";
@import "common/elements/popup_img";
@import "common/elements/directors_btn";
@import "common/elements/welcome_scenario";
@import "common/elements/multi__action";
@import "common/elements/empty__info";
@import "common/elements/action__menu";
@import "common/elements/common__help_btn";
@import "common/elements/ava";
@import "common/elements/help_notif_user";
@import "common/footer";
@import "common/form_add_card";

@import "common/header/header";

@import "unique/courses/courses";
@import "unique/schedule/schedule";
@import "unique/schedule/schedule-calendar";
@import "unique/programm/programm";
@import "unique/groups/courses";
@import "unique/auth/auth";
// @import "unique/notes/notes";
@import "unique/profile/profile";
@import "unique/profile/user";
@import "unique/referal/referal";
@import "unique/members/members";
@import "unique/cabinet/cabinet";
@import "unique/billing/billing";
@import "unique/tests/tests";
@import "unique/help/help";
@import "unique/landing/landing";
@import "unique/no_content/no_content";
@import "unique/attachments/videos";
@import "unique/course/course__description";
@import "unique/course/course";
@import "unique/create__group/create__group";
@import "unique/contenter/contenter";
@import "unique/contenter/add__tegs";
@import "unique/contenter/add__leadings";
@import "unique/webinar__ended/webinar__ended";
@import "unique/director/statistic";
@import "attachments/audios";
@import "core/core";
@import "contenter/publication";
@import "contenter/icons_text";
@import "vendor/bigbluebutton_rails";
@import "vendor/owl.carousel";
//@import "adaptive/adaptive";
.is__noScroll {
  overflow : hidden;
}

.h__BC-blue {
  background-color : rgba(85, 184, 255, 0.72) !important;
}

.h__PopupDisplayFlex {
  display : flex !important;
}

.footer {
  background-color : #5B4141;
  padding-top      : 23px;
  padding-bottom   : 23px;
  text-align       : center;
  a {
    color         : #EE8738;
    padding-right : 12px;
  }
}

.h__BC-green {
  background-color : rgba(85, 255, 177, 0.72) !important;
}
