@import "vendor/material";
@import "vendor/jquery-ui.min";
@import "common/mixins/inline-block";
@import "common/mixins/circle-img";
@import "common/mixins/middle-block";
@import "common/mixins/media-queries";
@import "common/mixins/clearfix";
@import "common/mixins/placeholder";
@import "common/mixins/transition";

@font-face {
  font-family : 'Icons';
  src         : url('/font/icomoon.eot'); /* IE9 Compat Modes */
  src         : url('/font/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/font/icomoon.woff') format('woff'), /* Pretty Modern Browsers */ url('/font/icomoon.ttf') format('truetype'), /* Safari, Android, iOS */ url('/font/icomoon.svg#Icons') format('svg'); /* Legacy iOS */
}

$fontColor : rgba(0, 0, 0, 0.87);
$bgColor : #ECEFF1;

*, *:before, *:after {
  box-sizing : border-box;
}

html {
  position    : relative;
  font-family : 'Roboto', sans-serif;
  min-height  : 100%;
  height      : 100%;
}

body {
  background-color : $bgColor;
  height           : 100%;
  min-height       : 100%;
  height           : auto !important;
  color            : $fontColor;
  font-weight      : 400 !important;
}

input:focus {
  outline : none;
}

a {
  color           : $fontColor;
  text-decoration : none;
}

p {
    margin : 0;
}

ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
}

.icon {
    font-family : Icons, sans-serif;
}

i {
    font-style : normal;
}

.content-courses {
    padding : 90px 0 40px 0;
    width   : 1090px;
    margin  : 0 auto;
}

.content {
    padding : 40px 0 40px 0;
    width   : 920px;
    margin  : 0 auto;
}

.inner-content {
    padding-top : 96px;
}

.new-courses-holder {
    background-color : #F9F9F9;
}
.color__ripple {
    position      : absolute;
    border-radius : 50%;
}

.small-ripple {
    position           : fixed;
    width              : 0px;
    height             : 0px;
    opacity            : 0;
    border-radius      : 50px;
    -webkit-transition : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition    : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition      : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition         : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    z-index            : 99999;
}

.small-ripple.animated {
    width              : 50px;
    height             : 50px;
    opacity            : 0.3;
    -webkit-transition : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition    : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition      : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition         : all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    margin-left        : -25px;
    margin-top         : -25px;
}

.btn-holder {
    position : absolute;
    right    : 24px;
    bottom   : 8px;
    @include clearfix;
}

#alert {
    position      : fixed;
    display       : none;
    z-index       : 1000;
    bottom        : 20px;
    left          : 50%;
    height        : 52px;
    padding       : 0 72px 0 16px;
    transform     : translateX(-50%);
    background    : rgba(0, 0, 0, .72);
    border-radius : 4px;
    font          : 400 14px/52px 'Roboto';
    color         : #FFF;
    text-align    : left;
    .close {
        position : absolute;
        top      : 20px;
        right    : 20px;
        font     : 400 14px/1 'Roboto';
        color    : #FFF;
        cursor   : pointer;
    }
}

#menus {
    display : none;
}

.content#groups {
    padding-top : 130px;
}
.js__backing {
  &.is__active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.adova__btn {
  position: fixed;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  text-align: center;
  i {
    color: #FD9348;
    &::before {
      line-height: 60px;
      font-size: 24px;
      content: '\E899';
    }
  }
  &:hover {
    box-shadow : 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
  &:active {
    background-color: #FD9348;
    i {
      color: #fff;
    }
  }
}
.duration__with-icon {
  padding-left: 20px;
  position: relative;
  padding-top: 2px;
    i {
      position: absolute;
      left: 0;
      top: 2px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
      &::before {
            content : '\E71F';
        }
    }
}

.content#groups{
  @import "unique/pogorelov/group/courses";
  @import "unique/groups/groups";
}

@import "common/material__el/rippleAnimation";
@import "common/material__el/checkbox";
@import "common/material__el/switch";
@import "common/elements/calendar";
@import "common/material__el/toggle-state";
@import "common/elements/adaptive_title";
@import "common/elements/adaptive_popup";
@import "common/material__el/input";
@import "common/material__el/btns";
@import "common/material__el/tooltip";
@import "common/elements/directors_btn";

@import "unique/courses/courses";
@import "unique/schedule/schedule";
@import "unique/schedule/schedule-calendar";
@import "unique/programm/programm";
@import "unique/groups/courses";
@import "common/header/header";
@import "unique/auth/auth";
@import "unique/profile/profile";
@import "unique/members/members";
@import "unique/cabinet/cabinet";
@import "unique/tests/tests";
@import "unique/no_content/no_content";
@import "unique/attachments/videos";
