#js-course-leading {
  width       : 400px !important;
  z-index     : 999;
  padding-top : 0;
  .leading__list {
    .item {
      width         : 100%;
      height        : 80px;
      border-bottom : 1px solid #E2E2E2;
      color         : #757575;
      &:hover {
        background-color : #F7F7F7;
        cursor           : pointer;
      }
      &.active {
        background-color : #E0F7F9;
        color            : #00BCD4;
      }
      .ava {
        float  : left;
        width  : 48px;
        margin : 16px 24px 16px 12px;
        img {
          display       : block;
          width         : 100%;
          border-radius : 100%;
        }
      }
      .info {
        float      : left;
        margin-top : 30px;
      }
    }
  }
}

#js-course-tags {
  width       : 400px !important;
  z-index     : 999;
  padding-top : 0;
  .all__Tags {
    .tag {
      display       : inline-block;
      margin-right  : 10px;
      padding       : 2px 10px 2px 10px;
      border        : 1px solid #D8D8D8;
      color         : #757575;
      border-radius : 2px;
      margin-bottom : 10px;
      cursor        : pointer;
      &:hover {
        color  : #00BCD4;
        border : 1px solid #00BCD4;
      }
      &.active {
        color  : #00BCD4;
        border : 1px solid #00BCD4;
      }
    }
  }
}

.contenter {
  .cabinet__block {
    .actual-courses {
      .carusel-wrp {
        .course-prev-list {
          .corses-prev {
            margin-right : 10px;
            &:nth-child(3) {
              margin-right : 10px;
            }
            &:nth-child(4) {
              margin-right : 0px;
            }
          }
        }
      }
    }
    .infoCourses {
      width            : 936px;
      margin           : 0 auto;
      padding          : 12px 54px 12px 150px;
      margin-bottom    : 56px;
      @include white__block(1, 0);
      background-color : #E2E2E2;
      .infoItem {
        display      : inline-block;
        margin-right : 72px;
        .title {
          margin-bottom : 10px;
          font-weight   : 300;
        }
        .count {
          text-align : center;
        }
      }
    }
  }
  .oh__nihuyase-block {
    .course__title {
      width            : 100%;
      background-color : rgba(255, 255, 255, 0);
      border           : 0;
      border-bottom    : 1px solid #949494;
      color            : #757575;
      outline          : none;
    }
    .detail__info {
      .description {
        textarea {
          width   : 100%;
          height  : 150px;
          border  : 0;
          color   : #757575;
          outline : none;
          resize  : none;
        }
      }
    }
    .itemDetailInfo {
      padding    : 24px 0px 24px 0px;
      border-top : 1px solid #E8E8E8;
      .title__Item {
        color          : #757575;
        font-size      : 24px;
        padding-bottom : 30px;
      }
      .description__Item {
        .remove {
          display         : inline-block;
          position        : absolute;
          top             : 8px;
          right           : 12px;
          text-shadow     : 0 1px 0 #FFF;
          text-decoration : none;
          color           : #777;
          font            : 20px/100% arial, sans-serif;
          cursor          : pointer;
          &:after {
            content : '×';
          }
        }
        .allTagDescriptionCourse {
          display : inline-block;
          .tag {
            position      : relative;
            display       : inline-block;
            margin-right  : 10px;
            padding       : 2px 24px 2px 10px;
            border        : 1px solid #D8D8D8;
            color         : #757575;
            border-radius : 3px;
            .remove {
              top   : 2px;
              right : 5px;
            }
          }
        }
        .addTag {
          display : inline-block;
          width   : 118px;
        }
        &.block__lead {
          cursor        : pointer;
          height        : 160px;
          border        : 1px solid #D8D8D8;
          border-radius : 3px;
          margin-bottom : 16px;
          &.item {
            cursor   : default;
            position : relative;
            .ava {
              margin : 8px 48px 8px 10px;
            }
            .info {
              padding-top : 10px;
              width       : calc(100% - 220px);
            }
          }
          .addLead {
            text-align : center;
            margin-top : 40px;
            .titleLead {
              i.cabinet {
                font-size : 48px;
                color     : #ADADAD;
              }
            }
            .descriptionLead {
              color : #ADADAD;
            }
          }
        }
      }

    }
  }
}

//////////
.contenter#contenterCourseProgram {
  .oh__nihuyase-block {
    margin-top : 0px;
  }
  .inner-content {
    padding-top : 128px;
    .programs {
      .section {
        width            : 984px;
        margin           : 0 auto;
        background-color : #E0E0E0;
        margin-bottom    : 24px;
        border-radius    : 2px;
        .title.input_section {
          position      : relative;
          padding       : 8px 12px 8px 12px;
          border-bottom : 1px solid #D0D0D0;
          margin-bottom : 0px;
          font-size     : 15px;
          .remove {
            display         : inline-block;
            position        : absolute;
            top             : 8px;
            right           : 12px;
            text-shadow     : 0 1px 0 #FFF;
            text-decoration : none;
            color           : #777;
            font            : 20px/100% arial, sans-serif;
            cursor          : pointer;
            &:after {
              content : '×';
            }
          }
          .numberSection {
            color : #757575;
          }
          .section_title {
            width            : 95%;
            background-color : rgba(255, 255, 255, 0);
            border           : 0;
            outline          : none;
          }
        }
        .descriptionSection {
          padding : 16px;
          .add_attachment {
            @include white__block(1, 1);
          }
          .attachment {
            @include white__block(1, 1);
            margin-bottom : 16px;
            .adaptive__title {
              .right-col {
                .remove {
                  display         : inline-block;
                  position        : relative;
                  top             : -2px;
                  text-shadow     : 0 1px 0 #FFF;
                  text-decoration : none;
                  color           : #777;
                  font            : 20px/100% arial, sans-serif;
                  cursor          : pointer;
                  margin-left     : 10px;
                  &:after {
                    content : '×';
                  }
                }
              }
              .left-col {
                margin-bottom : 0px;
              }
            }
            .edit_attachment {
              display : none;
            }
            &.open-state {
              height  : 100%;
              width   : calc(100% + 176px);
              margin  : 12px -88px 12px -88px;
              padding : 13px 16px 16px 64px;
              .info_attachment {
                display : none;
              }
              .edit_attachment {
                display : block;
                .form_edit {
                  width : 904px;
                  .remove {
                    display         : inline-block;
                    position        : absolute;
                    top             : 18px;
                    right           : 35px;
                    text-shadow     : 0 1px 0 #FFF;
                    text-decoration : none;
                    color           : #777;
                    font            : 20px/100% arial, sans-serif;
                    cursor          : pointer;
                    &:after {
                      content : '×';
                    }
                  }
                  .form_group {
                    &.fixedHeight {
                      height : 181px;
                    }
                    .titleEdit {
                      font-size     : 12px;
                      color         : #757575;
                      margin-bottom : 12px;
                    }
                    .input_title {
                      .numberSection {
                        margin-right : 5px;
                      }
                      .attachmentInput {
                        width            : 95%;
                        background-color : rgba(255, 255, 255, 0);
                        border           : 0;
                        outline          : none;
                        resize           : none;
                      }
                      textarea.attachmentInput {
                        width      : 100%;
                        max-height : 120px;
                        min-height : 42px;
                        //height: 120px;
                      }

                    }
                    hr {
                      border           : none;
                      color            : rgba(0, 0, 0, 0.26);
                      background-color : rgba(0, 0, 0, 0.26);
                      height           : 1px;
                    }
                    .validateMaxCount {
                      text-align : right;
                      font-size  : 12px;
                      color      : rgba(0, 0, 0, 0.26);
                    }
                  }
                  .upload_attachments {
                    height : 120px;
                    .uploadFileInput {
                      width    : 0;
                      height   : 0;
                      position : absolute;
                      opacity  : 0;
                    }
                    .selectAttachment {
                      margin-right  : 16px;
                      display       : inline-block;
                      text-align    : center;
                      color         : #777;
                      padding       : 32px 5px 5px 5px;
                      border        : 1px solid #777;
                      border-radius : 4px;
                      width         : 128px;
                      height        : 120px;
                      float         : left;
                      cursor        : pointer;
                      &:hover {
                        background-color : #F7F7F7;
                      }
                      &.active {
                        background-color : #F7F7F7;
                      }
                      i.icon {
                        font-size : 36px;
                      }
                      .selectText {
                        margin-top : 8px;
                        font-size  : 13px;
                      }
                    }
                  }
                  .editFileUpload {
                    margin-bottom : 48px;
                    .itemFile {
                      display : none;
                      &.attachmentShow{
                        display: block;
                      }
                      &.addedFileInfo {
                        .fileInfo {
                          display : inline-table;
                          padding : 12px;
                          @include white__block(1, 0);
                          width   : 184px;
                          .titleName {
                            font-size     : 12px;
                            color         : #757575;
                            margin-bottom : 12px;
                          }
                          .fileType {
                            margin-top : 16px;
                            .typeName {
                              margin-left : 12px;
                            }
                          }
                        }
                        .fileDuration {
                          position    : relative;
                          top         : -10px;
                          display     : inline-table;
                          margin-left : 16px;
                          .titleDuration {
                            font-size     : 12px;
                            color         : #757575;
                            margin-bottom : 13px;
                            display       : inline-block;
                          }
                          .inputDuration {
                            outline       : none;
                            border        : 0;
                            border-bottom : 1px solid #BCBCBC;
                            margin-left   : 12px;
                            width         : 40px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}