p
  | Заголовок: Снова здравствуйте!
  br
  | Вы подписались на обновления курса “Название курса”. Мы обязательно уведомим вас, когда курс будет полностью доступен для просмотра. Большое спасибо за проявленный вами интерес!