p
  | Снова здравствуйте!
  br
  | Вы подписались на обновления курса “#{@course.title}”. Мы обязательно уведомим вас, когда курс будет полностью доступен для просмотра. Большое спасибо за проявленный вами интерес!