p Пользователь ID: #{@user.id}
p Имя: #{@user.full_name}
p Email: #{@user.email}
p Количество месяцев: #{@params[:count_month]}
p Сумма: #{@params[:sum]} рублей
p Промо код: #{@params[:promo]}
p Телефон: #{@user.social["phone"]}
p Город: #{@user.city}