p Пользователь ID: #{@user.id}
p Имя: #{@user.full_name}
p Email: #{@user.email}
p Название компании: #{@params[:company_name]}
p Телефон компании: #{@params[:company_phone]}
p Количество пользователей: #{@params[:user_count]}
p Сумма: #{@params[:sum]}