- url_auth = @user.auth_url({redirect: "/attachment?id=#{@attachment.id}"})
'#{@user.full_name}, вы отменили регистрацию на вебинар
a href=url_auth =' @attachment.title
|в системе онлайн-обучения #{HomeMailer::NAME_SYSTEM}.
br
'Если вы все еще хотите участвовать в вебинаре или отменили регистрацию случайно,
a href=url_auth то зарегистрируйтесь снова
br
br
a href="#{domain}/mail_notify?type=off" Не получать уведомления