Вы зарегестрировались в системе <%= $env_mode.name_title %>!
<br>
<b>Логин: </b> <%= @user.email %>
<br>
<b>Пароль: </b> <%= @new_password %>
<br>
Для подтверждения аккаунта перейдите по ссылке: 
<a href="<%= @url %>">Перейти</a>