.schedule-cabinet {
  @import 'common/elements/select';
  .month_chouse {
    margin-bottom: 37px;
  }
  .month-list {
    margin-right: 22px;
    .item {
      background: #FFFFFF;
      border-radius: 2px;
      padding-left: 41px;
      position: relative;
      min-height: 42px;
      margin-bottom: 24px;
      &.curr{
        .data {
          color: $primoryColor;
        }
        .box {
          border-color: $primoryColor;
          .event-info {
            position: relative;
            &::before {
              content: '';
              display: block;
              height: 100%;
              width: 4px;
              background-color: $primoryColor;
              border-radius: 2px 0 0 2px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
      .data {
        position: absolute;
        left: 2px;
        top: 0;
        color: rgba(0,0,0,0.26);
        .week-day {
          font-size: 11px;
          line-height: 16px;
          text-align: right;
        }
        .date {
          font-size: 20px;
          line-height: 24px;
        }
      }
      .box{
        border-bottom: 1px solid rgba(0,0,0,0.12);
        min-height: 42px;
        height: 100%;
        .event-info {
          padding: 4px 20px 4px 12px;
          height: 32px;
          @include white__block(1,1);
          margin-bottom: 9px;
          &:hover {
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          }
          .title {
              @include eclipses;
          }
          &.director {
            padding-right: 40px;
            position: relative;
            .edit-date {
              line-height : 41px !important;
              i {
                &::before {
                  color: rgba(0, 0, 0, 0.26);
                  font-family: 'Icons';
                  content: "\E8A3";
                  line-height: 32px;
                }
                font-size : 20px;
              }
            }
            .edit-menu {
                position: absolute;
                top: 0;
                right: 10px;
                z-index: 10;
                height: 100%;
              .hidden-calendar-wrp{
                @import 'common/elements/hidden-list';
                .hidden-calendar {
                  display: none;
                  min-width: 345px;
                  background-color: #FFFFFF;
                  padding: 6px 0;
                  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.52);
                  border-radius: 2px;
                  max-height: 236px;
                  position: absolute;
                  top: 100%;
                  right: 0;
                  z-index: 100;
                  bottom: auto;
                  .calendar-header {
                    font-size: 15px;
                    color: rgba(0,0,0,0.87);
                    line-height: 18px;
                    margin-bottom: 24px;
                    padding-left: 23px;
                    @include clearfix;
                    padding-top: 13px;
                    .back {
                      float: left;
                      margin-right: 15px;
                      font-size: 16px;
                      &::before {
                        color: rgba(0,0,0,0.87);
                        content: '\E893'
                      }
                    }
                  }
                  .selected-value {
                    padding-left: 24px;
                  }
                  .calendar-holder{
                    font-size: 13px;
                    color: rgba(0,0,0,0.54);
                    line-height: 20px;
                    .ui-datepicker {
                      padding-top: 10px;
                    }
                  }
                }
              }

              &.is__active {
                .hidden-calendar-wrp {
                  .hidden-list {
                    display: block !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
