.director_settings {
  text-align: center;
  &-start {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("director_settings-start.png") 0 0 no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(0);
    user-select: none;
    transition: all .3s ease;
    &.hidden {
      opacity: 0;
    }
    .box {
      position: relative;
      width: 384px;
      padding: 32px 24px 76px 24px;
      background: #fff;
      border-radius: 2px;
      text-align: center;
      color: rgba(0,0,0,.54);
      box-shadow: 0  0    2px 0  rgba(0,0,0,.12),
            0  2px  6px 0  rgba(0,0,0,.24);
      .title {
        position: absolute;
        top: -58px;
        left: 0;
        width: 100%;
        font: 300 24px/28px 'Roboto';
        text-align: center;
        color: #fff;
        letter-spacing: 0.7px;
      }
      img {
        margin: 0 0 24px 0;
      }
      .subtitle {
        font: 400 15px/17px 'Roboto';
        margin: 0 0 24px 0;
      }
      .text {
        font: 400 13px/20px 'Roboto';
      }
      .btn {
        position: absolute;
        bottom: 8px;
        right: 16px;
      }
    }
  }
  .menu {
    overflow: hidden;
    margin: 0 0 24px 0;
    display: inline-block;
    .item {
      float: left;
      margin: 0 24px 0 0;
      font: 400 13px/20px 'Roboto';
      color: rgba(0,0,0,.54);
      cursor: pointer;
      &.active {
        color: rgba(0,0,0,.78);
      }
    }
  }
  .content {
    width: 1200px;
    display: inline-block;
    text-align: left;
    padding: 0;
    padding-top: 72px;
    padding-bottom: 40px;
    &-item {
      border-radius: 2px;
      transition: all .3s ease;
      box-shadow: 0  0    2px 0  rgba(0,0,0,.12),
                  0  2px  6px 0  rgba(0,0,0,.24);
      .top {
        padding: 25px 32px 24px 32px;
        background: rgba(0,188,212,.12);
        color: rgba(0,0,0,.54);
        .title {
          float: left;
          font: 400 15px/15px 'Roboto';
        }
        .toggle {
          position: relative;
          float: right;
          cursor: pointer;
          &:after {
            display: block;
            font: 15px/15px 'Icons';
            content: '\E8A5';
          }
          &:before {
            display: none;
            font: 15px/15px 'Icons';
            content: '\E8A6';
          }
          &.active {
            &:after {
              display: none;
            }
            &:before {
              display: block;
            }
          }
        }
        .inner {
          padding: 24px 0 0 0;
          &__holder {
            overflow: hidden;
          }
        }
        .text {
          font: 400 12px/24px 'Roboto';
          margin: 0 0 24px 0;
        }
        .list {
          .item {
            margin: 0 0 24px 0;
            font: 400 13px/20px 'Roboto';
            overflow: hidden;
            &:last-child {
              margin: 0;
            }
            .number {
              float: left;
              width: 40px;
            }
            .text {
              float: left;
              width: calc(100% - 40px);
            }
            .left {
              float: left;
              width: 600px;
            }
            .right {
              float: right;
              width: 300px;
              text-align: right;
            }
          }

        }
      }
      .bottom {
        position: relative;
        z-index: 1;
        padding: 24px 24px 24px 24px;
        background: #fff;
        font: 400 13px/20px 'Roboto';
        color: rgba(0,0,0,.54);
        table {
          width: 100%;
        }
        .title {
          margin: 0 0 24px 0;
        }
        .left {
          position: relative;
          z-index: 1;
          float: left;
          width: calc(30% - 32px);
          margin: 0 32px 0 0;
          .list {
            padding: 0 24px 0 0;
            &.status {
              overflow-y: auto;
              overflow-x: visible;
              margin: 54px 0 0 0;
              &.dragging {
                z-index: 10000;
                width: 250px;
                overflow: visible;
              }
              .ui-state-highlight {
                display: none;
              }
              .ui-state-placeholder {
                display: none;
              }
              .item {
                overflow: visible;
                width: 250px;
                float: left;
                clear: left;
              }
            }
            .status__item {
              width: 100%;
              overflow: hidden;
              &.ui-state-default {
                border: 0;
                background: transparent;
              }
            }
            .item {
              margin: 0 0 12px 0;
              cursor: pointer;
              &__color {
                position: relative;
                min-height: 20px;
                .status__element {
                  top: 0;
                  left: 0;
                  min-width: 170px;
                  &.dragging {
                    z-index: 9999;
                  }
                }
              }
              .circle {
                float: left;
                width: 16px;
                height: 16px;
                margin: 2px 12px 0 0;
                border-radius: 100%;
              }
              .delete {
                float: left;
              }
              .used {
                position: relative;
                .circle {
                  background: transparent !important;
                }
                i.left {
                  position   : absolute;
                  top       : 10px;
                  left      : 2px;
                  width     : 6px;
                  height     : 2px;
                  transform : rotate(45deg);
                  i.right {
                    position   : absolute;
                    top        : -13px;
                    left       : 4px;
                    width      : 2px;
                    height     : 14px;
                    transition : 0.5s;
                    content    : '';
                  }
                }
              }
              .text {
                float: left;
              }
            }
          }
        }
        .right {
          position: relative;
          z-index: 1;
          float: left;
          width: 70%;
          .funnel__holder {
            overflow-y: auto;
            overflow-x: visible;
            padding: 0 20px 0 0;
            &.dragging {
              overflow: visible;
            }
          }
          .funnel {
            margin: 0 0 20px 0;
            &:last-child {
              margin: 0 0 24px 0;
              .top {
                margin: 0;
              }
            }
            .top {
              padding: 0;
              margin: 0 0 12px 0;
              background: transparent;
              overflow: hidden;
              .number {
                float: left;
                width: 24px;
                font: 400 13px/20px 'Roboto';
              }
              .title {
                float: left;
                margin: 0 0 8px 0;
                width: calc(100% - 24px);
                font: 400 13px/20px 'Roboto';
              }
            }
            .left {
              float: left;
              max-width: 100%;
              width: calc(100% - 32px);
              margin: 0;
            }
            .dropzone, .dropzone__full {
              // display: flex;
              width: 100%;
              min-height: 24px;
              height: auto;
              background: rgba(0,188,212,.12);
              border-radius: 2px;
              margin: 0 0 12px 0;
              display: flex;
              &:last-child {
                margin: 0;
              }
              .status__item {
                position: relative !important;
                float: left;
                opacity: 1 !important;
                width: 100% !important;
                height: 24px !important;
                padding: 0 4px;
                font: 400 13px/24px 'Roboto';
                color: rgba(0,0,0,.54);
                // overflow: hidden;
                border-radius: 2px;
                text-overflow: eclipse;
                &.ui-state-default {
                  border: 0;
                  background: transparent;
                }
                &:after {
                  position: absolute;
                  visibility: hidden;
                  top: -30px;
                  background: #F9F9F9;
                  border-radius: 2px;
                  box-shadow: 0 4px 4px rgba(0,0,0,.24);
                  font: 400 11px/11px 'Roboto';
                  color: rgba(0,0,0,.54);
                  content: attr(data-tooltip);
                  opacity: 0;
                  padding: 8px;
                  white-space:nowrap;
                  transition: all 0.4s ease-in-out;
                }
                &:hover:after {
                  opacity: 1;
                  visibility: visible;
                }
                .delete {
                  position: absolute;
                  right: 4px;
                  top: 3px;
                  width: 18px;
                  height: 18px;
                  cursor: pointer;
                  &:after {
                    font: 18px/18px 'Icons';
                    color: rgba(0,0,0,.54);
                    content: '\E898';
                  }
                }
                .text {
                  width: calc(100% - 18px);
                  height: 24px;
                  overflow: hidden;
                }
              }
            }
            .plus {
              float: right;
              width: 24px;
              height: 24px;
              font: 400 20px/24px 'Roboto';
              color: #00BCD4;
              cursor: pointer;
              text-align: center;
            }
          }
        }
        .top {
          background: transparent;
          margin: 0 -24px;
          padding: 0 0 24px 0;
          // overflow: hidden;
        }
        .director__checkbox {
          position: relative;
          float: left;
          width: 16px;
          height: 16px;
          margin: 0 32px;
          .label {
            display: block;
            padding-left: 16px !important;
          }
        }
        .check__all {
          float: left;
          width: 200px;
          color: rgba(0,0,0,.87);
        }
        .quantity__all {
          float: right;
          width: 200px;
          padding: 0 24px 0 0;
        }
        .btn-standart {
          position: absolute;
          bottom: 8px;
          right: 24px;
        }
        .list {
          .item {
            margin: 0 -24px;
            padding: 24px 32px 0 0;
            overflow: hidden;
            &.active {
              background: rgba(0,188,212,.12);
            }
            .name {
              float: left;
              width: 25%;
              padding: 0 0 24px 0;
              border-bottom: 1px solid rgba(0,0,0,.12);
            }
            .mail {
              float: left;
              width: calc(74% - 80px);
              padding: 0 0 24px 0;
              border-bottom: 1px solid rgba(0,0,0,.12);
            }
          }
        }
        .bottom {
          padding: 32px 0 0 56px;
          .chosen__dark {
            color: rgba(0,0,0,.87);
          }
          .tarif__dark {
            color: rgba(0,0,0,.87);
          }
        }
        .plan {
          .item {
            overflow: hidden;
            margin: 0 0 24px 0;
            color: rgba(0,0,0,.54);
            &:first-child {
              .money, .deal, .contacts {
                color: rgba(0,0,0,.87);
              }
            }
            &:last-child {
              margin: 0;
            }
            .name {
              float: left;
              width: 30%;
              line-height: 26px;
              &__dark {
                color: rgba(0,0,0,.87);
              }
            }
            .money {
              float: left;
              width: calc(70%/3);
            }
            .deal {
              float: left;
              width: calc(70%/3);
            }
            .contacts {
              float: left;
              width: calc(70%/3);
            }
            .input-wrp {
              width: calc(100% - 24px);
              height: 26px;
              input {
                width: 100%;
                height: 26px;
                border: 0;
                color: rgba(0,0,0,.87);
                border-bottom: 1px solid rgba(0,0,0,.12);
              }
              hr {
                border-bottom: 2px solid #000;
              }
            }
          }
        }
        .tech {
          .item {
            overflow: hidden;
            margin: 0 0 24px 0;
            font: 400 13px/20px 'Roboto';
            color: rgba(0,0,0,.54);
            .number {
              float: left;
              width: 40px;
            }
            .text {
              float: left;
              width: calc(100% - 40px);
            }
            .left {
              float: left;
              width: calc(100% - 320px);
              margin: 0;
            }
            .right {
              float: right;
              width: 260px;
              text-align: right;
            }
            .link {
              color: #00BCD4;
              &__dark {
                color: rgba(0,0,0,.26);
              }
            }
            #copy__link {
              float: left;
              color: #00BCD4;
              cursor: pointer;
            }
          }
        }
        &.last {
          text-align: center;
          img {
            margin: 0 0 24px 0;
          }
          .text {
            width: 340px;
            margin: 0 auto;
            font: 400 13px/20px 'Roboto';
            color: rgba(0,0,0,.54);
          }
        }
      }
    }
    .btn {
      float: right;
      &__holder {
        position: relative;
        z-index: 2;
        overflow: hidden;
        left: 50%;
        transform: translateX(-50%);
        width: 1200px;
        // height: 0;
        transition: height .3s ease;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.12);
        &.js__btns-btm {
          position: fixed;
          bottom: 0;
          border-top: 1px solid rgba(0,0,0,.12);
        }
        &.js__btns-top {
          position: fixed;
          border-bottom: 1px solid rgba(0,0,0,.12);
        }
      }
      &__wrapper {
        padding: 24px;
      }
      &-flat {
        margin-right: 8px !important;
        background-color: #fff !important;
        color: #000 !important;
        opacity: .26;
        transition: opacity .3s ease;
        &:hover {
          opacity: .54;
        }
      }
    }
    .list.status {
      .item {
        padding: 0;
      }
    }
  }



}


.ui-state-placeholder {
  width: 100%;
  min-height: 20px;
}
