.programm-block {
    padding-top : 40px;
    .program-item {
        @include white__block(1, 1);
        padding       : 17px 24px;
        position      : relative;
        padding-right : 20px;
        margin-bottom : 12px;
        .fixed-h {
            display : block;
            @include clearfix;
            .title {
                float : left;
                width : calc(100% - 90px);
            }
            .duration {
                float        : right;
                width        : 80px;
                padding-left : 19px;
                margin-left  : 0;
                position     : relative;
                font-size    : 11px;
                color        : rgba(0, 0, 0, 0.26);
                line-height  : 18px;
                i {
                    position  : absolute;
                    left      : 0;
                    top       : 0;
                    font-size : 14px;
                    &::before {
                        content : "\E71F";
                    }
                }
            }
        }
    }
    .schedule-day-list {
        .schedule-day {
            padding-left : 0;
            .group-block {
                background : 0;
                padding    : 0;
            }
        }
    }
}
