.cabinet__block {
  .empty-title {
    text-align: center;
    font-size: 34px;
    color: rgba(0,0,0,0.54);
    line-height: 40px;
    margin-bottom: 16px;
  }
  .empty-description {
    text-align: center;
    @include middle-block('744px');
    font-size: 15px;
    color: rgba(0,0,0,0.54);
    line-height: 24px;
    margin-bottom: 24px;
  }
  .choose-course {
    @include clearfix;
    background-color: #E6E6E6;
    padding: 16px 24px 24px 48px;
    background: #E6E6E6;
    border-radius: 2px;
    .description {
      width: 620px;
      float: left;
    }
    .action-block {
      width: 120px;
      float: right;
    }
  }

}
@import "schedule"
