<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56cd7555899986f1"></script>
<style>
    #at4-scc {
        display : none !important;
    }

    #at4-share {
        -webkit-animation-duration : .1s;
        animation-duration         : .1s;
    }
</style>
<!--&lt;!&ndash; Go to www.addthis.com/dashboard to customize your tools &ndash;&gt;-->
<!--<div class="addthis_sharing_toolbox"></div>-->