.shadow-z-1 {
    box-shadow: 0 1px 3px rgba(0,0,0, .12),
        0 1px 2px rgba(0,0,0, .24) ;
}

.shadow-z-2 {
    box-shadow: 0 3px 6px rgba(0,0,0, .16),
        0 3px 6px rgba(0,0,0, .23) ;
}
.shadow-z-2-hover {
    box-shadow: 0 3px 6px rgba(0,0,0, .20),
        0 3px 6px rgba(0,0,0, .28) ;
}

.shadow-z-3 {
    box-shadow: 0 10px 20px rgba(0,0,0, .19),
        0 6px 6px rgba(0,0,0, .23) ;
}

.shadow-z-4 {
    box-shadow: 0 14px 28px rgba(0,0,0, .25),
        0 10px 10px rgba(0,0,0, .22) ;
}

.shadow-z-5 {
    box-shadow: 0 19px 38px rgba(0,0,0, .30),
        0 15px 12px rgba(0,0,0, .22) ;
}

.withripple {
    position: relative;
}
.ripple-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    opacity: 0.1;
}
.is__orange {

}

.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.05);
    transform: scale(1);
    transform-origin: 50%;
    opacity: 0;
    pointer-events: none;
}
.ripple.ripple-on {
    transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
    opacity: 1;
}
.ripple.ripple-out {
    transition: opacity 0.1s linear 0s !important;
    opacity: 0;
}

@mixin btn-shadow(){
    @extend .shadow-z-2;
    transition: box-shadow transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:active:not(.btn-link) {
        @extend .shadow-z-3;
    }
    // &:hover {
    //     @extend .shadow-z-3;
    // }

}

.btn {
    position: relative;
    padding: 0 8px;
    border: 0;
    display        : block;
    min-width      : 88px;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    height         : 36px;
    text-align     : center;
    font-size      : 14px;
    line-height    : 36px;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    color: $primoryColor;
    outline: none !important;
    &.is__orange {
      color: #FFFFFF;
      background-color: $primoryColor;
    }
    &.is__blue {
      color: #FFFFFF;
      background-color: #00BCD4;
    }
    &:hover {
        // @extend .shadow-z-2-hover;
    }
    &:active {
        @extend .shadow-z-2;
    }

  &.disable {
    background: rgba(0,0,0,0.12);
    cursor: not-allowed;
    color: $black_26;
    &:hover {
      box-shadow: none !important;
    }
  }
}

.btn-raised {
    @include btn-shadow();
}

.btn-flat {
    box-shadow: none !important;
    &.btn-default:hover {
        background: none;
    }
    &:active {
      box-shadow: none !important;
    }
}

.btn.btn-flat:hover:not(.btn-ink),
.btn-default.btn-flat:hover:not(.btn-ink) {
  background-color: rgba(0, 0, 0, 0.2);
  background: rgba(0,187,211,0.08);
}


.btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}


.btn-group, .btn-group-vertical {
    position: relative;
    border-radius: 4px;
    margin: 10px 1px;

    @include btn-shadow();
    &.open .dropdown-toggle {
        box-shadow: none;
    }
    &.btn-group-raised {
        @include btn-shadow();
    }
    .btn, .btn:active, .btn-group {
        box-shadow: none !important;
        margin: 0;
    }
    .btn:active .caret { margin-left: -1px; }
}
.btn-group-flat {
    box-shadow: none !important;
}

// Floating Action Button (FAB)

.btn-fab {
    margin: 0;
    padding: 15px;
    font-size: 26px;
    width: 56px;
    height: 56px;
    &, &:hover {
        //.variations(#{""}, background-color, transparent);
    }
    &, .ripple-wrapper {
        border-radius: 100%;
    }
    &.btn-mini {
        width: 40px;
        height: 40px;
        padding: 13px;
        font-size: 15px;
    }
}




//
// .btn__raised {
//   display        : block;
//   width          : 148px;
//   height         : 36px;
//   font           : 400 13px/36px 'Roboto';
//   color          : #FFF;
//   background     : $primoryColor;
//   cursor         : pointer;
//   text-align     : center;
//   text-transform : uppercase;
//   box-shadow     : 0 0 2px 0 rgba(0, 0, 0, .12),
//   0 2px 6px 0 rgba(0, 0, 0, .24);
// }
//
// .btn__flat {
//   display        : block;
//   font           : 400 14px/1 'Roboto';
//   color          : $primoryColor;
//   text-transform : uppercase;
// }
//
// .is__orange {
//   background : $primoryColor;
//   color      : #FFF;
// }
//
// .btn-default {
//   display        : block;
//   min-width      : 88px !important;
//   padding        : 0 8px !important;
//   height         : 36px !important;
//   text-align     : center !important;
//   padding-top    : 0px !important;
//   margin         : 0 !important;
//   opacity        : 1;
//   box-shadow     : 0 2px 5px 0 rgba(0, 0, 0, .26);
//   font-size      : 14px;
//   color          : #FFF !important;
//   line-height    : 36px;
//   transition     : all .3s ease;
//   text-align     : center;
//   text-transform : uppercase;
//   cursor         : pointer;
//   border         : 0;
//   &.inactive {
//     opacity : .5;
//     cursor  : default;
//   }
//   &.btn__cyan {
//     background : #00BCD8 !important;
//   }
//   &.btn__orange {
//     background : $primoryColor !important;
//   }
// }
//
// .btn {
//   padding        : 0 8px !important;
//   padding-top    : 0px !important;
//   opacity        : 1;
//   box-shadow     : 0 2px 5px 0 rgba(0, 0, 0, .26);
//   border         : 0;
//   &.inactive {
//     opacity : .5;
//     cursor  : default;
//   }
//   &.btn__cyan {
//     background : #00BCD8 !important;
//   }
//   &.btn__orange {
//     background : $primoryColor !important;
//   }
// }
//
// .btn.btn__noShadow {
//   box-shadow   : none;
//   margin-right : 5px;
// }
