fieldset[disabled] .form-control,
.form-control-wrapper .form-control,
.form-control {
  &,
  &:focus,
  &.focus {
    &:not(textarea) {
      height: 28px;
    }
    padding      : 0;
    float        : none;
    border       : 0;
    box-shadow   : none;
    border-radius: 0;
    background   : transparent;
    &:disabled {
      border-style: dashed;
    }
  }
}

select[multiple].form-control {
  &,
  &:focus,
  &.focus {
    height: 85px;
  }
}

.form-control-wrapper {
  position: relative;

  .form-control:focus,
  .form-control.focus {
    outline: none;
  }

  .floating-label {
    position      : absolute;
    pointer-events: none;
    left          : 0;
    top           : 5px;
    transition    : 0.2s ease all;
    opacity       : 0;
    font-size     : 15px;
    color         : rgba(0,0,0,0.87);
    line-height   : 24px;
  }
  .form-control:not(.empty) ~ .floating-label {
    top        : -20px;
    opacity    : 1;
    font-size  : 12px;
    color      : #1fc4d9;
    line-height: 16px;
  }
  .form-control:not(.empty) {
    border-color: $primoryColor;
  }
  .form-control:focus:invalid ~ .floating-label,
  .form-control.focus:invalid ~ .floating-label {

  }
  .form-control:focus ~ .material-input:after,
  .form-control.focus ~ .material-input:after {

  }
  .form-control:focus:invalid ~ .material-input,
  .form-control.focus:invalid ~ .material-input {
    &:before,
    &:after {

    }
  }
  .form-control.empty ~ .floating-label {
    opacity: 1;
  }
  .material-input:before {
    position  : absolute;
    content   : "";
    width     : 100%;
    left      : 0;
    height    : 2px;
    bottom    : -1px;
    transform : scaleX(0);
    transition: transform 0s;
  }
  .form-control:focus ~ .material-input:before,
  .form-control.focus ~ .material-input:before {
    transform : scaleX(1);
    transition: transform 0.2s ease-out;
  }
  .material-input:after {
    content         : "";
    position        : absolute;
    height          : 18px;
    width           : 100px;
    margin-top      : -1px;
    top             : 7px;
    left            : 0;
    pointer-events  : none;
    opacity         : 0.9;
    transform-origin: left;
  }
  .input-lg ~ .material-input:after {
    height: 26px;
  }
  textarea {
    resize: none;
  }
  textarea ~ .form-control-highlight {
    margin-top: -11px;
  }

  /* active state */
  .form-control:focus ~ .material-input:after,
  .form-control.focus ~ .material-input:after {
    animation          : input-highlight 0.3s ease;
    animation-fill-mode: forwards;
    opacity            : 0;
  }

  select ~ .material-input:after {
    display: none;
  }
}

.input-group {
  .form-control-wrapper {
    .form-control {
      float: none;
    }
    margin-right: 5px;
    margin-left : 5px;
    bottom      : -10px;
  }
  .input-group-addon {
    border: 0;
  }
  .input-group-btn .btn {
    border-radius: 4px;
  }
}

select.form-control {
  border       : 0;
  box-shadow   : none;
  border-radius: 0;
  &:focus,
  &.focus {
    box-shadow  : none;
    border-color: #757575;
  }
}

@mixin keyframe-input-highlight() {
  0% {
    left     : 20%;
    transform: scaleX(20%);
  }
  99% {
    transform: scaleX(0);
    left     : 0;
    opacity  : 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes input-highlight {
  @include keyframe-input-highlight()
}

// Input files (kinda hack)
.form-control-wrapper input[type=file] {
  opacity : 0;
  position: absolute;
  top     : 0;
  right   : 0;
  bottom  : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
  z-index : 100;
}

.com__input-item {
  position     : relative;
  height       : 66px;
  margin-bottom: 6px;
  &.error {
    hr {
      border-bottom: 1px solid #f50057 !important;
    }
    .error__msg {
      display : block;
      position: absolute;
      top     : 36px;
      left: 0;
      font-size: 11px;
      color: #F50057;
      line-height: 16px;
    }
  }
  .error__msg {
    display: none;
  }
  hr {
    position     : absolute;
    top          : 19px;
    left         : 0;
    height       : 1px;
    border       : none;
    border-bottom: 1px solid $primoryColor;
    display      : block;
    width        : 100%;
  }
  &.empty {
    hr {
      border-bottom: 1px solid rgba(0,0,0,0.26);
    }
  }
  input {
    margin-bottom: 6px;
    margin-bottom: 40px;
    width        : 100%;
    line-height  : 24px;
    position     : absolute;
    top          : -6px;
    left         : 0;
    border-bottom: none;
  }
  input:not(.empty) {
    border-color: $primoryColor;
  }
  input:not(.empty) ~ .floating-label {
    font-size  : 12px;
    line-height: 16px;
    color      : $primoryColor;
    top        : -27px;
  }
  .floating-label {
    font-size  : 15px;
    color      : rgba(0,0,0,0.26);
    line-height: 24px;
    top        : -6px;
  }
}
