<!-- Start of adconsult Zendesk Widget script -->
<script>/*<![CDATA[*/
//window.zEmbed || function (e, t) {
//    var n, o, d, i, s, a = [], r = document.createElement("iframe");
//    window.zEmbed = function () {a.push(arguments)}, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
//    try{
//        o = s
//    }catch (c){
//        n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
//    }
//    o.open()._l = function () {
//        var o = this.createElement("script");
//        n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = + new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
//    }, o.write('<body onload="document._l();">'), o.close()
//}("https://assets.zendesk.com/embeddable_framework/main.js", "adconsult.zendesk.com");
/*]]>*/</script>
<!-- End of adconsult Zendesk Widget script -->
<style>
    a#reformal_tab img {
        width          : 130px;
        padding-bottom : 10px;
        display        : none;
    }

    .phoneHelp {
        text-align       : center;
        background-color : #fb9251;
        border-radius    : 5px 5px 0px 0px;
        line-height      : 34px;
        padding-bottom   : 5px;
        padding-top      : 5px;
        font-size        : x-large;
        color            : white;
    }

    #reformal_widget {
        background-color : #fb9251 !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
    var reformalOptions = {
        project_id: 973629,
        project_host: "adonline2016.reformal.ru",
        tab_orientation: "bottom-left",
        tab_indent: "10px",
        tab_image_url: "http://media.reformal.ru/bundles/iiwidget/i/tabcustom_noimage.png",
        tab_is_custom: true
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
        $(document).on('click', 'a#reformal_tab', function () {
            var intervalValidBlock;
            intervalValidBlock = setInterval(function () {
                if ($("#reformal_widget").length){
                    if (! $("#reformal_widget .phoneHelp").length){
                        $("#reformal_widget").prepend($("<div class='phoneHelp'>Служба поддержки ADCONSULT.ONLINE +7 926 97 33 623</div>"));
                    }
                    clearInterval(intervalValidBlock);
                }
            }, 100);
        });
    });
</script>
<noscript>
  <a href="http://reformal.ru">
    <img src="http://media.reformal.ru/reformal.png"/>
  </a>
  <a href="http://adonline2016.reformal.ru">
    Oтзывы и предложения для ADCONSULT.ONLINE
  </a>
</noscript>