<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try{
                w.yaCounter31766016 = new Ya.Metrika({
                    id                 : 31766016,
                    clickmap           : true,
                    trackLinks         : true,
                    accurateTrackBounce: true,
                    webvisor           : true
                });
            }catch (e){
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]"){
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/31766016" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<script type="text/javascript">
    pageLoad(function(){
//        $(document).on('click', '.ya_auth_sign_in', function () {
//            yaCounter31766016.reachGoal('AUTH_SIGN_IN'); //кнопка авторизации
//        });
//
//        if ($('.ya_course_unsigned_visit').length != 0) {
//            setTimeout(function(){ yaCounter31766016.reachGoal('COURSE_UNSIGNED_VISIT')}, 1000); //посещение страницы курса когда пользователь на него не подписан
//        }
    });
</script>