<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edbox</title>
  <%= javascript_include_tag 'application' %>
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=latin,cyrillic" rel="stylesheet">
  <link href="/assets/application.css" rel="stylesheet">
</head>
<body>

<%= yield %>
</body>
</html>
