@font-face {
  font-family : 'scriptoIcon';
  src         : url('/scripto/ico/icomoon.eot'); /* IE9 Compat Modes */
  src         : url('/scripto/ico/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/scripto/ico/icomoon.woff') format('woff'), /* Pretty Modern Browsers */ url('/scripto/ico/icomoon.ttf') format('truetype'), /* Safari, Android, iOS */ url('/scripto/ico/icomoon.svg#Icons') format('svg'); /* Legacy iOS */
}

// иконки категорий 
[class*="scripto-"]{
  font-family: 'scriptoIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
///////

.scripto-900:before {
  content: "\e900";
}
.scripto-901:before {
  content: "\e901";
}
.scripto-902:before {
  content: "\e902";
}
.scripto-903:before {
  content: "\e903";
}
.scripto-904:before {
  content: "\e904";
}
.scripto-905:before {
  content: "\e905";
}
.scripto-906:before {
  content: "\e906";
}
.scripto-907:before {
  content: "\e907";
}

#inner_scripto{
  background-color: white;
  min-height: 100%;
  padding-top: 48px;
}
#scripto{
  width: 100%;
  // max-width: 1280px;
  .card_welcome{
    .title{
      text-align: center;
      margin-bottom: 21px;
      font-size: 24px;
      line-height: 32px;
    }
    .description{
      text-align: center;
      display: block;
      width: 650px;
      margin: 0 auto;
      font-size: 15px;
      line-height: 24px;
    }
  }
  .card_items{
    max-width: 100%;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    .item{
      display: flex;
      min-width: 244px;
      max-width: 244px;
      height: 98px;
      background: #FFF;
      border-radius: 2px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
      margin-right: 14px;
      margin-bottom: 16px;
      padding: 12px;
      cursor: pointer;
      position: relative;
      &.open_animate{
        transition-duration: 0.5s;
        transition-property: transform;
        transform: rotateY(180deg) scale(1.1);
        animation: animationFrames linear 0.5s;
        animation-iteration-count: 1;
        // animation-delay: 0.5s;
        animation-direction: alternate;
        background-color: rgba(0, 0, 0, 0.54) !important;
        // .card_item__description{
        //   transition-duration: 1s;
        //   transition-property: transform;
        //   display: flex !important;
        // }
        .title{
          display: none;
        }
      }
      &[data-open="true"]{
        background-color: #f0f0f0;
      }
      &[data-open="false"]{
        background-image: url(/scripto/bg.png);
        background-size: cover;
      }
      .count{
        position: absolute;
        right: 12px;
        bottom: 8px;
        border: 1px solid;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 10px;
        text-align: center;
        line-height: 22px;
        color: white;
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
      .title{
        font-weight: 600;
      }
      &:not(.open_animate):hover{
        transition-duration: 0.3s;
        transition-property: transform;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      &.back_item{
        display: none;
        background-color: inherit;
        border: 1px solid;
        border-color: $primaryColor;
        box-shadow: inherit;
        i.back{
          width: 100%;
          text-align: center;
          padding-top: 24px;
          font-size: 24px;
          &:before{
            content: "\e893";
            border: 1px solid;
            padding: 8px;
            // background-color: #e1e1e1;
            border-radius: 50%;
            border-color: $primaryColor;
            color: $primaryColor;
          }
        }
      }
    }
    .card_info_block{
      display: none;
    }
    .card_item__description{
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.54);
      top: 0;
      left: 0;
      z-index: 200;
      justify-content: center;
      align-items: center;
      .inner_content{
        width: 800px;
        height: auto;
        padding: 32px 24px 8px;
        position: relative;
        display: block;
        background: #FFF;
        border-radius: 2px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
        margin: 0 auto;
        padding-bottom: 30px;
        .text{
          position: relative;
          max-height: 500px;
          overflow: auto;
        }
      }
      .close{
        position: absolute;
        top: 0;
        font: 300 42px/1 'Roboto';
        color: rgba(23, 23, 23, 0.68);
        cursor: pointer;
        float: right;
        right: 12px;
      }
    }
  }
  .blur_content{

  }
  .card_categories{
    text-align: center;
    border: 1px solid;
    margin: 8px;
    border-radius: 4px;
    border-color: $primaryColor;
    padding: 16px;
    position: fixed;
    width: calc(100% - 16px);
    background-color: #fff;
    bottom: 0;
    .card_setting_profile{
      position: absolute;
      right: 12px;
      cursor: pointer;
    }
    .item {
      display: inline-block;
      width: 140px;
      height: 180px;
      background: #FFF;
      border-radius: 2px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
      margin-right: 16px;
      padding: 14px;
      cursor: pointer;
      // i.icon::before{ content: '\e660'; }
      // &:hover{
      //   transition-duration: 0.3s;
      //   transition-property: transform;
      //   -webkit-transform: scale(1.1);
      //   transform: scale(1.1);
      // }
      &:last-child{
        margin-right: 0px;
      }
      .item_icon{
        margin-top: 35px;
        img.active{
          display: none;
        }
      }
      .title{
        height: 64px;
        display: table-cell;
        vertical-align: bottom;
      }
      &.active{
        background: $primaryColor;
        color: #fff;
        .item_icon{
          img.default{
            display: none;
          }
          img.active{
            display: inline-block;
          }
        }
      }
    }
  }

}
.popupProfile{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  top: 0;
  left: 0;
  z-index: 200;
  justify-content: center;
  align-items: center;
  .inner_content{
    width: 480px;
    height: auto;
    padding: 32px 24px 8px;
    position: relative;
    display: block;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    padding-bottom: 30px;
    input{
      font-size: 13px;
      line-height: 20px;
      display: block;
      border: none;
      background: none;
      height: 32px;
      width: 100%;
      border-bottom: 1px solid #E0E0E0;
      position: relative;
      z-index: 10;
    }
    .companyName{
      margin-bottom: 24px;
    }
  }
}

// @-o-keyframes animationFrames {
//   0% {
//     transform: rotateY(180deg);
//   }
//   100% {
//     -o-transform:  translate(200px,0px)  rotate(180deg) ;
//   }
// }

@keyframes animationFrames{
  25% {
    font-size: 0px;
  }
  50%, 100% {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    justify-content: center;
    align-items: center;
    min-width: 100%; 
    max-width: 100%; 
  }
}

// @-moz-keyframes animationFrames{
//   0% {
//     -moz-transform:  translate(0px,0px)  rotate(1deg) ;
//   }
//   100% {
//     -moz-transform:  translate(200px,0px)  rotate(180deg) ;
//   }
// }

// @-webkit-keyframes animationFrames {
//   0% {
//     -webkit-transform:  translate(0px,0px)  rotate(1deg) ;
//   }
//   100% {
//     -webkit-transform:  translate(200px,0px)  rotate(180deg) ;
//   }
// }

// @-o-keyframes animationFrames {
//   0% {
//     -o-transform:  translate(0px,0px)  rotate(1deg) ;
//   }
//   100% {
//     -o-transform:  translate(200px,0px)  rotate(180deg) ;
//   }
// }

// @-ms-keyframes animationFrames {
//   0% {
//     -ms-transform:  translate(0px,0px)  rotate(1deg) ;
//   }
//   100% {
//     -ms-transform:  translate(200px,0px)  rotate(180deg) ;
//   }
// }
